# Configuration file

Enchantment {
    I:Holding=100
    I:Multishot=101
}


General {
    # Set to true this to log when a block is dismantled.
    B:EnableDismantleLogging=false

    # Set to true to display death messages for any named entity.
    B:EnableGenericDeathMessage=true

    # Set to false to disable items on the ground from trying to stack. This can improve server performance.
    B:EnableItemStacking=true

    # Set to true to be informed of non-critical updates. You will still receive critical update notifications.
    B:EnableUpdateNotifications=true
}


Security {
    # Set to true to allow for Server Ops to access 'secure' blocks. Your players will be warned upon server connection.
    B:OpsCanAccessSecureBlocks=false
}


Version {
    S:Identifier=1.7.10R3.0.2
}


World {
    # This will flatten the bedrock layer.
    B:FlatBedrock=false

    # The number of layers of bedrock to flatten to. (Max: 8)
    I:FlatBedrockLayers=1

    # This allows for vanilla Minecraft ore generation to be REPLACED. Configure in the Vanilla.json file; vanilla defaults have been provided. If you rename the Vanilla.json file, this option WILL NOT WORK.
    B:ReplaceVanillaGeneration=false

    # If FlatBedrock is enabled, this will enforce it in previously generated chunks.
    B:RetroactiveFlatBedrock=false

    # This will retroactively generate ores in previously generated chunks.
    B:RetroactiveOreGeneration=false

    Tweaks {
        # Set this to a value > 1 to make trees grow more infrequently. Rate is 1 in N. Example: If this value is set to 3, trees will take 3x the time to grow, on average.
        I:TreeGrowthChance=1
    }

}


