# Configuration file

##########################################################################################################
# asm
#--------------------------------------------------------------------------------------------------------#
# ASM section
##########################################################################################################

asm {

    ##########################################################################################################
    # debug
    #--------------------------------------------------------------------------------------------------------#
    # Debug section
    ##########################################################################################################

    debug {
        # Enables all sorts of debug logging. (Don't use unless told to, breaks other things.) [default: false]
        B:debugMode=false

        # Disables ALL logging from GT++. [default: true]
        B:disableAllLogging=true
    }

}


