# Configuration file

blockdrops {
    # Drained shards have a 1 in X chance to drop. [range: 0 ~ 10000, default: 196]
    I:chanceToDropDrainedShard=196

    # Fluorite Ore has a 1 in X chance to drop from Limestone and a 1 in X*20 from Sandstone.. [range: 0 ~ 10000, default: 32]
    I:chanceToDropFluoriteOre=32
}


configurables {
    # How much RF is a single unit of EU worth? (Most mods use 4:1 ratio) [range: 1 ~ 1000, default: 4]
    I:rfUsedPerEUForUniversalBatteries=4
}


debug {
    # Enables all sorts of debug logging. (Don't use unless told to, breaks other things.) [default: false]
    B:debugMode=false

    # Disables EnderIO Integration. [default: false]
    B:disableEnderIO=false

    # Disables EnderIO Ingot Tooltips. These apparently may cause issues for a very small number of users. [default: false]
    B:disableEnderIOIngotTooltips=false

    # Dumps all GT++ and Toxic Everglade Data to en_US.lang in the config folder. This config option can be used by foreign players to generate blank .lang files, which they can populate with their language of choice. [default: false]
    B:dumpItemAndBlockData=false

    # Makes many machines display lots of debug logging. [default: false]
    B:enableMachineInfoLogging=false

    # Stops mod checking for updates. [default: true]
    B:enableUpdateChecker=false
    B:machineInfo=false

    # Makes all items hidden from NEI display. [default: false]
    B:showHiddenNEIItems=false
}


features {
    # Disables Zombie Reinforcement on hard difficutly. [default: false]
    B:disableZombieReinforcement=false
    B:enableCustomAlvearyBlocks=false

    # Enables Custom GT++ Cape. [default: true]
    B:enableSupporterCape=true
}


gregtech {
    # The Canonical Class-Names of TileEntities that should be ignored by the WorldAccelerator [default: [com.rwtema.extrautils.tileentity.enderquarry.TileEntityEnderQuarry]]
    S:BlacklistedTileEntiyClassNames <
        com.rwtema.extrautils.tileentity.enderquarry.TileEntityEnderQuarry
     >

    # These construct machine components. [default: true]
    B:enableComponentAssemblers=false

    # Adds custom circuits to expand past the Master Tier. Only really recommended to enable if enableOldGTcircuits is enabled. [default: false]
    B:enableCustomCircuits=false

    # Adds Custom GT Cables. [default: true]
    B:enableCustom_Cables=true

    # Adds Custom GT Fluid Pipes. [default: true]
    B:enableCustom_Pipes=true

    # These dehydrate stuff. [default: true]
    B:enableMachineDehydrators=true

    # Portable fluid tanks. [default: true]
    B:enableMachineFluidTanks=true

    # These may be overpowered, Consult a local geologist. [default: true]
    B:enableMachineGeothermalEngines=true

    # Pollution Detector & Scrubbers. [default: true]
    B:enableMachinePollution=true

    # Diesel egines with different internals, they consume less fuel overall. [default: true]
    B:enableMachineRocketEngines=true

    # These protect your goodies/rare stuff. [default: true]
    B:enableMachineSafes=true

    # Very basic automated cauldron for dust washing. [default: true]
    B:enableMachineSimpleWasher=true

    # Converts IC2 steam -> Railcraft steam. [default: true]
    B:enableMachineSteamConverter=true

    # Tesseracts for wireless item/fluid movement. [default: true]
    B:enableMachineTesseracts=true

    # Thermal Boiler from GT4. Can Filter Lava for resources. [default: true]
    B:enableMachineThermalBoiler=true

    # These allow boosting Block/TileEntity Tick times [OP]. [default: true]
    B:enableMachineWorldAccelerators=true

    # Adds Custom GT Shovels and Pickaxes which mine in a 3x3 style. One of each whill be generated for each Gregtech Material which has Dense Plates and Long Rods available. [default: true]
    B:enableMultiSizeTools=false

    # Required to smelt most high tier materials from GT++. Also smelts everything else to molten metal. [default: true]
    B:enableMultiblockAlloyBlastSmelter=true

    # Spin, Spin, Spiiiin. [default: true]
    B:enableMultiblockIndustrialCentrifuge=true

    # Pyro Oven Alternative, older, more realistic, better. [default: true]
    B:enableMultiblockIndustrialCokeOven=true

    # Electrolyzes things with extra bling factor. [default: true]
    B:enableMultiblockIndustrialElectrolyzer=true

    # A hyper efficient maceration tower, nets more bonus outputs. [default: true]
    B:enableMultiblockIndustrialMacerationStack=true

    # Industrial bendering machine thingo. [default: true]
    B:enableMultiblockIndustrialPlatePress=true

    # Produces fine wire and exotic cables. [default: true]
    B:enableMultiblockIndustrialWireMill=true

    # Skip the Bronze age, very slowly. [default: true]
    B:enableMultiblockIronBlastFurnace=false

    # For supplying large power grids. [default: true]
    B:enableMultiblockLiquidFluorideThoriumReactor=true

    # ?FAB?RIC?ATE MA?TT?ER. [default: true]
    B:enableMultiblockMatterFabricator=true

    # Tall tanks, each layer adds extra fluid storage. [default: true]
    B:enableMultiblockMultiTank=true

    # For managing large power grids. [default: true]
    B:enableMultiblockPowerSubstation=true

    # COMET - Scientific Cyclotron. [default: true]
    B:enableMultiblock_Cyclotron=true

    # Very fast and efficient Cutting Machine. [default: true]
    B:enableMultiblock_IndustrialCuttingMachine=true

    # Very fast and efficient Extruding Machine. [default: true]
    B:enableMultiblock_IndustrialExtrudingMachine=true

    # Fish the seas, except on land. [default: true]
    B:enableMultiblock_IndustrialFishingPort=true

    # Can run recipes for 9 different types of machines. [default: true]
    B:enableMultiblock_IndustrialMultiMachine=true

    # Large scale sifting. [default: true]
    B:enableMultiblock_IndustrialSifter=true

    # Your warm spin for the ore thing. [default: true]
    B:enableMultiblock_IndustrialThermalCentrifuge=true

    # Used to wash the dirt, riiiiight offff.. [default: true]
    B:enableMultiblock_IndustrialWashPlant=true

    # Can Assemble, Disassemble and Craft Project data from Data Sticks. [default: true]
    B:enableMultiblock_LargeAutoCrafter=true

    # Refines molten chemicals into nuclear fuels. [default: true]
    B:enableMultiblock_NuclearFuelRefinery=true

    # Restores the old Nitro-Diesel recipes. [default: false]
    B:enableNitroFix=false

    # Restores circuits and their recipes from Pre-5.09.28 times. [default: false]
    B:enableOldGTcircuits=false

    # Adds Custom GT Tools, called Skookum Choochers, functioning as a hard hammer and a wrench. [default: true]
    B:enableSkookumChoochers=true

    # These may be overpowered, Consult a local electrician. [default: false]
    B:enableSolarGenerators=false
}


machines {
    # Sets the steam per second value in LV,MV,HV boilers (respectively 1x,2x,3x this number for the tiers) [range: 0 ~ 10000, default: 750]
    I:boilerSteamPerSecond=250

    # Alkaluscraft Related - Removes IC2 Cables Except glass fibre. Few other Misc Tweaks. [default: false]
    B:disableIC2Recipes=false

    # Adds a non-Antimony using Battery Alloy. Not Balanced at all.. [default: false]
    B:enableAlternativeBatteryAlloy=false

    # Utilizes Neutronium instead. [default: false]
    B:enableAlternativeDivisionSigilRecipe=false

    # Allows the use of TC shards across many recipes by oreDicting them into a common group. [default: false]
    B:enableThaumcraftShardUnification=false
}


worldgen {
    # The biome within the Dark Dimension. [range: 1 ~ 254, default: 238]
    I:darkbiome_ID=199

    # The ID of the Dark Dimension. [range: 1 ~ 254, default: 227]
    I:darkworld_ID=227
}


