# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General section
##########################################################################################################

general {

    ##########################################################################################################
    # debug
    #--------------------------------------------------------------------------------------------------------#
    # Debug section
    ##########################################################################################################

    debug {
        # Makes many machines display lots of debug logging. [default: false]
        B:MachineInfo=false

        # Dumps all GT++ and Toxic Everglade Data to en_US.lang in the config folder. This config option can be used by foreign players to generate blank .lang files, which they can populate with their language of choice. [default: false]
        B:dumpItemAndBlockData=false
    }

    ##########################################################################################################
    # features
    #--------------------------------------------------------------------------------------------------------#
    # Features section
    ##########################################################################################################

    features {
        # Hides every filled IC2 Universal Cell from NEI. [default: true]
        B:hideUniversalCells=true
    }

    ##########################################################################################################
    # visual
    #--------------------------------------------------------------------------------------------------------#
    # Visual section
    ##########################################################################################################

    visual {
        # Enables Animated GT++ Textures [default: true]
        B:enableAnimatedTextures=true

        # Use GT textures [default: true]
        B:useGregtechTextures=true
    }

    ##########################################################################################################
    # worldgen
    #--------------------------------------------------------------------------------------------------------#
    # Worldgen section
    ##########################################################################################################

    worldgen {
        # The biome within the Toxic Everglades. [range: -2147483648 ~ 2147483647, default: 199]
        I:EVERGLADESBIOME_ID=199

        # The ID of the Toxic Everglades. [range: -2147483648 ~ 2147483647, default: 227]
        I:EVERGLADES_ID=227
    }

}


