# Configuration file

credits_screen {
    # Minimum fuzzy-match score for a person name to appear in fuzzy filter results. Lower is stricter. [range: 0.0 ~ 1000.0, default: 30.0]
    S:fuzzyThreshold=30.0

    # Resource location of the credits screen logo texture (domain:path). [default: gtnhcredits:textures/gui/credits/logo.png]
    S:logo=gtnhcredits:textures/gui/credits/logo.png
}


menu_button {
    # Button X position. >= 0: relative to left. < 0: relative to right. [range: -10000 ~ 10000, default: -18]
    I:buttonX=-18

    # Button Y position. >= 0: relative to top < 0: relative to bottom. [range: -10000 ~ 10000, default: -18]
    I:buttonY=-18

    # Show the Credits button in the vanilla main menu. [default: false]
    B:enabled=false

    # Resource location of the button icon texture (domain:path). Leave empty for none. [default: ]
    S:icon=
}


