# Blacklist everything from root of repo onwards.
*/*

# Whitelist repo files in the root dir.
!.gitattributes
!.gitignore
!Changelog.txt
!LICENSE
!README.md

# Whitelist config & scripts folders
!config/*
!scripts/*

##################################################################
##Blacklist all folders not modified by GT:NH team either at all
##or partially. The asterisk is important to be able to negate
##actually modified (or blacklisted) entries later on...
##################################################################

config/AE2Stuff/
config/AppliedEnergistics2/*
config/biomesoplenty/*
config/BloodMagic/
config/books/
config/buildcraft/*
config/cofh/*
config/draconicevolution/
config/endercore/
config/enderio/*
config/enderzoo/*
config/EnhancedLootBags/*
config/EnhancedPortals/
config/forestry/*
config/Galacticraft/*
config/GregTech/*
config/HungerOverhaul/*
config/INpureProjects/
config/NEI/
config/railcraft/*
config/SlimeKnights/
config/SpiceOfLife/
config/Spmod/
config/warptheory/

#Whitelist files modified by GT:NH from above list
!config/AppliedEnergistics2/AppliedEnergistics2.cfg
!config/AppliedEnergistics2/extracells.cfg
!config/biomesoplenty/biomeweights.cfg
!config/biomesoplenty/ids.cfg
!config/biomesoplenty/terraingen.cfg
!config/buildcraft/main.cfg
!config/cofh/core/common.cfg
!config/enderio/*_User.xml
!config/enderio/AlloySmelterRecipes_Core.xml
!config/enderio/EnderIO.cfg
!config/enderio/VatRecipes_Core.xml
!config/enderzoo/EnderZoo.cfg
!config/EnhancedLootBags/LootBags.xml
!config/forestry/apiculture.conf
!config/forestry/backpacks.cfg
!config/forestry/common.conf
!config/forestry/modules.cfg
!config/Galacticraft/GSplanets.conf
!config/Galacticraft/core.conf
!config/Galacticraft/planets.conf
!config/Galacticraft/power-GC3.conf
!config/GregTech/GregTech.cfg
!config/GregTech/MachineStats.cfg
!config/GregTech/OverpoweredStuff.cfg
!config/GregTech/Recipes.cfg
!config/GregTech/WorldGeneration.cfg
!config/GregTech/Unification.cfg
!config/HungerOverhaul/HungerOverhaul.cfg
!config/railcraft/blocks.cfg
!config/railcraft/railcraft.cfg

######################################
##Ignore files not modified by GT:NH
######################################

config/AppleCore.cfg
config/asielib.cfg
config/Automagy.cfg
config/AWWayofTime.cfg
config/Baubles.cfg
config/BiblioCraft.cfg
config/DummyCore.cfg
config/fastcraft.ini
config/FloodLights.cfg
config/forge.cfg
config/forgeChunkLoading.cfg
config/ForgeRelocation.cfg
config/HardcoreEnderExpansion.clientsave.cfg
config/harvestthenether.cfg
config/IC2NuclearControl.cfg
config/IGWMod.cfg
config/InvTweaks.cfg
config/InvTweaksRules.txt
config/InvTweaksTree.txt
config/IronChest.cfg
config/ironchestminecarts.cfg
config/journeymap_ModInfo.cfg
config/LavaMonsters.cfg
config/LunatriusCore.cfg
config/MapWriter.cfg
config/MapWriterBlockColourOverrides.txt
config/MapWriterBlockColours.txt
config/MCFrames.cfg
config/Morpheus.cfg
config/MrTJPCore.cfg
config/multipart.cfg
config/Natura-Dynamic.json
config/neiintegration.cfg
config/OpenEye.json
config/OpenMods.cfg
config/OpenModsLibCore.json
config/openmodularturrets.cfg
config/openprinter.cfg
config/opensecurity.cfg
config/Opis.cfg
config/PluginMetrics.cfg
config/ProjectBlue.cfg
config/RIO.cfg
config/Schematica.cfg
config/splash.properties
config/StevesAddons.cfg
config/StorageDrawers.cfg
config/tcnodetracker.cfg
config/thaumcraftneiplugin.cfg
config/Thaumic\ Bases.cfg
config/thaumicenergistics.cfg
config/ThaumicExploration.cfg
config/ThaumicHorizons.cfg
config/ThaumicMachina.cfg
config/TinkersModules.cfg
config/TMechworks.cfg
config/UtilityMobs.cfg
config/WailaHarvestability.cfg
config/wailaplugins.cfg
config/WirelessRedstone.cfg
config/witchery_debug.cfg

#################################################
## HQM files are distributed via solder instead
#################################################

#Ignores in dir(s) everything...
config/hqm/*
#except file(s)
!config/hqm/hqmconfig.cfg

#########
## Misc
#########

*.bat
*.sh
*.ser
*.lnk

######################################
## Remove MAC OSX generated garbage
######################################

*/.DS_Store
.DS_Store
.DS_Store?
.Trashes
Icon?

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

