# Configuration file

biome {

    icmod {

        "ice cream" {
            #  [default: true]
            B:"Allow Villages"=true

            #  [default: false]
            B:"Allow Volcanoes"=false

            # This setting controls the size of caves.
            # HIGHER values = BIGGER caves & MORE lag. (14 = vanilla cave density)
            # Set to -1 to use global setting. Set to 0 to disable caves for this biome.
            #  [range: -1 ~ 40, default: -1]
            I:"Cave Density"=-1

            # This setting controls the number of caves that generate.
            # LOWER values = MORE caves & MORE lag. (6 = vanilla cave frequency)
            # Set to -1 to use global setting. Set to 0 to disable caves for this biome.
            #  [range: -1 ~ 40, default: -1]
            I:"Cave Frequency"=-1

            # Cliff blocks are the blocks that are used on the cliffs of mountains (usually a blend of stone & cobblestone).
            # If you want to change this biome's cliff cobble block, enter a valid block ID here (e.g. minecraft:cobblestone).
            # For more info, visit http://minecraft.gamepedia.com/Data_values#Block_IDs [default: ]
            S:"RTG Surface: Cliff Cobble Block"=

            # If you're using a custom cliff cobble block, enter its numeric data value here.
            # For example, if you want to use red wool for this biome's cliff cobble block, you would enter minecraft:wool for the Cliff Cobble Block ID,
            # and you would enter 6 here, because red wool has a data value of 6. (For most blocks, this value will be 0.)
            # For more info, visit http://minecraft.gamepedia.com/Data_values [default: ]
            S:"RTG Surface: Cliff Cobble Block Meta"=

            # Cliff blocks are the blocks that are used on the cliffs of mountains (usually a blend of stone & cobblestone).
            # If you want to change this biome's cliff stone block, enter a valid block ID here (e.g. minecraft:stone).
            # For more info, visit http://minecraft.gamepedia.com/Data_values#Block_IDs [default: ]
            S:"RTG Surface: Cliff Stone Block"=

            # If you're using a custom cliff stone block, enter its numeric data value here.
            # For example, if you want to use red wool for this biome's cliff stone block, you would enter minecraft:wool for the Cliff Stone Block ID,
            # and you would enter 6 here, because red wool has a data value of 6. (For most blocks, this value will be 0.)
            # For more info, visit http://minecraft.gamepedia.com/Data_values [default: ]
            S:"RTG Surface: Cliff Stone Block Meta"=

            # If you want to change this biome's filler block (the block underneath the top block), enter a valid block ID here (e.g. minecraft:dirt).
            # For more info, visit http://minecraft.gamepedia.com/Data_values#Block_IDs [default: ]
            S:"RTG Surface: Filler Block"=

            # If you're using a custom filler block, enter its numeric data value here.
            # For example, if you want to use red wool for this biome's filler block, you would enter minecraft:wool for the Filler Block ID,
            # and you would enter 6 here, because red wool has a data value of 6. (For most blocks, this value will be 0.)
            # For more info, visit http://minecraft.gamepedia.com/Data_values [default: ]
            S:"RTG Surface: Filler Block Meta"=

            # If you want to change this biome's top block, enter a valid block ID here (e.g. minecraft:grass).
            # For more info, visit http://minecraft.gamepedia.com/Data_values#Block_IDs [default: ]
            S:"RTG Surface: Top Block"=

            # If you're using a custom top block, enter its numeric data value here.
            # For example, if you want to use red wool for this biome's top block, you would enter minecraft:wool for the Top Block ID,
            # and you would enter 6 here, because red wool has a data value of 6. (For most blocks, this value will be 0.)
            # For more info, visit http://minecraft.gamepedia.com/Data_values [default: ]
            S:"RTG Surface: Top Block Meta"=

            # This setting controls the number of ravines that generate.
            # LOWER values = MORE ravines & MORE lag. (50 = vanilla ravine frequency)
            # Set to -1 to use global setting. Set to 0 to disable ravines for this biome.
            #  [range: -1 ~ 100, default: -1]
            I:"Ravine Frequency"=-1

            # If FALSE, no RTG decorations will generate in this biome. Instead, only vanilla decorations will generate.
            # RTG decorations include custom trees, shrubs, boulders, etc. [default: true]
            B:"Use RTG Decorations"=true

            # If FALSE, no RTG surfaces will be used in this biome. Instead, only vanilla surfaces will be used.
            # RTG surfaces include custom top & filler blocks, and 'mix' blocks like podzol in Forests. [default: true]
            B:"Use RTG Surfaces"=true

            # 1/x chance that a volcano will generate if this biome has volcanoes enabled.
            # 1 = Always generate if possible; 2 = 50% chance; 4 = 25% chance
            # Set to -1 to use global setting. Set to 0 to disable volcanoes for this biome.
            #  [range: -1 ~ 2147483647, default: -1]
            I:"Volcano Chance"=-1
        }

    }

}


