# Configuration file

debug {
    B:ShowRenderErrors=false
}


mobhandler {
    # Hard player only loot (such as core mod drops) will be multiplied by this number
    D:PlayerOnlyDropsModifier=0.1

    # Allow for EEC to run with non-passive mobs in peaceful difficulty. Useful for weak hosting machines.
    B:ignorePeacefulCheck=true
}
