# Configuration file

"bug fixes" {
    # Makes several TEs from MrCrayfish's Furniture Mod implement ISidedInventory correctly. [default: true]
    B:fixCrayfishFurnitureNullPointerExceptions=true

    # Makes Gany's Surface trapdoors use the correct back texture when open. [default: true]
    B:fixGanysSurfaceOpenTrapdoorBackTexture=true

    # Prevents LLibrary from trying to get non-json text from pastebin that it would then try to parse as JSON. [default: true]
    B:fixLLibraryMalformedJsonCrash=true

    # Makes Thaumcraft candles not cause an array out of bounds exception if rendered with metadata greater than 15. [default: true]
    B:fixThaumcraftCandleColorArrayOutOfBounds=true

    # Makes Witchery Garlic Garlands use correct block bounds on every rotation. [default: true]
    B:fixWitcheryGarlicGarlandBlockBounds=true

    # Makes Witchery Leaves respect Optifine-like render settings.
    # Disabled if NotFine is installed, it implements this fix. [default: true]
    B:fixWitcheryLeavesOptifineRendering=true

    # Partially fixes a Forge shearing bug that impacts Witchery Leaves. [default: true]
    B:fixWitcheryLeavesShearDupe=true
}


"performance improvements" {
    # Makes Aether II reuse the same player renderer object across frames. [default: true]
    B:reuseAetherIIRenderPlayer=true
}


tweaks {
    # Disables MrCrayfish's Furniture Mod achievements. [default: false]
    B:disableCrayfishFurnitureAchievements=false

    # Blacklist entities from Extra Utilities Golden Lasso. [default: [noppes.npcs.entity.EntityCustomNpc]]
    S:extraUtilitiesGoldenLassoBlacklist <
        noppes.npcs.entity.EntityCustomNpc
     >

    # Filters Village Names Nitwit villagers from Extra Utilities Trading Post. [default: true]
    B:extraUtilitiesTradingPostVillageNamesNitwitFilter=true

    # Use a pastebin proxy to keep LLibrary from crashing with some regional blocks. [default: false]
    B:proxyLLibraryPastebin=false

    # Amount of flat player health to remove each darkness tick.
    # Set to 0 to disable. [range: 0.0 ~ 20000.0, default: 0.0]
    S:scaledExtraUtilitiesDarknessDamageMaxHealthFlat=0.0

    # Portion of max player health to remove each darkness tick.
    # Set to 0 to disable. [range: 0.0 ~ 1.0, default: 0.0]
    S:scaledExtraUtilitiesDarknessDamageMaxHealthMult=0.0
}


