# Configuration file

##########################################################################################################
# compatibility
#--------------------------------------------------------------------------------------------------------#
# Compatibility Settings
##########################################################################################################

compatibility {
    # Enable Client Bridge
    B:clientBridge=false
    S:clientBridgeMessageToken=[IG]
    S:clientBridgeNickToken=

    # Disable Chat Toggle
    B:disableChatToggle=false

    # Vanilla Chat
    B:vanillaChat=true
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# Basic EiraIRC Settings
##########################################################################################################

general {
    # Persistent Connection
    B:persistentConnection=true

    # If set to true, EiraIRC will link commands such as /join, /msg or /nick to it's /irc <command> variants for quicker usage.
    B:registerShortCommands=true

    # Show Welcome Screen
    B:showWelcomeScreen=false
}


##########################################################################################################
# notifications
#--------------------------------------------------------------------------------------------------------#
# Notification Settings
##########################################################################################################

notifications {
    # Friend Joined
    S:friendJoined=TextOnly

    # Name Mentioned
    S:nameMentioned=TextAndSound

    # Private Message
    S:privateMessage=TextOnly

    # Notification Sound
    S:soundName=note.harp

    # Notification Pitch
    S:soundPitch=1.0

    # Notification Volume
    S:soundVolume=1.0
    S:userRecording=TextAndSound
}


##########################################################################################################
# screenshots
#--------------------------------------------------------------------------------------------------------#
# Screenshot Settings
##########################################################################################################

screenshots {
    # Auto-Perform-Action
    S:autoAction=None

    # If set to true, clicking an image link in the chat will open a preview screen inside Minecraft.
    B:imageLinkPreview=true

    # Buffer Size
    I:uploadBufferSize=1024

    # Upload Hoster
    S:uploadHoster=
}


