# Configuration file

##########################################################################################################
# bot
#--------------------------------------------------------------------------------------------------------#
# Bot settings and behaviour for the IRC chat. Can be overridden by servers and channels.
##########################################################################################################

bot {
    # If set to true, private messages can be sent and received from this IRC context.
    B:allowPrivateMessages=true

    # If set to true, colors from this IRC context will be translated into Minecraft colors and vice-versa.
    B:convertColors=true

    # The description for your IRC user. No effect in channels.
    S:description=EiraIRC Bot

    # The list of minecraft commands (such as /stop) that are disabled for InterOp.
    S:disabledInterOpCommands <
     >

    # The list of IRC commands (such as !who) that are disabled. Supports "*" for all.
    S:disabledNativeCommands <
     >

    # If set to true, links from this IRC context will be replaced by <removed link>.
    B:filterLinks=false

    # If set to true, NOTICE messages from this IRC context will only be printed in the console.
    B:hideNotices=false

    # The ident for your IRC user. No effect in channels.
    S:ident=EiraIRC

    # Allows the usage of InterOp commands between Minecraft and IRC.
    B:interOp=true

    # The list of IRC auth usernames that may run InterOp commands from IRC.
    S:interOpAuthList <
     >

    # Format error: The format to put the nick in (previously nickPrefix and nickSuffix). %s will be replaced by the nick. No effect in channels. Example: %s-IG
    S:mcNickFormat=%s

    # The name to the message format used to display chat messages. See /eirairc/formats/.
    S:messageFormat=S-Light

    # The message shown to others when you leave IRC.
    S:quitMessage=Lycopene~

    # If set to true, Minecraft server broadcasts (/say) will be sent to this IRC context.
    B:relayBroadcasts=true

    # If set to true, Minecraft death messages will be sent to this IRC context.
    B:relayDeathMessages=false

    # If set to true, IRC join/leave messages from this IRC context will be sent to Minecraft chat.
    B:relayIRCJoinLeave=true

    # If set to true, Minecraft join/leave messages will be sent to this IRC context.
    B:relayMinecraftJoinLeave=false

    # If set to true, IRC nick changes from this IRC context will be sent to Minecraft chat.
    B:relayNickChanges=true

    # If set to true, users who join this IRC context will be sent a list of all online Minecraft players.
    B:sendAutoWho=false
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# Basic EiraIRC Settings
##########################################################################################################

general {
    # A list of colors that players are not allowed to use as name colors when using the '/irc color' command.
    S:colorBlacklist <
        black
        darkgray
     >

    # [Advanced] If set to true, raw IRC messages will be printed into the log for investigation purposes.
    B:debugMode=false

    # Default Chat
    S:defaultChat=Minecraft

    # [Deprecated] If set to true, OPs can assign an alias for a MC nick that will be used instead.
    B:enablePlayerAliases=false

    # If set to true, players can use the '/irc color' command to set a color for their MC nick. See also: colorBlacklist
    B:enablePlayerColors=true

    # If set to true, EiraIRC will attempt to strip player name tags such as [Admin] (that were added by other mods) when sending to IRC.
    B:hidePlayerTags=false

    # This adds an invisible character to player names sent to IRC to prevent pinging those users of the same name on IRC. Thanks to Simon Meskens!
    B:preventUserPing=false
}


##########################################################################################################
# network
#--------------------------------------------------------------------------------------------------------#
# Advanced network settings to configure SSL usage and proxies
##########################################################################################################

network {
    # [Advanced] The IP address to use for outgoing connections.
    S:bindIP=

    # [Advanced] The address to a proxy you want connections to go through.
    S:proxyHost=

    # [Advanced] The password to authenticate with the proxy, if necessary.
    S:proxyPassword=

    # [Advanced] The username to authenticate with the proxy, if necessary.
    S:proxyUsername=
    S:sslCustomTrustStore=

    # [Advanced] If set to true, disables DiffieHellman encryption for SSL connections to work around a Java issue.
    B:sslDisableDiffieHellman=true

    # [Advanced] If set to true, EiraIRC will accept all SSL certificates without checking the truststore.
    B:sslTrustAllCerts=false
}


##########################################################################################################
# settings
#--------------------------------------------------------------------------------------------------------#
# General settings for IRC connections. Can be overridden by servers and channels.
##########################################################################################################

settings {
    # If set to true, EiraIRC will automatically join this server / channel on startup.
    B:autoJoin=true

    # If set to true, EiraIRC will automatically print a list of all IRC users to the chat.
    B:autoWho=false

    # If set to true, EiraIRC will not show messages from this IRC context in chat at all.
    B:muted=false

    # If set to true, EiraIRC will only read messages from IRC, but never send any to this IRC context.
    B:readOnly=false

    # Should names be prefixed with @ for OPs and + for voice?
    B:showNameFlags=false
}


##########################################################################################################
# theme
#--------------------------------------------------------------------------------------------------------#
# Color settings for names and text in chat. Can be overridden by servers and channels.
##########################################################################################################

theme {
    # Color for emote messages.
    S:emoteTextColor=53

    # Color for default IRC names.
    S:ircNameColor=53

    # Color for IRC NOTICE messages.
    S:ircNoticeTextColor=53

    # Color for operator IRC names.
    S:ircOpNameColor=53

    # Color for IRC names in private chat.
    S:ircPrivateNameColor=53

    # Color for voiced IRC names.
    S:ircVoiceNameColor=53

    # Color for default Minecraft names.
    S:mcNameColor=53

    # Color for operator Minecraft names.
    S:mcOpNameColor=53
}


