# Configuration file

afk {
    # Enables afk timer.
    B:enabled=true

    # Enables afk timer in singleplayer.
    B:enabled_singleplayer=true

    # Will print in console when someone goes/comes back from AFK.
    B:log_afk=false

    # After how much time it will display notification to all players.
    S:notificationTimer=5m
}


auto_shutdown {
    # Enables auto-shutdown.
    B:enabled=false

    # Enables auto-shutdown in singleplayer worlds.
    B:enabled_singleplayer=false

    # Server will automatically shut down after X hours.
    # Time Format: HH:MM. If the system time matches a value, server will shut down.
    # It will look for closest value available that is not equal to current time.
    S:times <
        04:00
        16:00
     >
}


backups {
    # Path to backups folder.
    S:backup_folder_path=./backups/

    # Time between backups in hours. 
    # 1.0 - backups every hour 6.0 - backups every 6 hours 0.5 - backups every 30 minutes.
    S:backup_timer=0.5

    # Number of backup files to keep before deleting old ones.
    I:backups_to_keep=12

    # How much the backup file will be compressed. 1 - best speed 9 - smallest file size.
    I:compression_level=1

    # Prints (current size | total size) when backup is done
    B:display_file_size=true

    # Enables backups.
    B:enable_backups=false

    # Backups won't run if no players are online.
    B:need_online_players=true

    # Silence backup notifications.
    B:silent_backup=false

    # Run backup in a separated thread (recommended)
    B:use_separate_thread=true
}


chat {
    # Adds ~ to player names that have changed nickname to prevent trolling.
    B:add_nickname_tilde=false
}


commands {
    B:back=false
    B:backup=false
    B:chunks=false
    B:dump_chunkloaders=false
    B:dump_permissions=true
    B:fly=false
    B:god=false
    B:heal=false
    B:home=false
    B:inv=false
    B:kickme=false
    B:killall=false
    B:leaderboard=false
    B:mute=false
    B:nbtedit=false
    B:nick=false
    B:ranks=false
    B:rec=false
    B:rtp=false
    B:spawn=false
    B:tpa=false
    B:tpl=false
    B:trash_can=true
    B:warp=false
}


##########################################################################################################
# debugging
#--------------------------------------------------------------------------------------------------------#
# Don't set any values to true, unless you are debugging the mod.
##########################################################################################################

debugging {
    # See dev-only sidebar buttons. They probably don't do anything.
    B:dev_sidebar_buttons=false

    # See GUI widget bounds when you hold B.
    B:gui_widget_bounds=false

    # Print a message in console every time a chunk is forced or unforced. Recommended to be off, because spam.
    B:log_chunkloading=false

    # Log config editing.
    B:log_config_editing=false

    # Log all events that extend EventBase.
    B:log_events=false

    # Log incoming and outgoing network messages.
    B:log_network=false

    # Log player teleporting.
    B:log_teleport=false

    # Print more errors.
    B:print_more_errors=false

    # Print more info.
    B:print_more_info=false

    # Enables special debug commands.
    B:special_commands=false
}


general {
    # Merges player profiles, in case player logged in without internet connection/in offline mode server. If set to DEFAULT, it will only merge on singleplayer worlds.
    S:merge_offline_mode_players=true

    # This will replace /reload with ServerUtilities version of it.
    B:replace_reload_command=true
}


login {
    # Enables message of the day.
    B:enable_motd=false

    # Enables starting items.
    B:enable_starting_items=false

    # Message of the day. This will be displayed when player joins the server.
    S:motd <
        "Hello player!"
     >

    # Items to give player when they first join the server.
    # Format: '{id:"ID",Count:X,Damage:X,tag:{}}', Use /print_item to get NBT of item in your hand.
    S:starting_items <
     >
}


ranks {
    # Enables ranks and adds command.x permissions and allows ranks to control them.
    B:enabled=false

    # Adds chat colors/rank-specific syntax.
    B:override_chat=true

    # Allow to configure commands with ranks. Disable this if you want to use other permission mod for that.
    B:override_commands=true
}


team {
    # Automatically creates a team for player on multiplayer, based on their username and with a random color.
    B:autocreate_mp=false

    # Automatically creates (or joins) a team on singleplayer/LAN with ID 'singleplayer'.
    B:autocreate_sp=true
    B:disable_teams=false

    # Disable no team notification entirely.
    B:hide_team_notification=false
}


world {
    # Dimensions where chunk claiming isn't allowed.
    I:blocked_claiming_dimensions <
     >

    # Enables chunk claiming.
    B:chunk_claiming=false

    # Enables chunk loading. If chunk_claiming is set to false, changing this won't do anything.
    B:chunk_loading=false

    # Disables player damage when they are stuck in walls.
    B:disable_player_suffocation_damage=false

    # List of items that will have right-click function disabled on both sides.
    # You can use '/inv disable_right_click' command to do with from in-game.
    # Syntax: modid:item:metadata. Set metadata to * to ignore it.
    S:disabled_right_click_items <
     >

    # If set to DEFAULT, then teams can decide their Explosion setting.
    S:enable_explosions=true

    # If set to DEFAULT, then players can decide their PVP status.
    S:enable_pvp=true

    # Locked time in ticks in spawn dimension.
    # -1 - Disabled
    # 0 - Morning
    # 6000 - Noon
    # 12000 - Evening
    # 18000 - Midnight
    I:forced_spawn_dimension_time=-1

    # Locked weather type in spawn dimension.
    # -1 - Disabled
    # 0 - Clear
    # 1 - Raining
    # 2 - Thunderstorm
    I:forced_spawn_dimension_weather=-1

    # Max /rtp distance
    D:rtp_max_distance=100000.0

    # Max tries /rtp does before failure.
    I:rtp_max_tries=200

    # Min /rtp distance
    D:rtp_min_distance=1000.0

    # If set to true, explosions and hostile mobs in spawn area will be disabled, players won't be able to attack each other in spawn area.
    B:safe_spawn=false

    # Show play time in corner.
    B:show_playtime=false

    # Enable spawn area in singleplayer.
    B:spawn_area_in_sp=false

    # Spawn dimension. Overworld by default.
    I:spawn_dimension=0

    # Spawn radius. You must set spawn-protection in server.properties file to 0!
    I:spawn_radius=0

    # Unloads erroring chunks if dimension isn't loaded or some other problem occurs.
    B:unload_erroring_chunks=false

    ##########################################################################################################
    # logging
    #--------------------------------------------------------------------------------------------------------#
    # Logs different events in logs/world.log file.
    ##########################################################################################################

    logging {
        # Logs block breaking.
        B:block_broken=false

        # Logs block placement.
        B:block_placed=false

        # Enables chat logging.
        B:chat_enable=false

        # Enables world logging.
        B:enabled=false

        # Logs player attacks on other players/entites.
        B:entity_attacked=false

        # Exclude mobs from entity attack logging.
        B:exclude_mob_entity=false

        # Includes creative players in world logging.
        B:include_creative_players=false

        # Includes fake players in world logging.
        B:include_fake_players=false

        # Logs item clicking in air.
        B:item_clicked_in_air=false
    }

}


