# Configuration file

"assorted parameters" {
    B:ThaumcraftBiomesOn=true

    # Use biome in new worlds and dimensions
    B:ThaumcraftInNewDimensons=true
}


##########################################################################################################
# thaumcraftbiomeclimates
#--------------------------------------------------------------------------------------------------------#
# Climate Types are: SNOWY,COOL,WARM,HOT,OCEAN,DEEP_OCEANMEDIUM,PLAINS,LAND.  MEDIUM is COOL and WARM, PLAINS is COOL and WARM and HOT, LAND is all four land
##########################################################################################################

thaumcraftbiomeclimates {
    S:"Eerie climate"=DEFAULT
    S:"Magical Forest climate"=WARM
    S:"Tainted climate"=COOL
}


thaumcraftbiomeids {
    I:"Eerie ID"=190
    I:"Magical Forest ID"=192
    I:"Tainted ID"=193
}


thaumcraftbiomeincidences {
    I:"Eerie Incidence"=2
    I:"Magical Forest Incidence"=9
    I:"Tainted Incidence"=3
}


thaumcraftbiomevillages {
    B:"Eerie hasVillages"=false
    B:"Magical Forest hasVillages"=false
    B:"Tainted hasVillages"=false
}


