# Configuration file

debug {
    # Enable debug output to fml-client-latest.log [default: false]
    B:DoDebugMessages=false
}


main {
    # Define your Blocks here. Syntax is: [modID]:[BlockID];[DimID];... if you don't add a Dimension (e.g. minecraft:dirt) it will be denied in every dimension [default: ]
    S:BlockList <
        ExtraUtilities:enderThermicPump;0;
        ExtraUtilities:enderQuarry;0;
     >

    # Set this to true to prevent even Server-OPs/Admins from placing forbidden blocks and using forbidden items [default: false]
    B:DenyCreativeMode=false

    # Define your Items here. Syntax is: [modID]:[ItemID];[DimID];... if you don't add a Dimension (e.g. minecraft:dirt instead of minecraft:dirt;12) it will be denied in every dimension [default: ]
    S:ItemList <
        Avaritia:Endest_Pearl;0;-1;1;7;
        betterquesting:extra_life;
        gregtech:gt.metaitem.01:32405;
        gregtech:gt.metaitem.01:32406;
        gregtech:gt.metaitem.01:32407;
        gregtech:gt.metaitem.01:32408;
        gregtech:gt.metaitem.01:32409;
        gregtech:gt.metaitem.01:32410;
        gregtech:gt.metaitem.01:32411;
        gregtech:gt.metaitem.01:32412;
        gregtech:gt.metaitem.01:32413;
        TConstruct:buckets:24;0;-1;1;7;
        IguanaTweaksTConstruct:clayBucketsTinkers:24;0;-1;1;7;
        TwilightForest:item.tfspawnegg:182;0;-1;1;26;27;28;29;30;
        TwilightForest:item.tfspawnegg:189;0;-1;1;26;27;28;29;30;
        TwilightForest:item.tfspawnegg:190;0;-1;1;26;27;28;29;30;
        TwilightForest:item.tfspawnegg:205;0;-1;1;26;27;28;29;30;
        TwilightForest:item.tfspawnegg:217;0;-1;1;26;27;28;29;30;
        TwilightForest:item.tfspawnegg:224;0;-1;1;26;27;28;29;30;
        TwilightForest:item.tfspawnegg:226;0;-1;1;26;27;28;29;30;
        TwilightForest:item.tfspawnegg:231;0;-1;1;26;27;28;29;30;
     >

    # Define a few reject messages that are being sent to the player if they try to use a monitored item [default: [You can't use that here], [You are too jelly to use this], [The item seems to be broken...], [YOU SHALL NOT USE (this Item)]]
    S:ItemRejectMessages <
        You can't use that here
        You are too jelly to use this
        The item seems to be broken...
        YOU SHALL NOT USE (this Item)
     >

    # Leave it blank for no sound effect, or put in a valid sound-reference like this: [modID]:[soundeffectID] [default: minecraft:ambient.weather.thunder]
    S:PlaySFXOnBlockDeny=minecraft:ambient.weather.thunder

    # Leave it blank for no sound effect, or put in a valid sound-reference like this: [modID]:[soundeffectID] [default: minecraft:ambient.weather.thunder]
    S:PlaySFXOnItemDeny=minecraft:ambient.weather.thunder

    # Define a few reject messages that are being sent to the player if they try to place a monitored Block [default: [You can't place that here], [You are too jelly to place this], [The block doesn't want to be here], [YOU SHALL NOT PLACE (this Block)], [*poof*]]
    S:RejectMessages <
        You can't place that here
        You are too jelly to place this
        The block doesn't want to be here
        YOU SHALL NOT PLACE (this Block)
        *poof*
     >
}


