# Configuration file

debug {
    # Enable debug output to fml-client-latest.log [default: false]
    B:DoDebugMessages=false
}


limits {
    # The time (in ticks) the potion effect will remain on the player when he drops the bucket. 20 = 1 second [range: 100 ~ 2048, default: 100]
    I:PotionTimer=200
}


modfixes {
    # Set to true to enable the modfix for Avaritia SkullFireSword [default: false]
    B:AvaritiaFixEnabled=true

    # Set to true to enable OilSpawn from this Mod. Make sure to disable Oil-Spawn in BuildCraft if you do [default: false]
    B:GenerateOil=true

    # Set to true to allow Minetweaker to override the vanilla furnace fuel handler, allowing the burn value of WOOD material items to be changed. [default: true]
    B:MinetweakerFurnaceFixEnabled=true

    avaritia {
        # The Canonical Class-Name of the Entity [default: [net.minecraft.entity.monster.EntitySkeleton], [galaxyspace.SolarSystem.planets.venus.entities.EntityEvolvedFireSkeleton], [micdoodle8.mods.galacticraft.core.entities.EntityEvolvedSkeleton]]
        S:Avaritia_SkullFireSwordEntityTargets <
            net.minecraft.entity.monster.EntitySkeleton
            galaxyspace.SolarSystem.planets.venus.entities.EntityEvolvedFireSkeleton
            micdoodle8.mods.galacticraft.core.entities.EntityEvolvedSkeleton
            toast.specialMobs.entity.skeleton.Entity_SpecialSkeleton
            toast.specialMobs.entity.skeleton.EntityBrutishSkeleton
            toast.specialMobs.entity.skeleton.EntityFireSkeleton
            toast.specialMobs.entity.skeleton.EntityGatlingSkeleton
            toast.specialMobs.entity.skeleton.EntityGiantSkeleton
            toast.specialMobs.entity.skeleton.EntityNinjaSkeleton
            toast.specialMobs.entity.skeleton.EntityPoisonSkeleton
            toast.specialMobs.entity.skeleton.EntitySniperSkeleton
            toast.specialMobs.entity.skeleton.EntitySpitfireSkeleton
            toast.specialMobs.entity.skeleton.EntityThiefSkeleton
            twilightforest.entity.EntityTFSkeletonDruid
         >
    }

    ##########################################################################################################
    # oilgen
    #--------------------------------------------------------------------------------------------------------#
    # The OilgenChance is based on height of the biome. On high-y biomes, the basic chance is divided by 2, on low-y biomes like oceans, it is multiplied by 1.8.
    # The multiplier set here for -OilBoostBiomes- Biomes is applied after those multipliers are set.
    ##########################################################################################################

    oilgen {
        # Boost factor of oil spheres in certain Biomes that are listed in -OilBoostBiomes- [range: 0.0 ~ 50.0, default: 2.5]
        S:OilBiomeBoostFactor=3.5

        # List BiomeIDs (Numbers only; One per line!) where no oil should be generated [default: ]
        S:OilBiomeIDBlackList <
            16
            21
            29
            43
            44
            52
            62
            65
            76
            87
            97
            99
            107
            113
            123
            192
         >

        # List BiomeIDs (Numbers only; One per line!) where the boost multiplicator is applied. Leave empty to disable Biome-Boost [default: ]
        S:OilBoostBiomes <
            0
            2
            5
            12
            30
            32
            42
            45
            48
            51
            57
            58
            64
            70
            71
            92
            95
            104
            110
            115
            119
            122
            193
            202
            224
            225
            226
            228
            230
            235
         >

        # Threshold at which an oil-deposit will be considered as 'large' and the fountain will be higher and thicker. [range: 0 ~ 100, default: 14]
        I:OilDepositThresholdLarge=14

        # Threshold at which an oil-deposit will be considered as 'medium' and the fountain will be higher and thicker. [range: 0 ~ 100, default: 11]
        I:OilDepositThresholdMedium=11

        # The minimum distance of 2 Oil-Deposits in chunks. Modulo-Based; A 2 here means an deposit can only spawn in chunks that have a number that is a multiple of 2 (Chunknumber * 16 = X/Z coord) [range: 0 ~ 1024, default: 2]
        I:OilDepostMinDistance=2

        # List DimensionIDs (Numbers only; One per line!) here where the OilGenerator should do its work [default: [0]]
        S:OilDimensionWhitelist <
            0
         >

        # Visible height of the fountain above the oil-deposit for LARGE deposits [range: 0 ~ 100, default: 16]
        I:OilFountainSizeLarge=16

        # Visible height of the fountain above the oil-deposit for MEDIUM deposits [range: 0 ~ 100, default: 5]
        I:OilFountainSizeSmall=5

        # General OilGen factor [range: 0.0 ~ 2000.0, default: 30.0]
        S:OilSphereChance=60.0

        # The maximum radius of an underground OilSphere. The final size is calculated by OilSphereMinRadius + Random(OilSphereMaxSize-OilSphereMinRadius) [range: 3 ~ 50, default: 15]
        I:OilSphereMaxSize=15

        # The minimum radius of an underground OilSphere [range: 0 ~ 20, default: 8]
        I:OilSphereMinRadius=8
    }

}


modules {
    # If set to true, every op/admin will receive all errors occoured during the startup phase as ingame message on join [default: true]
    B:AdminErrorLog=true

    # A complete, full working example for a custom chest, with its own renderer for items and blocks, custom sound and a GUI [default: true]
    B:BabyChest=true

    # Set to true to enable CustomDrops module. This needs a separate config file which is created once you start with this setting enabled [default: false]
    B:CustomDrops=true

    # Set to true to enable CustomFuels module. Allows you to set burn-time values to almost any item [default: false]
    B:CustomFuels=true

    # Set to true to enable CustomToolTips module. This needs a separate config file which is created once you start with this setting enabled [default: false]
    B:CustomToolTips=true

    # Set to true to enable HazardousItems module. This needs a separate config file which is created once you start with this setting enabled [default: false]
    B:HazardousItems=true

    # Set to true to enable ItemInHandInfo module. If enabled, type /iih to display the item's name-info [default: false]
    B:ItemInHandInfo=true

    # Set to false to prevent the OreDict register for SpaceStones and SpaceDusts [default: true]
    B:OreDictItems=true

    worldaccelerator {
        # The Canonical Class-Names of TileEntities that should be ignored by the WorldAccelerator [default: [com.rwtema.extrautils.tileentity.enderquarry.TileEntityEnderQuarry]]
        S:BlacklistedTileEntiyClassNames <
            com.rwtema.extrautils.tileentity.enderquarry.TileEntityEnderQuarry
            advsolar.common.tiles.TileEntityUltimateSolarPanel
            advsolar.common.tiles.TileEntitySolarPanel
            advsolar.common.tiles.TileEntityQuantumSolarPanel
            advsolar.common.tiles.TileEntityHybridSolarPanel
            advsolar.common.tiles.TileEntityAdvancedSolarPanel
            com.supsolpans.tiles.TileAdminSolarPanel
            com.supsolpans.tiles.TilePhotonicSolarPanel
            com.supsolpans.tiles.TileSingularSolarPanel
            com.supsolpans.tiles.TileSpectralSolarPanel
            emt.tile.solar.air.TileEntityAirSolar
            emt.tile.solar.air.TileEntityDoubleAirSolar
            emt.tile.solar.air.TileEntityTripleAirSolar
            emt.tile.solar.compressed.TileEntityCompressedSolar
            emt.tile.solar.compressed.TileEntityDoubleCompressedSolar
            emt.tile.solar.compressed.TileEntityTripleCompressedSolar
            emt.tile.solar.dark.TileEntityDarkSolar
            emt.tile.solar.dark.TileEntityDoubleDarkSolar
            emt.tile.solar.dark.TileEntityTripleDarkSolar
            emt.tile.solar.earth.TileEntityDoubleEarthSolar
            emt.tile.solar.earth.TileEntityEarthSolar
            emt.tile.solar.earth.TileEntityTripleEarthSolar
            emt.tile.solar.fire.TileEntityDoubleFireSolar
            emt.tile.solar.fire.TileEntityFireSolar
            emt.tile.solar.fire.TileEntityTripleFireSolar
            emt.tile.solar.order.TileEntityDoubleOrderSolar
            emt.tile.solar.order.TileEntityOrderSolar
            emt.tile.solar.order.TileEntityTripleOrderSolar
            emt.tile.solar.water.TileEntityDoubleWaterSolar
            emt.tile.solar.water.TileEntityTripleWaterSolar
            emt.tile.solar.water.TileEntityWaterSolar
            com.lulan.compactkineticgenerators.tileentity.TileCkgE
            com.lulan.compactkineticgenerators.tileentity.TileCkgH
            com.lulan.compactkineticgenerators.tileentity.TileCkgL
            com.lulan.compactkineticgenerators.tileentity.TileCkgM
            com.lulan.compactkineticgenerators.tileentity.TileCkwaE
            com.lulan.compactkineticgenerators.tileentity.TileCkwaH
            com.lulan.compactkineticgenerators.tileentity.TileCkwaL
            com.lulan.compactkineticgenerators.tileentity.TileCkwaM
            com.lulan.compactkineticgenerators.tileentity.TileCkwmE
            com.lulan.compactkineticgenerators.tileentity.TileCkwmH
            com.lulan.compactkineticgenerators.tileentity.TileCkwmL
            com.lulan.compactkineticgenerators.tileentity.TileCkwmM
			net.bdew.gendustry.machines.mproducer.TileMutagen_producer 
			net.bdew.gendustry.machines.mutatron.TileMutatron
			net.bdew.gendustry.machines.advmutatron.TileMutatron_adv
			net.bdew.gendustry.machines.imprinter.TileImprinter
			net.bdew.gendustry.machines.sampler.TileSampler
			net.bdew.gendustry.machines.extractor.TileExtractor
			net.bdew.gendustry.machines.liquifier.TileLiquifier
			net.bdew.gendustry.machines.replicator.TileReplicator
			net.bdew.gendustry.machines.transposer.TileTransposer
         >
    }

}


