# Configuration file

debug {
    # Enable debug output to fml-client-latest.log [default: false]
    B:DoDebugMessages=false
}

modfixes {

    # Set to true to enable OilSpawn from this Mod. Make sure to disable Oil-Spawn in BuildCraft if you do [default: false]
    B:GenerateOil=true

    # Set to true to allow Minetweaker to override the vanilla furnace fuel handler, allowing the burn value of WOOD material items to be changed. [default: true]
    B:MinetweakerFurnaceFixEnabled=true

    ##########################################################################################################
    # oilgen
    #--------------------------------------------------------------------------------------------------------#
    # The OilgenChance is based on height of the biome. On high-y biomes, the basic chance is divided by 2, on low-y biomes like oceans, it is multiplied by 1.8.
    # The multiplier set here for -OilBoostBiomes- Biomes is applied after those multipliers are set.
    ##########################################################################################################

    oilgen {
        # Boost factor of oil spheres in certain Biomes that are listed in -OilBoostBiomes- [range: 0.0 ~ 50.0, default: 2.5]
        S:OilBiomeBoostFactor=3.5

        # List BiomeIDs (Numbers only; One per line!) where no oil should be generated [default: ]
        S:OilBiomeIDBlackList <
            16
            21
            29
            43
            44
            52
            62
            65
            76
            87
            97
            99
            107
            113
            123
            192
         >

        # List BiomeIDs (Numbers only; One per line!) where the boost multiplicator is applied. Leave empty to disable Biome-Boost [default: ]
        S:OilBoostBiomes <
            0
            2
            5
            12
            30
            32
            42
            45
            48
            51
            57
            58
            64
            70
            71
            92
            95
            104
            110
            115
            119
            122
            193
            202
            224
            225
            226
            228
            230
            235
         >

        # Threshold at which an oil-deposit will be considered as 'large' and the fountain will be higher and thicker. [range: 0 ~ 100, default: 14]
        I:OilDepositThresholdLarge=14

        # Threshold at which an oil-deposit will be considered as 'medium' and the fountain will be higher and thicker. [range: 0 ~ 100, default: 11]
        I:OilDepositThresholdMedium=11

        # The minimum distance of 2 Oil-Deposits in chunks. Modulo-Based; A 2 here means an deposit can only spawn in chunks that have a number that is a multiple of 2 (Chunknumber * 16 = X/Z coord) [range: 0 ~ 1024, default: 2]
        I:OilDepostMinDistance=2

        # List DimensionIDs (Numbers only; One per line!) here where the OilGenerator should do its work [default: [0]]
        S:OilDimensionWhitelist <
            0
         >

        # Visible height of the fountain above the oil-deposit for LARGE deposits [range: 0 ~ 100, default: 16]
        I:OilFountainSizeLarge=16

        # Visible height of the fountain above the oil-deposit for MEDIUM deposits [range: 0 ~ 100, default: 5]
        I:OilFountainSizeSmall=5

        # General OilGen factor [range: 0.0 ~ 2000.0, default: 30.0]
        S:OilSphereChance=60.0

        # The maximum radius of an underground OilSphere. The final size is calculated by OilSphereMinRadius + Random(OilSphereMaxSize-OilSphereMinRadius) [range: 3 ~ 50, default: 15]
        I:OilSphereMaxSize=15

        # The minimum radius of an underground OilSphere [range: 0 ~ 20, default: 8]
        I:OilSphereMinRadius=8
    }

}


modules {

    # A complete, full working example for a custom chest, with its own renderer for items and blocks, custom sound and a GUI [default: true]
    B:BabyChest=true

    # Set to true to enable CustomDrops module. This needs a separate config file which is created once you start with this setting enabled [default: false]
    B:CustomDrops=true

    # Set to true to enable CustomFuels module. Allows you to set burn-time values to almost any item [default: false]
    B:CustomFuels=true

    # Set to true to enable CustomToolTips module. This needs a separate config file which is created once you start with this setting enabled [default: false]
    B:CustomToolTips=true

    # Set to true to display modpack version on debug GUI (F3) [default: true]
    B:DebugVersionDisplay=true

    # Enables crafting recipes for Forestry stamps and Chunk Loader Coins. Only works on single player [default: true]
    B:ForestryStampsAndChunkLoaderCoinsEnabled=true

    # Enables crafting recipes for Forestry stamps and Chunk Loader Coins on server [default: false]
    B:ForestryStampsAndChunkLoaderCoinsServerEnabled=false

    # Set to true to display GTNH buttons in the pause menu [default: true]
    B:"GTNH Pause menu buttons"=true

    # Set to true to enable HazardousItems module. This needs a separate config file which is created once you start with this setting enabled [default: false]
    B:HazardousItems=true

    # Set to true to show login message with modpack version [default: true]
    B:LoginMessage=true

    # Version of the Modpack [default: 2.9.x]
    S:ModPackVersion=2.9.x

    # Set to false to prevent the OreDict register for SpaceStones and SpaceDusts [default: true]
    B:OreDictItems=true

}


