// JourneyMap configuration file. Modify at your own risk!
// To use in all worlds, place here: journeymap\config\5.2\
// For more information, go to: http://journeymap.info/help/wiki/Options_Manager
{
  "preferredMapType": "day",
  "showCaves": true,
  "fontScale": 1,
  "textureSmall": true,
  "showWaypointLabels": true,
  "locationFormatVerbose": true,
  "locationFormat": "xzyv",
  "showMobHeading": true,
  "showPlayerHeading": true,
  "showMobs": true,
  "showAnimals": true,
  "showVillagers": true,
  "showPets": true,
  "showPlayers": true,
  "showWaypoints": true,
  "showSelf": true,
  "showGrid": true,
  "entityIconSetName": "2D",
  "entityScale": 100,
  "entityBlur": true,
  "zoomLevel": 0,
  "disabled": false
}