# Configuration file

format {

    minecraft {
        S:mcChannelEmote="* {NICK} {MESSAGE}"
        S:mcChannelMessage="<{NICK}> {MESSAGE}"
        S:mcChannelNotice="({NICK}) {MESSAGE}"
        S:mcPrivateEmote="[P] * {NICK} {MESSAGE}"
        S:mcPrivateMessage="[P] <{NICK}> {MESSAGE}"
        S:mcPrivateNotice="[P] (NICK) {MESSAGE}"
        S:mcSendChannelEmote="* {NICK} {MESSAGE}"
        S:mcSendChannelMessage="<{NICK}> {MESSAGE}"
        S:mcSendPrivateEmote="[{CHANNEL}] * {NICK} {MESSAGE}"
        S:mcSendPrivateMessage="[{CHANNEL}] <{NICK}> {MESSAGE}"
        S:mcUserJoin="§e[{CHANNEL}] {NICK} joined the channel"
        S:mcUserLeave="§e[{CHANNEL}] {NICK} left the channel"
        S:mcUserNickChange="§e[{CHANNEL}] {OLDNICK} is now known as {NICK}"
        S:mcUserQuit="§e[{SERVER}] {NICK} disconnected from IRC ({QUITMESSAGE})"
    }

    irc {
        S:ircBroadcastMessage="[Server] {MESSAGE}"
        S:ircChannelEmote="* {NICK} {MESSAGE}"
        S:ircChannelMessage="<{NICK}> {MESSAGE}"
        S:ircPlayerJoin="{NICK} joined the game"
        S:ircPlayerLeave="{NICK} left the game"
        S:ircPlayerNickChange="{OLDNICK} is now known as {NICK}"
        S:ircPrivateEmote="* {NICK} {MESSAGE}"
        S:ircPrivateMessage="<{NICK}> {MESSAGE}"
        S:ircScreenshotUpload="{NICK} just uploaded a screenshot: {URL}"
    }

}


general {
    S:name="Minecraft"
}


