# Configuration file

rewards {

    ##########################################################################################################
    # game_of_light
    #--------------------------------------------------------------------------------------------------------#
    # Game of Light Rewards
    ##########################################################################################################

    game_of_light {

        ##########################################################################################################
        # stage_1
        #--------------------------------------------------------------------------------------------------------#
        # Rewards for stage 1
        ##########################################################################################################

        stage_1 {
            # Name of the loot table, items from which will be generated in the chest of this stage. This can be adjusted per dimension in "per_dim_configs". [default: dungeonChest]
            S:default_loot_table=chest1

            # Maximum amount of item stacks to be generated in chest. [range: 1 ~ 256, default: 8]
            I:max_items=4

            # Minimum amount of item stacks to be generated in chest. [range: 0 ~ 256, default: 4]
            I:min_items=2

            # Here you can add different loot tables to each dimension. If dimension isn't in this list, then game will take default loot table for this stage.
            # Syntax: <dimension_key>|<loottable_name>
            # <loottable_name> - The loottable name for the chest in this stage.
            # General Example: [ "0|minecraft:chests/simple_dungeon" ] [default: ]
            S:per_dim_configs <
             >
        }

        ##########################################################################################################
        # stage_2
        #--------------------------------------------------------------------------------------------------------#
        # Rewards for stage 2
        ##########################################################################################################

        stage_2 {
            # Name of the loot table, items from which will be generated in the chest of this stage. This can be adjusted per dimension in "per_dim_configs". [default: mineshaftCorridor]
            S:default_loot_table=chest2

            # Maximum amount of item stacks to be generated in chest. [range: 1 ~ 256, default: 10]
            I:max_items=6

            # Minimum amount of item stacks to be generated in chest. [range: 0 ~ 256, default: 5]
            I:min_items=3

            # Here you can add different loot tables to each dimension. If dimension isn't in this list, then game will take default loot table for this stage.
            # Syntax: <dimension_key>|<loottable_name>
            # <loottable_name> - The loottable name for the chest in this stage.
            # General Example: [ "0|minecraft:chests/simple_dungeon" ] [default: ]
            S:per_dim_configs <
             >
        }

        ##########################################################################################################
        # stage_3
        #--------------------------------------------------------------------------------------------------------#
        # Rewards for stage 3
        ##########################################################################################################

        stage_3 {
            # Name of the loot table, items from which will be generated in the chest of this stage. This can be adjusted per dimension in "per_dim_configs". [default: pyramidJungleChest]
            S:default_loot_table=chest3

            # Maximum amount of item stacks to be generated in chest. [range: 1 ~ 256, default: 11]
            I:max_items=8

            # Minimum amount of item stacks to be generated in chest. [range: 0 ~ 256, default: 6]
            I:min_items=4

            # Here you can add different loot tables to each dimension. If dimension isn't in this list, then game will take default loot table for this stage.
            # Syntax: <dimension_key>|<loottable_name>
            # <loottable_name> - The loottable name for the chest in this stage.
            # General Example: [ "0|minecraft:chests/simple_dungeon" ] [default: ]
            S:per_dim_configs <
             >
        }

        ##########################################################################################################
        # stage_4
        #--------------------------------------------------------------------------------------------------------#
        # Rewards for stage 4
        ##########################################################################################################

        stage_4 {
            # Name of the loot table, items from which will be generated in the chest of this stage. This can be adjusted per dimension in "per_dim_configs". [default: strongholdCorridor]
            S:default_loot_table=chest4

            # Maximum amount of item stacks to be generated in chest. [range: 1 ~ 256, default: 12]
            I:max_items=10

            # Minimum amount of item stacks to be generated in chest. [range: 0 ~ 256, default: 7]
            I:min_items=5

            # Here you can add different loot tables to each dimension. If dimension isn't in this list, then game will take default loot table for this stage.
            # Syntax: <dimension_key>|<loottable_name>
            # <loottable_name> - The loottable name for the chest in this stage.
            # General Example: [ "0|minecraft:chests/simple_dungeon" ] [default: ]
            S:per_dim_configs <
             >
        }

    }

    ##########################################################################################################
    # minesweeper
    #--------------------------------------------------------------------------------------------------------#
    # Minesweeper Rewards
    ##########################################################################################################

    minesweeper {

        ##########################################################################################################
        # stage_1
        #--------------------------------------------------------------------------------------------------------#
        # Rewards for stage 1
        ##########################################################################################################

        stage_1 {
            # Name of the loot table, items from which will be generated in the chest of this stage. This can be adjusted per dimension in "per_dim_configs". [default: dungeonChest]
            S:default_loot_table=chest1

            # Maximum amount of item stacks to be generated in chest. [range: 1 ~ 256, default: 8]
            I:max_items=4

            # Minimum amount of item stacks to be generated in chest. [range: 0 ~ 256, default: 4]
            I:min_items=2

            # Here you can add different loot tables to each dimension. If dimension isn't in this list, then game will take default loot table for this stage.
            # Syntax: <dimension_key>|<loottable_name>
            # <loottable_name> - The loottable name for the chest in this stage.
            # General Example: [ "0|minecraft:chests/simple_dungeon" ] [default: ]
            S:per_dim_configs <
             >
        }

        ##########################################################################################################
        # stage_2
        #--------------------------------------------------------------------------------------------------------#
        # Rewards for stage 2
        ##########################################################################################################

        stage_2 {
            # Name of the loot table, items from which will be generated in the chest of this stage. This can be adjusted per dimension in "per_dim_configs". [default: mineshaftCorridor]
            S:default_loot_table=chest2

            # Maximum amount of item stacks to be generated in chest. [range: 1 ~ 256, default: 10]
            I:max_items=6

            # Minimum amount of item stacks to be generated in chest. [range: 0 ~ 256, default: 5]
            I:min_items=3

            # Here you can add different loot tables to each dimension. If dimension isn't in this list, then game will take default loot table for this stage.
            # Syntax: <dimension_key>|<loottable_name>
            # <loottable_name> - The loottable name for the chest in this stage.
            # General Example: [ "0|minecraft:chests/simple_dungeon" ] [default: ]
            S:per_dim_configs <
             >
        }

        ##########################################################################################################
        # stage_3
        #--------------------------------------------------------------------------------------------------------#
        # Rewards for stage 3
        ##########################################################################################################

        stage_3 {
            # Name of the loot table, items from which will be generated in the chest of this stage. This can be adjusted per dimension in "per_dim_configs". [default: pyramidJungleChest]
            S:default_loot_table=chest3

            # Maximum amount of item stacks to be generated in chest. [range: 1 ~ 256, default: 11]
            I:max_items=8

            # Minimum amount of item stacks to be generated in chest. [range: 0 ~ 256, default: 6]
            I:min_items=4

            # Here you can add different loot tables to each dimension. If dimension isn't in this list, then game will take default loot table for this stage.
            # Syntax: <dimension_key>|<loottable_name>
            # <loottable_name> - The loottable name for the chest in this stage.
            # General Example: [ "0|minecraft:chests/simple_dungeon" ] [default: ]
            S:per_dim_configs <
             >
        }

        ##########################################################################################################
        # stage_4
        #--------------------------------------------------------------------------------------------------------#
        # Rewards for stage 4
        ##########################################################################################################

        stage_4 {
            # Name of the loot table, items from which will be generated in the chest of this stage. This can be adjusted per dimension in "per_dim_configs". [default: strongholdCorridor]
            S:default_loot_table=chest4

            # Maximum amount of item stacks to be generated in chest. [range: 1 ~ 256, default: 12]
            I:max_items=10

            # Minimum amount of item stacks to be generated in chest. [range: 0 ~ 256, default: 7]
            I:min_items=5

            # Here you can add different loot tables to each dimension. If dimension isn't in this list, then game will take default loot table for this stage.
            # Syntax: <dimension_key>|<loottable_name>
            # <loottable_name> - The loottable name for the chest in this stage.
            # General Example: [ "0|minecraft:chests/simple_dungeon" ] [default: ]
            S:per_dim_configs <
             >
        }

    }

}


