# Configuration file

experimental {
    # Boss health bar indent from top border, 0 = standard Forge render [range: 0 ~ 500, default: 0]
    I:"Boss Bar Indent"=0
}


gameplay {
    # Allow SoulBound enchant on wearable packs [default: true]
    B:"Allow SoulBound"=true

    # Allow the backpacks to execute their special abilities, or be only cosmetic (Doesn't affect lightning transformation) Must be disabled in both Client and Server to work properly [default: true]
    B:"Backpack Abilities"=true

    # Place backpacks as a block when you die? [default: true]
    B:"Backpack Death Place"=false

    # Enable/Disable ability to spawn at campfire [default: false]
    B:"Enable Campfire Spawn"=false

    # Enable/Disable hose drink mode [default: true]
    B:"Enable Hose Drink"=true

    # Enable/Disable tool cycling [default: true]
    B:"Enable Tools Cycling"=true

    # Fix the vanilla Lead? (Checks mobs falling on a leash to not die of fall damage if they're not falling so fast) [default: true]
    B:"Fix Vanilla Lead"=true

    # Allows to maintenance (repair/upgarde) Tinkers Construct tools in backpacks as if it's Crafting Station [default: true]
    B:"Maintenance Tinker Tools"=true

    # Allows to use sleeping bag directly from wearing backpacks. Sleep by one touch [default: true]
    B:"Portable Sleeping Bag"=true
}


graphics {
    # Enable durability bar showing fullness of backpacks inventory [default: false]
    B:"Enable Fullness Bar"=false

    # Enable durability bar showing temperature of jetpack [default: false]
    B:"Enable Temperature Bar"=false

    # Enable rendering for tools in the backpack tool slots [default: true]
    B:"Enable Tools Render"=true

    # Show hovering text on fluid tanks? [default: false]
    B:"Hovering Text"=false

    # 1,2 or 3 for different rendering of fluids in the Backpack GUI [range: 1 ~ 3, default: 3]
    I:"Tank Render Type"=3

    status {
        # Show player status effects on screen? [default: true]
        B:"Enable Overlay"=true

        # Horizontal indent from the window border [range: 0 ~ 1000, default: 2]
        I:"Indent Horizontal"=2

        # Vertical indent from the window border [range: 0 ~ 500, default: 2]
        I:"Indent Vertical"=2

        # Take into account Thaumcraft wands GUI and do not overlap it [default: true]
        B:"Respect Thaumcraft"=true

        # Stick to left? Icons will appears from left to right. If false: stick to right, icons will appears from right to left [default: true]
        B:"Stick To Left"=true

        # Stick to top? [default: true]
        B:"Stick To Top"=true
    }

    tanks {
        # Show the different wearable overlays on screen? [default: true]
        B:"Enable Overlay"=true

        # Horizontal indent from the window border [range: 0 ~ 1000, default: 2]
        I:"Indent Horizontal"=2

        # Vertical indent from the window border [range: 0 ~ 500, default: 1]
        I:"Indent Vertical"=1

        # Stick to bottom? [default: true]
        B:"Stick To Bottom"=true

        # Stick to right? [default: true]
        B:"Stick To Right"=true
    }

}


items {
    # Enable filters from Disallow category [default: true]
    B:"Enable Item Filters"=true

    # Disallow opening backpack inventory for specific dimension ID [default: ]
    S:"Forbidden Dimensions" <
        55
     >

    # List of valid fuels for Copter. Consumption rate range: 0.05 ~ 20.0. Format: 'fluid, rate', ex.: 'water, 0.0' [default: [biodiesel, 1.0], [biofuel, 1.0], [bioethanol, 1.5], [creosote, 7.0], [fuel, 0.8], [lava, 5.0], [liquid_light_oil, 3.0], [liquid_medium_oil, 3.0], [liquid_heavy_oil, 3.0], [liquid_light_fuel, 1.0], [liquid_heavy_fuel, 1.3], [nitrofuel, 0.4], [oil, 3.0], [rocket_fuel, 0.8]]
    S:"Valid Copter Fuels" <
        biodiesel, 1.0
        biofuel, 1.0
        bioethanol, 1.5
        creosote, 7.0
        fuel, 0.8
        lava, 5.0
        liquid_light_oil, 3.0
        liquid_medium_oil, 3.0
        liquid_heavy_oil, 3.0
        liquid_light_fuel, 1.0
        liquid_heavy_fuel, 1.3
        nitrofuel, 0.4
        oil, 3.0
        rocket_fuel, 0.8
     >

    recipes {
        # Enable/Disable recipe for Adventure's Hat, Suit and Pants [default: true]
        B:"Adventures Set"=true

        # Enable/Disable Clockwork Crossbow recipe [default: true]
        B:"Clockwork Crossbow"=true

        # Enable/Disable CoalJetpack recipe [default: true]
        B:"Coal Jetpack"=true

        # Consume Dragon Egg when Dragon backpack crafted? [default: false]
        B:"Consume Dragon Egg"=true

        # Enable/Disable CopterPack recipe [default: true]
        B:"Copter Pack"=true

        # Enable/Disable recipe for Inflatable Boat [default: true]
        B:"Inflatable Boat"=true

        # Enable/Disable recipe for Inflatable Boat (motorized). For aesthetic only, not fully implemented (yet?) [default: false]
        B:"Inflatable Boat Motorized"=false

        # Enable/Disable Machete recipe [default: true]
        B:Machete=true

        # Enable/Disable PistonBoots recipe [default: true]
        B:"Piston Boots"=true

        # Add recipe for saddle? [default: true]
        B:Saddle=true
    }

    disallowed {
        # Disallow items by displayed (localized) name. Not case sensitive. Worst option, use only when there is no choice. Example: Dirt [default: ]
        S:"By Displayed Name" <
         >

        # Disallow items by internal ID. Case sensitive. Example: minecraft:dirt [default: ]
        S:"By Internal ID" <
         >

        # Disallow items by internal ID. Case sensitive. Will be disallowed all items containing that word in their IDs. Use with caution. Example: minecraft:di [default: ]
        S:"By Internal IDs" <
         >

        # Disallow items by internal (unlocalized) name. Not case sensitive. Example: tile.dirt [default: ]
        S:"By Internal Name" <
         >
    }

    settings {
        # Dragon Backpack damage boost. 0 - disable [range: 0 ~ 4, default: 2]
        I:"Dragon Damage Boost"=2

        # Dragon Backpack regeneration level. 0 - disable [range: 0 ~ 4, default: 1]
        I:"Dragon Regeneration"=1

        # Allow Piston Boots auto step blocks [default: true]
        B:"Piston Boots Auto Step"=true

        # Piston Boots jump height in blocks [range: 1 ~ 8, default: 3]
        I:"Piston Boots Jump Height"=3

        # Piston Boots sprint boost. 0 - disable [range: 0 ~ 4, default: 1]
        I:"Piston Boots Sprint"=1

        # Rainbow Backpack special jump. 0 - disable [range: 0 ~ 4, default: 1]
        I:"Rainbow Special Jump"=1

        # Rainbow Backpack special speed. 0 - disable [range: 0 ~ 4, default: 3]
        I:"Rainbow Special Speed"=3

        # Rainbow Backpack speed boost. 0 - disable [range: 0 ~ 4, default: 1]
        I:"Rainbow Speed"=1
    }

}


sound {
    # Allow playing the CoalJetpack sound (Client Only, other players may hear it) [default: true]
    B:"Coal Jetpack"=true

    # Allow playing the CopterPack sound (Client Only, other players may hear it) [default: true]
    B:"Copter Pack"=true

    # Allow playing the PistonBoots sound [default: true]
    B:"Piston Boots"=true
}


worldgen {
    # Allow generation of Bat Backpacks in dungeon and mineshaft loot. It cannot be obtained by crafting [default: true]
    B:"Bat Backpacks"=false

    # Include a Standard Adventure Backpack in bonus chest? [default: false]
    B:"Bonus Backpack"=false

    # Allow generation of IronGolem Backpacks in village blacksmith loot. It cannot be obtained by crafting [default: true]
    B:"IronGolem Backpacks"=false

    # Allow generation of Pigman Backpacks in dungeon loot and villager trades [default: false]
    B:"Pigman Backpacks"=false
}
