# Configuration file

##########################################################################################################
# fluid craft for ae2
#--------------------------------------------------------------------------------------------------------#
# Settings for AE2FC.
##########################################################################################################

"fluid craft for ae2" {
    # Blacklist Essentia Gas from Thaumic Energistics, so they won't be stored in Fluid Storage Cells. [default: true]
    B:"Blacklist Essentia Gas"=true

    # Disable all recipes, for quick tweaker. [default: false]
    B:"Disable all recipes"=true

    # Enable this to add Fluid Import/Export Bus like EC2's one. [default: true]
    B:"Enable AE2FC's Fluid I/O Bus"=true

    # Enable this to generate the fluid storage cells. If you are playing with EC2, you can turn it off. [default: true]
    B:"Enable Fluid Storage Cell"=true

    # Enable this to make normal ME Interface can emit fluid with fluid pattern, like the ME Dual Interface. [default: false]
    B:"No Fluid Packet"=false
}


