# Configuration file

containergui {
    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: 0 ~ 2147483647, default: 152]
    I:ArmXDispPosition=152

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: 0 ~ 2147483647, default: 5]
    I:ArmYDispPosition=5

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: 0 ~ 2147483647, default: 128]
    I:CXDispPosition=128

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: 0 ~ 2147483647, default: 14]
    I:CYDispPosition=14

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: 0 ~ 2147483647, default: 128]
    I:DXDispPosition=128

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: 0 ~ 2147483647, default: 50]
    I:DYDispPosition=50
}


gui {
    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [default: true]
    B:GuiButtonDrawQuantity1=true

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: 0 ~ 2147483647, default: 20]
    I:GuiButtonH=20

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: 0 ~ 2147483647, default: 20]
    I:GuiButtonW=20

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: -2147483648 ~ 2147483647, default: 10]
    I:GuiButtonXPart=10

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: -2147483648 ~ 2147483647, default: 7]
    I:GuiButtonYPart=7

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: -2147483648 ~ 2147483647, default: 0]
    I:GuiButtonid1=0

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: 0 ~ 2147483647, default: 5]
    I:barHeight=5

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: 0.0 ~ 2.14748365E9, default: 176.0]
    S:barWidth=176.0

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: 0 ~ 2147483647, default: 0]
    I:barXLocation=0

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: 0 ~ 2147483647, default: 8]
    I:barXPlacement=8

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: 0 ~ 2147483647, default: 251]
    I:barYLocation=251

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: 0 ~ 2147483647, default: 73]
    I:barYPlacement=73

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: -2147483648 ~ 2147483647, default: 16448255]
    I:textColor=16448255

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: 0 ~ 2147483647, default: 29]
    I:toolTipMaxX=29

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: 0 ~ 2147483647, default: 26]
    I:toolTipMaxY=26

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: 0 ~ 2147483647, default: 10]
    I:toolTipMinX=10

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: 0 ~ 2147483647, default: 7]
    I:toolTipMinY=7

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: 0 ~ 2147483647, default: 37]
    I:xEnergy=37

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: 0 ~ 2147483647, default: 37]
    I:xEnergy2=37

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: 0 ~ 2147483647, default: 26]
    I:xEnergy3=26

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: 0 ~ 2147483647, default: 16]
    I:xLevel=16

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: 0 ~ 2147483647, default: 176]
    I:xSize=176

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: 0 ~ 2147483647, default: 39]
    I:yEnergy=39

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: 0 ~ 2147483647, default: 49]
    I:yEnergy2=49

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: 0 ~ 2147483647, default: 60]
    I:yEnergy3=60

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: 0 ~ 2147483647, default: 29]
    I:yLevel=29

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: 0 ~ 2147483647, default: 8]
    I:yName=8

    # DO NOT CHANGE THIS IF YOU DONT KNOW WHAT YOU ARE DOING [range: 0 ~ 2147483647, default: 166]
    I:ySize=166
}


textures {
    # Changes the texture of the AFB. Possible values: default [default: default]
    S:"AFB Texture"=default

    # Changes the texture of the AFSU. Possible values: default, blue, yellow, black, old, chloe1, chloe2, chloe3, freezy [default: default]
    S:"AFSU Texture"=chloe1
}


