# Configuration file

##########################################################################################################
# block-break-anger
#--------------------------------------------------------------------------------------------------------#
# Breaking blocks in the Nether or End angers the resident mobs.
##########################################################################################################

block-break-anger {
    # Breaking certain blocks will anger mobs. [default: false]
    B:enabled=true

    # Define all Blocks here where Enderman should become angry when you break them. [default: [gregtech:gt.blockores]]
    S:endBlacklist <
        gregtech:gt.blockores2
     >

    # The range at which endermen will get angered by broken blocks in the End. [range: 2 ~ 128, default: 16]
    I:endermanAggroRange=16

    # Define all Blocks here where Zombie Pigmen should become angry when you break them. [default: [gregtech:gt.blockores]]
    S:netherBlacklist <
        gregtech:gt.blockores2
     >

    # The range at which zombie pigmen will get angered by broken blocks in the Nether. [range: 2 ~ 128, default: 16]
    I:pigmanAggroRange=16
}


##########################################################################################################
# friendly-animal-revenge
#--------------------------------------------------------------------------------------------------------#
# Eating animal-based food angers those animals.
##########################################################################################################

friendly-animal-revenge {
    # If the food eaten by the player contains these keywords, all CHICKENS around will become angry (or flee) [default: [chicken], [egg]]
    S:chickenFoodTrigger <
        chicken
        egg
     >

    # If the food eaten by the player contains these keywords, all COWS around will become angry (or flee) [default: [beef]]
    S:cowFoodTrigger <
        beef
     >

    # If set to true, sheep will attack/flee if you eat mutton, pigs if you eat pork,... The attack/flee is based on additional mods you have installed. [default: false]
    B:enabled=true

    # If the food eaten by the player contains these keywords, all PIGS around will become angry (or flee) [default: [pork]]
    S:pigFoodTrigger <
        pork
     >

    #  [range: 2 ~ 128, default: 16]
    I:revengeRadius=16

    # If the food eaten by the player contains these keywords, all SHEEP around will become angry (or flee) [default: [mutton]]
    S:sheepFoodTrigger <
        mutton
     >
}


##########################################################################################################
# kamikaze
#--------------------------------------------------------------------------------------------------------#
# Killed mobs have a chance to explode.
##########################################################################################################

kamikaze {
    # If the player is using one of these items, entities will not explode if they are killed. [default: [flint]]
    S:butcherItems <
        gt.metatool.01.34
        gt.metatool.01.36
        canesword
        daggerOfSacrifice
        glass_sacrificial_dagger
        glass_dagger_of_sacrifice
     >

    # Chance, in percent, how often a Kamikaze event will happen. [range: 0 ~ 100, default: 5]
    I:chance=10

    # If set to true, the kamikaze event will cause terrain damage (but will still follow the 'mobGriefing' gamerule) [default: false]
    B:doTerrainDamage=false

    # Killed passive mobs have a chance to explode unless killed with the right tool. [default: false]
    B:enabled=true
}


##########################################################################################################
# spawn-protection
#--------------------------------------------------------------------------------------------------------#
# Players cannot be damaged immediately after respawning or crossing dimensions.
##########################################################################################################

spawn-protection {
    # New / respawned players will be ignored by monsters until they attack something, move, or their timer runs out. [default: false]
    B:enabled=true

    # The maximum number of seconds a player will be protected from damage if he is just standing still and doing nothing. [range: 1 ~ 2048, default: 10]
    I:maxDuration=90

    # The number of blocks the player is able to move away from their initial spawn location before their protection fades. [range: 1 ~ 2048, default: 5]
    I:moveTolerance=5

    # Set items here which change players invulnerability to prevent this mod from conflicting with them. You will notice those, as they will spam the console with *protection fades* messages. [default: [EMT:BaseBaubles]]
    S:protectionAffectingItems <
        EMT:BaseBaubles
     >
}


