# Configuration file

general {
    # Enables PBR atlas dumping [default: false]
    B:"Enable PBR Debug"=false

    # Max amount of dropped item rendered [range: 32 ~ 2048, default: 256]
    I:droppedItemLimit=256

    # Dynamically modifies the render distance of dropped items entities to preserve performance. It starts reducing the render distance when exceeding the threshold set below. [default: true]
    B:dynamicItemRenderDistance=true

    # Enable Debug Logging [default: false]
    B:enableDebugLogging=false

    # Enable Dynamic Lights [default: true]
    B:enableDynamicLights=true

    # Batch drawScreen fonts [Experimental] [default: true]
    B:enableFontRenderer=true

    # Renders the HUD elements once per 20 frames (by default) and reuses the pixels to improve performance. [Experimental] [default: true]
    B:enableHudCaching=true

    # Inject a conditional early return into all RenderGameOverlayEvent receivers; Requires enableHudCaching [default: true]
    B:enableHudCachingEventTransformer=true

    # Enable Iris Shaders [Requires Sodium] [default: true]
    B:enableIris=true

    # Enable MCPatcherForge features, still in Alpha. Individual features are toggled in mcpatcher.json [default: true]
    B:enableMCPatcherForgeFeatures=true

    # Enable NotFine features [default: true]
    B:enableNotFineFeatures=true

    # Enable NotFine Options [default: false]
    B:enableNotFineOptions=false

    # Enable Reese's Sodium Options [default: true]
    B:enableReesesSodiumOptions=true

    # Enable Sodium rendering [default: true]
    B:enableSodium=true

    # Enable Sodium fluid rendering [default: false]
    B:enableSodiumFluidRendering=false

    # Replace some vanilla render paths with more optimized versions. Disable if you encounter mixin conflicts. [default: true]
    B:enableVBO=true

    # Enable Zoom [default: true]
    B:enableZoom=true

    # Fix RenderBlockFluid reading the block type from the world access multiple times [default: true]
    B:fixFluidRendererCheckingBlockAgain=true

    # Hide downloading terrain screen. [From ArchaicFix] [default: true]
    B:hideDownloadingTerrainScreen=true

    # The amount of frames to wait before updating the HUD elements. [Experimental] [range: 1 ~ 60, default: 20]
    I:hudCachingFPS=20

    # Inject QuadProvider rendering into some vanilla blocks [default: false]
    B:injectQPRendering=false

    # Max amount of display lists to cache for optimized item rendering. Higher number will use more VRAM [range: 64 ~ 1024, default: 256]
    I:itemRendererDisplayListCacheSize=256

    # Render distance for the spinning mob inside mod spawners [range: 16.0 ~ 64.0, default: 16.0]
    D:mobSpawnerRenderDistance=16.0

    # Tweak F3 screen to be closer to modern versions. [From ArchaicFix] [default: true]
    B:modernizeF3Screen=true

    # Optimizes in-world item rendering [Experimental] [default: false]
    B:optimizeInWorldItemRendering_WIP=false

    # Optimize Texture Loading. [From Hodgepodge] [default: true]
    B:optimizeTextureLoading=true

    # Optimize world update light. [From Hodgepodge] [default: true]
    B:optimizeWorldUpdateLight=true

    # Allows unicode languages to use an odd gui scale [default: true]
    B:removeUnicodeEvenScaling=true

    # Show block registry name and meta value in F3, similar to 1.8+. [From ArchaicFix] [default: true]
    B:showBlockDebugInfo=true

    # Show memory usage during game load. [From ArchaicFix] [default: true]
    B:showSplashMemoryBar=true

    # Switches to an alternate FPS limiter that gives more stable frametimes, in exchange for slightly more latency. Will never introduce more than one frame of latency, and has a lower impact at higher framerates. [default: false]
    B:sleepBeforeSwap=false

    # Speedup Animations. [From Hodgepodge] [default: true]
    B:speedupAnimations=true

    # Use total world time instead of normal world time. Allows most shader animations to play when doDaylightCycle is off, but causes shader animations to desync from time of day. [default: false]
    B:useTotalWorldTime=false
}


