# Configuration file

general {
    # Show the instability of infusion recipes as a number [default: true]
    B:showInstabilityNumber=true

    # Show recipes even if the research is not completed [default: false]
    B:showLockedRecipes=true

    # Show the required research for recipes on all handlers [default: true]
    B:showResearchKey=true

    # Show names of undiscovered aspects when hovered in NEI [default: false]
    B:showUndiscoveredAspectNames=false

    # Show combination recipes of undiscovered aspects in NEI [default: false]
    B:showUndiscoveredAspectRecipes=false
}


