# Configuration file

general {

    ##########################################################################################################
    # mixins
    #--------------------------------------------------------------------------------------------------------#
    # Mixins section.
    ##########################################################################################################

    mixins {
        # if true, patches the crafting manager to cache recipes in class: net.minecraft.item.crafting.CraftingManager [default: false]
        B:enableCraftingManagerRecipeCaching=false
    }

    ##########################################################################################################
    # crossmodinteractions
    #--------------------------------------------------------------------------------------------------------#
    # Crossmod interactions section.
    ##########################################################################################################

    crossmodinteractions {
        # If the Ross128 System should be activated, DO NOT CHANGE AFTER WORLD GENERATION [default: true]
        B:Ross128Enabled=true

        # True disables the magical Forest Biome on Ross for more performance during World generation. [default: false]
        B:disableMagicalForest=false

        # 1 = Moon Lander, 2 = Landing Balloons, 3 = Asteroid Lander
        # Possible values: [MoonLander, LandingBalloons, AsteroidsLander]
        #  [default: AsteroidsLander]
        S:landerType=AsteroidsLander

        # The Dim ID for Ross128ba (Ross128b's Moon) [range: -2147483648 ~ 2147483647, default: 63]
        I:ross128BAID=63

        # The Dim ID for Ross128b [range: -2147483648 ~ 2147483647, default: 64]
        I:ross128BID=64

        # Higher Values mean lesser Ruins. [range: -2147483648 ~ 2147483647, default: 512]
        I:ross128bRuinChance=512
    }

    ##########################################################################################################
    # multiblocks
    #--------------------------------------------------------------------------------------------------------#
    # Multiblocks section.
    ##########################################################################################################

    multiblocks {
        # This switch completely disables piston animation in Electric Implosion Compressor multiblock [default: false]
        B:disablePistonInEIC=false

        # This will set Up the Energy per LESU Cell [range: -2147483648 ~ 2147483647, default: 20000000]
        I:energyPerCell=20000000

        # This is a blacklist for the Void Miner, blacklisted ores will not enter the drop prize pool.
        # Please fill in the Unique Identifier of Ore and connect Damage with a colon,
        # For example: gregtech:gt.blockores:32 [default: ]
        S:voidMinerBlacklist <
         >
    }

    ##########################################################################################################
    # tooltip
    #--------------------------------------------------------------------------------------------------------#
    # Tooltip section.
    ##########################################################################################################

    tooltip {
        # If true, add glass tier in tooltips. [default: true]
        B:addGlassTierInTooltips=true
    }

    ##########################################################################################################
    # singleblocks
    #--------------------------------------------------------------------------------------------------------#
    # Single blocks section.
    ##########################################################################################################

    singleblocks {
        # mL Water per Sec for the StirlingPump [range: -2147483648 ~ 2147483647, default: 150]
        I:mbWaterperSec=150
    }

    ##########################################################################################################
    # rossruinmetas
    #--------------------------------------------------------------------------------------------------------#
    # Ross' ruins machine metaIDs section.
    ##########################################################################################################

    rossruinmetas {

        ##########################################################################################################
        # highpressuresteam
        #--------------------------------------------------------------------------------------------------------#
        # Possible machines for high pressure steam ruins.
        ##########################################################################################################

        highpressuresteam {
            # MetaIDs of the GT machines for the buffer slots [default: [5133, 5123]]
            I:buffers <
                5133
                5123
             >

            # MetaIDs of the GT machines for the cable slots [default: [5133, 5123]]
            I:cables <
                5133
                5123
             >

            # MetaIDs of the GT machines for the generator slots [default: [100, 101, 102, 105]]
            I:generators <
                100
                101
                102
                105
             >

            # MetaIDs of the GT machines for the machine slots [default: [103, 104, 106, 107, 109, 110, 112, 113, 115, 116, 118, 119]]
            I:machines <
                103
                104
                106
                107
                109
                110
                112
                113
                115
                116
                118
                119
             >
        }

        ##########################################################################################################
        # lv
        #--------------------------------------------------------------------------------------------------------#
        # Possible machines for LV ruins.
        ##########################################################################################################

        lv {
            # MetaIDs of the GT machines for the buffer slots [default: [161, 171, 181, 191]]
            I:buffers <
                161
                171
                181
                191
             >

            # MetaIDs of the GT machines for the cable slots [default: [1210, 1230, 1250, 1270, 1290]]
            I:cables <
                1210
                1230
                1250
                1270
                1290
             >

            # MetaIDs of the GT machines for the generator slots [default: [1110, 1115, 1120, 1127]]
            I:generators <
                1110
                1115
                1120
                1127
             >

            # MetaIDs of the GT machines for the machine slots [default: [201, 211, 221, 231, 241, 251, 261, 271, 281, 291, 301, 311, 321, 331, 341, 351, 361, 371, 381, 391, 401, 411, 421, 431, 441, 451, 461, 471, 481, 491, 501, 511, 521, 531, 541, 551, 561, 571, 581, 591, 601, 611, 621, 631, 641, 651, 661, 671]]
            I:machines <
                201
                211
                221
                231
                241
                251
                261
                271
                281
                291
                301
                311
                321
                331
                341
                351
                361
                371
                381
                391
                401
                411
                421
                431
                441
                461
                471
                481
                491
                501
                511
                521
                531
                541
                551
                561
                571
                581
                591
                601
                611
                621
                631
                641
                651
                661
                671
             >
        }

        ##########################################################################################################
        # mv
        #--------------------------------------------------------------------------------------------------------#
        # Possible machines for MV ruins.
        ##########################################################################################################

        mv {
            # MetaIDs of the GT machines for the buffer slots [default: [162, 172, 182, 192]]
            I:buffers <
                162
                172
                182
                192
             >

            # MetaIDs of the GT machines for the cable slots [default: [1310, 1330, 1350, 1370, 1390]]
            I:cables <
                1310
                1330
                1350
                1370
                1390
             >

            # MetaIDs of the GT machines for the generator slots [default: [1111, 12726, 1116, 1121, 1128]]
            I:generators <
                1111
                12726
                1116
                1121
                1128
             >

            # MetaIDs of the GT machines for the machine slots [default: [202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 302, 312, 322, 332, 342, 352, 362, 372, 382, 392, 402, 412, 422, 432, 442, 452, 462, 472, 482, 492, 502, 512, 522, 532, 542, 552, 562, 572, 582, 592, 602, 612, 622, 632, 642, 652, 662, 672]]
            I:machines <
                202
                212
                222
                232
                242
                252
                262
                272
                282
                292
                302
                312
                322
                332
                342
                352
                362
                372
                382
                392
                402
                412
                422
                432
                442
                462
                472
                482
                492
                502
                512
                522
                532
                542
                552
                562
                572
                582
                592
                602
                612
                622
                632
                642
                652
                662
                672
             >
        }

        ##########################################################################################################
        # hv
        #--------------------------------------------------------------------------------------------------------#
        # Possible machines for HV ruins.
        ##########################################################################################################

        hv {
            # MetaIDs of the GT machines for the buffer slots [default: [163, 173, 183, 193]]
            I:buffers <
                163
                173
                183
                193
             >

            # MetaIDs of the GT machines for the cable slots [default: [1410, 1430, 1450, 1470, 1490]]
            I:cables <
                1410
                1430
                1450
                1470
                1490
             >

            # MetaIDs of the GT machines for the generator slots [default: [1112, 12727, 1117, 1122, 1129]]
            I:generators <
                1112
                12727
                1117
                1122
                1129
             >

            # MetaIDs of the GT machines for the machine slots [default: [203, 213, 223, 233, 243, 253, 263, 273, 283, 293, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 403, 413, 423, 433, 443, 453, 463, 473, 483, 493, 503, 513, 523, 533, 543, 553, 563, 573, 583, 593, 603, 613, 623, 633, 643, 653, 663, 673]]
            I:machines <
                203
                213
                223
                233
                243
                253
                263
                273
                283
                293
                303
                313
                323
                333
                343
                353
                363
                373
                383
                393
                403
                413
                423
                433
                443
                463
                473
                483
                493
                503
                513
                523
                533
                543
                553
                563
                573
                583
                593
                603
                613
                623
                633
                643
                653
                663
                673
             >
        }

        ##########################################################################################################
        # ev
        #--------------------------------------------------------------------------------------------------------#
        # Possible machines for EV ruins.
        ##########################################################################################################

        ev {
            # MetaIDs of the GT machines for the buffer slots [default: [164, 174, 184, 194]]
            I:buffers <
                164
                174
                184
                194
             >

            # MetaIDs of the GT machines for the cable slots [default: [1510, 1530, 1550, 1570, 1590]]
            I:cables <
                1510
                1530
                1550
                1570
                1590
             >

            # MetaIDs of the GT machines for the generator slots [default: [12728, 1190, 1130, 12685]]
            I:generators <
                12728
                1190
                1130
                12685
             >

            # MetaIDs of the GT machines for the machine slots [default: [204, 214, 224, 234, 244, 254, 264, 274, 284, 294, 304, 314, 324, 334, 344, 354, 364, 374, 384, 394, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 504, 514, 524, 534, 544, 554, 564, 574, 584, 594, 604, 614, 624, 634, 644, 654, 664, 674]]
            I:machines <
                204
                214
                224
                234
                244
                254
                264
                274
                284
                294
                304
                314
                324
                334
                344
                354
                364
                374
                384
                394
                404
                414
                424
                434
                444
                464
                474
                484
                494
                504
                514
                524
                534
                544
                554
                564
                574
                584
                594
                604
                614
                624
                634
                644
                654
                664
                674
             >
        }

    }

}


