# Configuration file

general {
    # If this is set to false, it will not show the mutation tree for a specific bee if the same tree is already displayed. [default: true]
    B:shouldShowDuplicateTrees=true

    # Set this to true, if you wish for the mod to show secret bee mutations. [default: false]
    B:shouldShowSecretMutations=false
}


