# Configuration file

TitleCard {
    S:"Align X"=0.5
    S:"Align Y"=0.0
    I:"Offset X"=-128
    I:"Offset Y"=0
    S:"Title Texture"=gtnh:textures/gui/gtnh_title.png
}


general {
    # If true, always draw implicit dependency. This property can be changed by the GUI [default: false]
    B:"Always draw implicit dependency"=false

    # If true, then when you click on Claim all, a warning dialog will be displayed [default: true]
    B:"Claim all requires confirmation"=true

    # If true, rewards will be disabled. This might not be supported by reward types. [default: false]
    B:"Disable rewards"=false
    B:"Hide Updates"=true

    # If true, render each hotzone using alternating color. [default: false]
    B:"Highlight detected clickable url hotzone."=false

    # Does an equivalent of '/bq_admin default load' on every world load [default: true]
    B:"Load the default quest DB on world startup."=false

    # Is quest chapters list locked and opened on start. [default: false]
    B:"Lock tray"=false

    # Posts useful information in the log when encountering a null quest during loading. [default: true]
    B:"Log null quests"=true

    # Clamps the max UI height (-1 to disable) [range: -1 ~ 2147483647, default: -1]
    I:"Max GUI Height"=-1

    # Clamps the max UI width (-1 to disable) [range: -1 ~ 2147483647, default: -1]
    I:"Max GUI Width"=-1

    # Enabled the popup notices when quests are completed or updated [default: true]
    B:"Quest Notices"=true

    # Scrolling multiplier [range: 0.0 ~ 10.0, default: 1.0]
    S:"Scroll multiplier"=1.0

    # If true will skip home gui and open quests at startup. This property will be changed by the mod itself. [default: false]
    B:"Skip home"=true
    S:"Sound Complete"=random.levelup
    S:"Sound Unlock"=random.click
    S:"Sound Update"=random.levelup

    # Correcting the width of split text [range: 0.01 ~ 10.0, default: 1.0]
    S:"Text Width Correction"=1.0

    # The current questing theme [default: betterquesting:light]
    S:Theme=betterquesting:light

    # If true, all users can use /bq_admin commands regardless of op-status. Useful for single-player without cheats. [default: false]
    B:"Unrestrict Admin Commands"=false

    # Jumps the user to the last opened quest [default: true]
    B:"Use Quest Bookmark"=true

    # If true, user can view not-yet-unlocked quests that are not hidden or secret. This property can be changed by the GUI. [default: false]
    B:"View mode"=false

    # If true, view mode will display the quest line regardless of whether the quest line is unlocked yet. [default: true]
    B:"View mode all quest line"=true

    # If true, show view mode button. [default: false]
    B:"View mode button"=true

    # Zoom Speed [range: 1.05 ~ 3.0, default: 1.25]
    S:"Zoom Speed"=1.25

    # Zoom in on cursor. If false, zooms in on center of screen. [default: true]
    B:"Zoom in on cursor"=true

    # Zoom out on cursor. If false, zooms out on center of screen. [default: true]
    B:"Zoom out on cursor"=true

    # Zoom smoothness in ms [range: 0.0 ~ 2000.0, default: 100.0]
    S:"Zoom smoothness in ms"=100.0
}


