# Configuration file

"block settings" {
    # Type in the unlocalized name of the block you want disabled here (separate them using ENTER) [default: []]
    S:"Disable blocks here" <
        
     >
}


##########################################################################################################
# item settings
#--------------------------------------------------------------------------------------------------------#
# Settings for items
##########################################################################################################

"item settings" {
    # Type in the unlocalized name of the item you want disabled (separate them using ENTER) [default: []]
    S:"Disable items here" <
        
     >
}


##########################################################################################################
# lp settings
#--------------------------------------------------------------------------------------------------------#
# Change the LP costs for things
##########################################################################################################

"lp settings" {
    I:"Converts this number to 100LE (from this (SN) to 100 (LE)); Default: 150"=150
    I:"Ender Sigil cost (to open the Ender Chest); Default: 200"=400
    I:"Ender Sigil cost (to open the Ender Chest); Default: 400"=400
    I:"Ender Sigil cost (to teleport (multiplier)); Default: 250"=500
    I:"Ender Sigil cost (to teleport (multiplier)); Default: 500"=500
    I:"Lightning Sigil cost (multiplier); Default: 1000"=1500
    I:"Lightning Sigil cost (multiplier); Default: 1500"=1500
    I:"Sigil of Divinity cost; Default: 1000000"=1000000
    I:"Sigil of Swimming cost; Default: 150"=250
    I:"Sigil of Swimming cost; Default: 250"=250
}


##########################################################################################################
# miscellaneous
#--------------------------------------------------------------------------------------------------------#
# Random stuffs
##########################################################################################################

miscellaneous {
    # Purple is always better than Red. But I won't tell you how to live your life. Even if it is incorrect.
    B:"Is RED > PURPLE?"=false
    B:"Is auto-magic version checking allowed?"=false

    # Breaking glass is dangerous unless you're a wimp
    B:"Is glass dangerous?"=true

    # The cake is a lie
    B:"The cake is a lie"=false
}


##########################################################################################################
# mod settings
#--------------------------------------------------------------------------------------------------------#
# Toggle mod integration
##########################################################################################################

"mod settings" {
    B:"Add [BA] to all of Blood Arsenal's research?"=true
    B:"Enable Baubles integration?"=true
    B:"Enable Forge Multipart Integration?"=true
    B:"Enable Thaumcraft/Forbidden Magic integration?"=true
    B:"Enable Tinker's Construct integration?"=true
    B:"Enable the Blood Burned Tome from Guide-API?"=true
    I:"[Tinker's Construct] Material ID for Blood Infused Iron; Default: 251"=251
    I:"[Tinker's Construct] Material ID for Blood Infused Wood; Default: 250"=250
}


##########################################################################################################
# potion id
#--------------------------------------------------------------------------------------------------------#
# Change potion ID's here if you have conflicts
##########################################################################################################

"potion id" {
    I:Bleeding=121
    I:"Soul Burn"=123
    I:Swimming=122
    I:"Vampiric Aura"=120
}


##########################################################################################################
# ritual blacklist
#--------------------------------------------------------------------------------------------------------#
# Blacklist rituals that you don't want/like
##########################################################################################################

"ritual blacklist" {
    B:"Fisherman's Hymn"=false
    B:"Midas Touch"=false
    B:"Ritual of Mob Oppression"=false
    B:"Ritual of Withering"=false
    B:"The Enchantress's Spell"=false
}


