# Configuration file

general {
    # The damage threshold for auto-refill. If the item has less than this amount of durability, it will be refilled. [range: -2147483648 ~ 2147483647, default: 1]
    I:autoRefillDamageThreshold=1

    # The color of the sort button.
    # Display format: 0xAARRGGBB (e.g. 0xFFFFFFFF for white, 0xFF0000FF for red).
    # Value is displayed in decimal here but interpreted as hex internally. [range: -2147483648 ~ 2147483647, default: -1]
    I:buttonColor=-1

    # Enable the sort button in the player inventory. [default: true]
    B:buttonEnabled=true

    # Enable the auto-refill feature (Client Side Toggle). [default: true]
    B:enableAutoRefill=true

    # Enable the auto-refill feature. (Server Side Toggle) [default: true]
    B:enableAutoRefill_server=true

    # Allow player hotbar to be sorted. [default: false]
    B:enableHotbarSort=false

    # Enable the hotbar swap feature. [default: true]
    B:enableHotbarSwap=true

    # If enabled, items with max stack size of 1 (e.g., tools, armor, etc.)
    # will not be split when sorting. This helps avoid cluttering the inventory with duplicate single-item stacks. [default: true]
    B:preventSplit=true

    # Sound played when the sort button is pressed. [default: gui.button.press]
    S:sortSound=gui.button.press

    ##########################################################################################################
    # dropoff
    #--------------------------------------------------------------------------------------------------------#
    # DropOff Configuration
    ##########################################################################################################

    dropoff {
        # Show a chat message after dropping off items. [default: true]
        B:dropoffChatMessage=true

        # Throttle drop-off packets in milliseconds. [range: -2147483648 ~ 2147483647, default: 500]
        I:dropoffPacketThrottleInMS=500

        # Time quota for drop-off in milliseconds. [range: -2147483648 ~ 2147483647, default: 1]
        I:dropoffQuotaInMS=1

        # The radius (in blocks) around the player to scan for drop-off targets. [range: -2147483648 ~ 2147483647, default: 4]
        I:dropoffRadius=4

        # Render a highlight on eligible drop-off containers. [default: true]
        B:dropoffRender=true

        # Valid inventory names for drop-off targeting (substring match). [default: [Chest], [Barrel], [Drawer], [Crate], [Present], [Cabinet], [Counter], [Fridge], [Filing], [Compartment], [Shulker]]
        S:dropoffTargetNames <
            Chest
            Barrel
            Drawer
            Crate
            Present
            Cabinet
            Counter
            Fridge
            Filing
            Compartment
            Shulker
         >

        # Enable the drop-off button in the player inventory. [default: true]
        B:enableDropOff=true

        ##########################################################################################################
        # button
        #--------------------------------------------------------------------------------------------------------#
        # DropOff Button Configuration
        ##########################################################################################################

        button {
            # X position of the drop-off button in the player inventory. [range: -2147483648 ~ 2147483647, default: 160]
            I:buttonX=160

            # Y position of the drop-off button in the player inventory. [range: -2147483648 ~ 2147483647, default: 5]
            I:buttonY=5

            # Show the drop-off button in the player inventory. [default: true]
            B:showButton=true
        }

    }

    ##########################################################################################################
    # usageticker
    #--------------------------------------------------------------------------------------------------------#
    # Usage Ticker Configuration
    ##########################################################################################################

    usageticker {
        # Show usage ticker for armor. [default: true]
        B:enableArmor=true

        # Show usage ticker for main hand. [default: true]
        B:enableMainHand=true

        # Enable usage ticker module. [default: true]
        B:enableModule=false

        # Show usage ticker for off hand. [default: true]
        B:enableOffHand=true

        ##########################################################################################################
        # arrow
        #--------------------------------------------------------------------------------------------------------#
        # Arrow Configuration
        ##########################################################################################################

        arrow {
            # List of item IDs to consider as valid arrows for the usage ticker. The order matters; the first match is used. [default: [Thaumcraft:PrimalArrow], [etfuturum:tipped_arrow]]
            S:arrowItems <
                Thaumcraft:PrimalArrow
                etfuturum:tipped_arrow
             >

            # List of bow item IDs to enable arrow ticker for. Add modded bows here. [default: [minecraft:bow], [Botania:crystalBow], [Botania:livingwoodBow], [DraconicEvolution:draconicBow], [DraconicEvolution:wyvernBow], [BloodArsenal:bound_bow], [EnderZoo:guardiansBow], [GalaxySpace:item.QuantBow], [Natura:natura.bow.ghostwood], [Natura:natura.bow.bloodwood], [Natura:natura.bow.darkwood], [Natura:natura.bow.fusewood], [battlegear2:bow.iron], [battlegear2:bow.diamond], [Thaumcraft:ItemBowBone], [TwilightForest:item.tripleBow], [TwilightForest:item.seekerBow], [TwilightForest:item.iceBow], [TwilightForest:item.enderBow]]
            S:bowItems <
                minecraft:bow
                Botania:crystalBow
                Botania:livingwoodBow
                DraconicEvolution:draconicBow
                DraconicEvolution:wyvernBow
                BloodArsenal:bound_bow
                EnderZoo:guardiansBow
                GalaxySpace:item.QuantBow
                Natura:natura.bow.ghostwood
                Natura:natura.bow.bloodwood
                Natura:natura.bow.darkwood
                Natura:natura.bow.fusewood
                battlegear2:bow.iron
                battlegear2:bow.diamond
                Thaumcraft:ItemBowBone
                TwilightForest:item.tripleBow
                TwilightForest:item.seekerBow
                TwilightForest:item.iceBow
                TwilightForest:item.enderBow
             >

            # Show usage ticker for arrow. [default: true]
            B:enableArrow=false
        }

    }

}


