# Configuration file

blocks {
    B:"Enable Barrier"=true
    B:"Enable Bed"=true
    B:"Enable Button"=true
    B:"Enable Collapsible Block"=true
    B:"Enable Daylight Sensor"=true
    B:"Enable Door"=true
    B:"Enable Flower Pot"=true
    B:"Enable Garage Door"=true
    B:"Enable Gate"=true
    B:"Enable Hatch"=true
    B:"Enable Ladder"=true
    B:"Enable Lever"=true
    B:"Enable Pressure Plate"=true
    B:"Enable Safe"=true
    B:"Enable Slope"=true
    B:"Enable Stairs"=true
    B:"Enable Torch"=true
}


features {
    # This allows restricted blocks to be used as covers.
    # Add your own by supplying the display name for the block (en_US only).
    S:"Cover Exceptions" <
        Silverwood Planks
        Greatwood Planks
        Thatch
     >
    B:"Enable Chisel Designs"=true
    B:"Enable Covers"=true
    B:"Enable Dye Colors"=true
    B:"Enable Freestanding Ladders"=false

    # This allows garage doors to automatically fill in gaps when barriers beneath doors are destroyed.
    B:"Enable Garage Door Void Autofill"=true

    # This will enable players to cover blocks with glowstone dust to make them illuminate.
    B:"Enable Illumination"=true
    B:"Enable Overlays"=true

    # This will prevent players besides you and server operators from editing your objects.
    # Note: this does not protect objects against destruction (intentional), and may allow activation if appropriate. Also, the Carpenter's Safe is not affected by this.
    B:"Enable Ownership"=true

    # This controls whether panes (used in doors, hatches, and other blocks) should render on alpha pass.
    # This is needed to allow translucent window glass, for instance.
    B:"Enable Pane Alpha Rendering"=true

    # This allows Carpenter's Blocks with solid top faces to create slopes above them when a sloping rail is above the block.
    B:"Enable Rail Slope Fill"=true
    B:"Enable Side Covers"=true

    # This controls whether torches extinguish themselves when exposed to rain or snow.
    B:"Enable Torch Weather Effects"=true

    # This controls how many blocks can be connected as a single entity.
    # Note: only applies to Garage Doors.
    I:"MultiBlock Size Limit"=500

    # This maps items to overlays.
    # Items are prefixed with display names (en_US only).
    # Overlay suffixes are :grass, :snow, :web, :vine, :hay, :mycelium
    S:"Overlay Definitions" <
        Seeds:grass
        Snowball:snow
        String:web
        Vines:vine
        Wheat:hay
        Mushroom:mycelium
     >

    # When enabled, unobstructed stationary fluid adjacent to block will render in the block space.
    # Note: when enabled, you may experience noticeable chunk update lag spikes.
    B:"Routable Fluids"=false

    # This controls the smoothness of the slope faces.
    # Note: smoothness of 2 is similar to stairs, while a value above 25 is generally fluid.
    I:Smoothness=4
}


items {
    B:"Enable Chisel"=true
    B:"Enable Hammer"=true
    B:"Enable Tile"=true
    I:"Vanilla Tool Uses"=400
    B:"Vanilla Tools Damageable"=true
    D:itemHammerDamageChanceFromCollapsible=0.2
    D:itemHammerDamageChanceFromSlopes=0.75
    D:itemHammerDamageChanceFromStairs=1.0
}


"recipe quantities" {
    I:Barrier=4
    I:Bed=1
    I:Block=5
    I:Button=1
    I:"Collapsible Block"=9
    I:"Daylight Sensor"=1
    I:Door=1
    I:"Flower Pot"=1
    I:"Garage Door"=8
    I:Gate=1
    I:Hatch=1
    I:Ladder=4
    I:Lever=1
    I:"Pressure Plate"=1
    I:Safe=1
    I:Slope=6
    I:Stairs=4
    I:Tile=12
    I:Torch=8
}


