#CodeChickenCore configuration file.

checkUpdates=false

#set to true to completely deobfuscate mcp names
dev.deobfuscate=false
#Enabling this setting will make all minecraft classes public at runtime in MCP just as they are in modloader.
#You should ONLY use this when you are testing with a mod that relies on runtime publicity and doesn't include access transformers.
#Such mods are doing the wrong thing and should be fixed.
dev.runtimePublic=false

#Configuration options for checking various requirements for a modpack.
checks
{
	#If set to true, check RAM available for Minecraft before continuing to load
	checkRAM=true
	#Amount of RAM minimum this modpack needs to load
	minRAM=3GB
	#Name of the modpack
	modPack=GTNH
	#Lower bound of recommended RAM
	recRAM=4GB
	#Upper bound of recommended RAM
	recRAMUpper=6GB
	#Webpage describing RAM settings
	wiki=See <a href="https://gtnh.miraheze.org/m/3S2">the Wiki</a> for details.
}

#Various tweaks that can be applied to game mechanics.
tweaks
{
	#If set to true and doFireTick is disabled in the game rules, fire will still dissipate if it's not over a fire source
	doFireTickOut=true
	#If set to true, creepers will not destroy landscape. (A version of mobGriefing setting just for creepers)
	environmentallyFriendlyCreepers=false
	#If set to true two adjacent water source blocks will not generate a third.
	finiteWater=true
	#Set this to true to use the pre1.5 lava textures
	replaceLavaFX=false
	#Set this to true to use the pre1.5 water textures
	replaceWaterFX=false
	#If set to false, leaves will only replace air when growing
	softLeafReplace=false
}
