# Configuration file

coroutil {
    S:chunkCacheDimensionBlacklist_IDs=
    S:chunkCacheDimensionBlacklist_Names=promised
    B:chunkCacheOverworldOnly=false
    B:usePlayerRadiusChunkLoadingForFallback=true
}


