# Configuration file

general {
    # Whether or not the End should be dark [default: false]
    B:darkEnd=false

    # Whether or not the Nether should be dark [default: true]
    B:darkNether=false

    # Whether or not the Twilight Forest should be dark [default: false]
    B:darkTwilightForest=false

    # A list of dimension ids in which Darkerer will be completely disabled [default: []]
    I:dimBlocklist <
        7
     >

    # How Darkerer should behave
    # Possible values: [NO_MIN_SKY_OR_BLOCK_LIGHT, NO_MIN_BLOCK_LIGHT, MOON_PHASE]
    #  [default: NO_MIN_SKY_OR_BLOCK_LIGHT]
    S:mode=NO_MIN_SKY_OR_BLOCK_LIGHT

    # Attempts to remove the blue sky light that occurs when using mode NO_MIN_BLOCK_LIGHT or MOON_PHASE [default: true]
    B:removeBlueSkyLight=true
}


