# Configuration file

##########################################################################################################
# essentia generator outputs
#--------------------------------------------------------------------------------------------------------#
# Change outputs linked to different Essentias here
##########################################################################################################

"essentia generator outputs" {
    I:"Aer Output"=15000
    I:"Aqua Output"=5000
    I:"Ignis Output"=20000
    I:"Ordo Output"=16000
    I:"Output Cap"=-1
    I:"Perditio Output"=10000
    I:"Terra Output"=2000
}


##########################################################################################################
# numeric values
#--------------------------------------------------------------------------------------------------------#
# The only way to change some numbers that my machines uses.
##########################################################################################################

"numeric values" {
    I:"Aer generator"=300
    I:"Arbor generator"=450

    # Default is 32
    I:"Armor Charging Ring production"=32
    I:"Auram generator"=400

    # This is the number you have to modify if you want to make the Compressed Solar Panel yield more or less EU per tick. Really, you shouldn't touch that, since it's pretty balanced as it is.
    I:"Compressed Solar Panel Output"=10

    # This is the number you have to modify if you want to make the Double Compressed Solar Panel yield more or less EU per tick. Really, you shouldn't touch that, since it's pretty balanced as it is.
    I:"Double Compressed Solar Panel Output"=100

    # This is the number you have to modify if you want to change the size of the internal buffer of the Essentia Generator
    I:"Essentia Generator Storage"=1000000
    I:"Essentia Generators draw rate"=120

    # Default is 400, the double of a regular furnace
    I:"Etheral Processor speed"=400

    # This number is the chance of getting a Thaumium Ingot as a bonus when processing an item in the machine. It is 1 out of the number you will enter. The default is 1/10 chance.
    I:"Ethereal Processor Bonus"=10
    I:"Ignis generator"=400

    # Default is 32
    I:"Inventory Charging Ring production"=32

    # Watch out, that goes up REALLY quickly.
    D:"Nano Boots of the Traveller Speed"=0.25

    # Watch out, that goes up REALLY quickly.
    D:"Nano Boots of the Traveller jump"=0.6

    # Energy amount drained will tripled if player drops more than this amount of blocks
    D:"Nano Boots of the Traveller maximum healthy drop"=35.0

    # The distance allowed to fall without any damage
    D:"Nano Boots of the Traveller minimum drop"=6.0
    I:"Potentia generator"=200

    # Watch out, that goes up REALLY quickly.
    D:"Quantum Boots of the Traveller Speed"=0.5

    # Watch out, that goes up REALLY quickly.
    D:"Quantum Boots of the Traveller jump"=0.9

    # Energy amount drained will tripled if player drops more than this amount of blocks
    D:"Quantum Boots of the Traveller maximum healthy drop"=100.0

    # The distance allowed to fall without any damage
    D:"Quantum Boots of the Traveller minimum drop"=10.0

    # This is the number you have to modify if you want to make the Triple Compressed Solar Panel yield more or less EU per tick. Really, you shouldn't touch that, since it's pretty balanced as it is.
    I:"Triple Compressed Solar Panel Output"=1000

    # This is the number you have to modify if you want to make the Industrial Wand Charging Station use more or less EU to charge 1 unit of Vis on your wand.
    I:"Wand Charging Station Consumption"=50000

    # Default is 64
    I:"Wand Focus: Charge production"=64

    # Default is 40000
    I:"Wand Focus: Wand Charging Cost"=40000
}


##########################################################################################################
# random configs
#--------------------------------------------------------------------------------------------------------#
# Options that don't fit into the other categories.
##########################################################################################################

"random configs" {
    # This is here because of conflicts between mods that add the same input and different outputs
    B:"Clear Amber/Cinnabar Macerating"=true

    # There is no other way to get this item.
    B:"Disable One Ring in dungeon chests"=false

    # This was added because of mods making you totally blind if using nightvision. For example, enable that when in the Deep Dark.
    B:"Disable nightvision helmets"=false

    # This effect only appears when the player isn't on the ground
    B:"Disable smoke effect for boots"=false

    # This config option is to enable or disable capes for people who have them. Seriously, you shouldn't touch that unless you have another cape and it conflicts with it.
    B:"Enable capes"=true

    # Warning: the enchantability is low.
    B:"Enable enchanting tools"=false

    # The impact of rain on all wings
    B:"Impact of rain"=true

    # If you have a lot of mods adding dungeon loot, you should definetely increase this
    I:"One Ring spawning chance"=15

    # If you have a lot of mods adding dungeon loot, you should definetely increase this
    I:"Tainted Mjolnir spawning change"=25

    # This will augment the durablilty of the tools, and will also decrease the EU cost to 1. The tools should have the same number of uses than before.
    B:"Tools for Arcane Bore"=false
}


##########################################################################################################
# research
#--------------------------------------------------------------------------------------------------------#
# The only way to disable some researches. Be careful, if you disable some researches, all researches linked to it will be removed too. Really, don't touch that unless you know exactly what you are doing.
##########################################################################################################

research {
    B:"Aer Generator"=false
    B:"Air Solar Panels"=false
    B:"Arbor Generator"=false
    B:"Armor Charging Ring"=false
    B:"Auram Generator"=false
    B:"Chainsaw of the Stream"=false
    B:"Compressed Solars"=false
    B:"Diamond Omnitool"=false
    B:"Drill of the Rockbreaker"=false
    B:"Earth Solar Panels"=false
    B:"Electric Boots of the Traveller"=false
    B:"Electric Googles of Revealing"=false
    B:"Electric Hoe of Growth"=false
    B:"Electric Scribing Tools"=false
    B:"EnergyBall Focus"=false
    B:"Entropy Solar Panels"=false
    B:"Ethereal Processor"=false
    B:"Explosion Focus"=false
    B:"Fire Solar Panels"=false
    B:"Ignis Generator"=false
    B:"Industrial Wand Charging Station"=false
    B:"Infused Quantum Chestplate"=false
    B:"Inventory Charging Ring"=false
    B:"Kris-tmas Focus"=false
    B:"Lucrum Generator"=false
    B:Mjolnir=false
    B:"Nano Boots of the Traveller"=false
    B:"Nanosuit Googles of Revealing"=false
    B:"Nanosuit Wings"=false
    B:Omnitool=false
    B:"Order Solar Panels"=false
    B:"Portable Node"=false
    B:"Potentia Generator"=false
    B:"Quantum Boots of the Traveller"=false
    B:"Quantum Googles of Revealing"=false
    B:"Quantum Wings"=false
    B:"Saxum Generator"=false
    B:"Shield Block"=false
    B:"Shield Focus"=false
    B:"Solar Helmet of Revealing"=false
    B:"Supercharged Mjolnir"=false
    B:"Thaumium Chainsaw"=false
    B:"Thaumium Drill"=false
    B:"Thaumium Omnitool"=false
    B:"Thaumium Reinforced Wings"=false
    B:"Tiny Piles of Uranium"=false
    B:"UU-Mater Infusion"=false
    B:"Wand Focus: Charging"=false
    B:"Wand Focus: Wand Charging"=false
    B:"Water Solar Panels"=false
}


