# Configuration file

general {
    #  [default: true]
    B:canQuarryMineHives=true

    # Attempt to generate this many hives per chunk. [range: 0 ~ 2147483647, default: 2]
    I:netherHiveRate=2

    # Attempt to generate this many hives per chunk. [range: 0 ~ 2147483647, default: 2]
    I:rockHiveRate=2

    # Attempt to generate this many hives per chunk. [range: 0 ~ 2147483647, default: 1]
    I:waterHiveRate=1
}


