# Configuration file

~CONFIG_VERSION: 2.0.5

crops {
    # If crops should drop seeds instead of some of the food [default: false]
    B:cropsDropSeeds=false

    # If crops can be harvested and replaced by richt-clicking them [default: true]
    S:rClickHarvestCrops=true

    # If crops show heart particles if fully grown when right-clicked [default: false]
    S:rClickMatureCropsShowHearts=false
}


"fruit trees" {
    # If fruits can be harvested and replaced by richt-clicking them [default: true]
    S:rClickHarvestFruits=true

    # If fruits show heart particles if fully grown when right-clicked [default: false]
    S:rClickMatureFruitsShowHearts=false

    # Number of Nether Tree generation attempts per chunk [range: 0 ~ 1000, default: 15]
    I:treeRarity=15
}


gardens {
    # How many items should drop when breaking a Nether Garden [range: 1 ~ 1024, default: 3]
    I:gardenDropAmount=3

    # Number of Nether Garden group generation attempts per chunk (one group consists of up to eight Nether Gardens) [range: 0 ~ 1000, default: 4]
    I:gardenRarity=4

    # How many random ticks it takes (on average) for a Nether Garden to spread to another block (set to 0 to disable spreading) [range: 0 ~ 2147483647, default: 100]
    I:gardenSpreadRate=100

    # If Nether Gardens should drop seeds instead of normal food [default: false]
    B:gardensDropSeeds=false

    # Number of Glow Flower group generation attempts per chunk (one group consists of up to eight Glow Flowers) [range: 0 ~ 1000, default: 4]
    I:glowFlowerRarity=4

    # How many random ticks it takes (on average) for a Glow Flower to spread to another block (set to 0 to disable spreading) [range: 0 ~ 2147483647, default: 100]
    I:glowFlowerSpreadRate=100

    # If Glow Flower blocks should drop Glow Flower Seeds instead of itself [default: false]
    B:glowFlowersDropSeeds=false
}


general {
    # (CLIENT ONLY) What percentage of responses to the same prompt in "/fetherai text <prompt>" should return a random response [range: 0.0 ~ 1.0, default: 0.1]
    S:aiRandomness=0.1

    # (CLIENT ONLY) If the "/fetherai" command should be enabled [default: true]
    B:enableFetherAI=true

    # If Quartz Tools, Quartz Armor and the Quartz Ingot should be registered. WARNING: Changing this to false can cause problems with existing worlds! [default: true]
    B:enableQuartzItems=true

    # How many hunger points crop drops should restore [range: 0 ~ 20, default: 1]
    S:foodHungerRestore=1

    # Saturation modifer of all crop drops [range: 0.0 ~ 10.0, default: 0.6]
    S:foodSaturationModifier=0.6
}


recipes {
    # If Quartz Tools / Weapons can be repaired using Quartzite Ingots [default: true]
    B:areToolsRepairable=true

    # If crop drops can be converted to seeds via shapeless crafting [default: true]
    S:enableCrop2SeedRecipes=true

    # If Quartz Armor can be repaired using Quartzite Ingots [default: true]
    B:isArmorRepairable=true
}


