# Configuration file

general {
    # Block highlighting duration in seconds
    S:BlockHighlightingDuration=8

    # Rotate player's view when searched
    S:EnableRotateView=true

    # Item highlighting color as a hexadecimal color code. For example 0xFFFF8726
    S:ItemHighlightingColor=FFFF8726

    # Item highlighting duration
    S:ItemHighlightingDuration=10

    # If true, the item stack size is ignored. If false, items are only highlighted if their stack size is greater than zero.
    # This is useful when working with barrels or storage drawers.
    S:ItemHighlightingEmptyItemStacks=true

    # Maximum number of positions that can be displayed by item/block search
    S:MaxResponseSize=20

    # Search cooldown in ticks
    S:SearchCooldown=10

    # Search items & fluids in EnderIO conduits
    S:SearchInEnderIOConduits=false

    # Search items & fluids in GT pipes
    S:SearchInGregTechPipes=false

    # Search items dropped on ground
    S:SearchItemsOnGround=true

    # Radius to search within
    S:SearchRadius=16

    # Use Particle for Block Highlighter
    S:UseParticleHighlighter=false
}


