# Configuration file

compatibility {
    # AM2 interaction is unsupported. Enable at your own risk.
    B:"Ars Magica 2 Interaction"=false
    B:"Blood Magic Interaction"=true
    B:"Botania Interaction"=true

    # Disable to remove all conversion wands.
    B:"Conversion Wands"=true

    # Disable to keep mods segregated.
    B:"Cross-Mod Interaction"=true
    B:"Special Mobs Interaction"=true
    B:"Thaumic Tinkerer Interaction"=true
    B:"Tinkers Construct Interaction"=true
}


enchantments {
    I:Capitalist=68
    I:Consuming=69
    I:Corrupting=71
    I:Educational=70
    I:"Fiery Core"=66
    I:Impact=73
    I:Voidtouched=72
    I:Wrath=67
}


general {
    # Disable to remove the recipe and effects of the Capitalist enchantment.
    B:"Capitalist Enchantment"=true

    # Disable to remove the Emerald Transmutation research and recipe.
    B:"Emerald Transmutation"=true

    # Enable to remove Luxuria aspect and related items.
    B:"No Lust"=false

    # Disable to prevent Silverfish from dropping emerald nuggets.
    B:"Silverfish Drop Emerald Nuggets"=true

    # Disable to get rid of the [FM] tags in the Thaumonomicon.
    B:"Tag Research Items"=true

    # Enable to let the Wrath Cage imprint on ANY non-boss mob.  May break your game or make your game Awesome.
    B:"Wrath Cage Cries Havoc"=false

    # Disable if you don't want players using the Wrath Cage.
    B:"Wrath Cage Enabled"=true

    # Cost of essentia per round of spawns in the Wrath Cage.  Raise to increase essentia costs.  Defaults to 5.  Set to 0 to remove the need to fuel the Wrath Cage.  Setting the cost above 64 is not recommended.
    I:"Wrath Cage Fuel Cost"=5

    # Number of spawns a Wrath Cage can get per fuel cost.  Defaults to 4.  Lower to make the cage less efficient and raise to make it more efficient.
    I:"Wrath Cage Fuel Efficiency"=4
}


potions {
    I:"Blood Seal"=70
}


silly {
    # What is this?  I don't even...
    B:"Spork of Doom"=false
}


