# Configuration file

general {
    # Laser overclock penalty factor. This will incredibly change the game balance. Even a small step from 0.2 to 0.3 can have very significant impact. Tweak with caution! [range: 0.0 ~ 10.0, default: 0.3]
    S:laserOCPenaltyFactor=0.3
}


