# Configuration file

"additional tweaks" {
    # List of blocks the Advanced Chainsaw should be able to break. (Note: The Advanced Chainsaw can also break the same blocks as Diamond Axe and Diamond Sword) [default: [minecraft:leaves], [minecraft:wool], [minecraft:melon_block], [minecraft:cactus], [minecraft:snow], [IC2:blockRubLeaves]]
    S:AdvChainsawAdditionalMineableBlocks <
        minecraft:leaves
        minecraft:wool
        minecraft:melon_block
        minecraft:cactus
        minecraft:snow
        IC2:blockRubLeaves
     >

    # These items can be used in place of the Quantum Boots and still allow the usage of the Quantum Shield [default: [EMT:QuantumBootsTraveller]]
    S:AllowedShieldBoots <
        EMT:QuantumBootsTraveller
        thaumicboots:item.ItemQuantumComet
        thaumicboots:item.ItemQuantumVoid
        thaumicboots:item.ItemQuantumMeteor
     >

    # These items can be used in place of the Quantum Helmet and still allow the usage of the Quantum Shield [default: [AdvancedSolarPanel:hybrid_solar_helmet], [AdvancedSolarPanel:ultimate_solar_helmet], [EMT:QuantumGogglesRevealing], [EMT:SolarHelmetRevealing]]
    S:AllowedShieldHelmets <
        AdvancedSolarPanel:hybrid_solar_helmet
        AdvancedSolarPanel:ultimate_solar_helmet
        EMT:QuantumGogglesRevealing
        EMT:SolarHelmetRevealing
     >

    # These items can be used in place of the Quantum Leggins and still allow the usage of the Quantum Shield [default: ]
    S:AllowedShieldLeggins <
     >

    # The chance each tick that the epic lappack will scan a players inventory for chargeable items. 1 means it will scan every tick and thus charge a lot quicker. 20 is about each second [range: 1 ~ 999, default: 10]
    I:EpicLapPackChargeTickChance=10

    # Set the maximum tool-level here. Only required if you have Tinkers/Iguana and want pretty tooltips [range: 0 ~ 999, default: 3]
    I:MaxToolLevelAvailable=9

    # List of fluids usable in the Plasma Launcher. Formatting: fluidName:damageMultiplier [default: ]
    S:PlasmaLauncherFluids <
     >
    S:ThisIsAHackedMod=i know and its ok

    # Max speed at which the player falls when wearing an Advanced Jetpack using hover-mode (GS default is 0.03) [range: 0.0 ~ 1.0, default: 0.0]
    S:hoverModeFallSpeed=0.0

    # Base XP factor for levelable tools. Needed XP for the next level is xpGainFactor*(currentLevel + 1)^2 [range: 1 ~ 150000000, default: 10000]
    I:xpGainFactor=10000
}


"armor presets" {

    advjetpack {
        # How much damage this armor pieve can absorb [range: 0.0 ~ 1.0, default: 0.0]
        D:absorptionRatio=0.0
    }

    advlappack {
        # How much damage this armor pieve can absorb [range: 0.0 ~ 1.0, default: 0.0]
        D:absorptionRatio=0.0
    }

    advnanochestplate {
        # How much damage this armor pieve can absorb [range: 0.0 ~ 1.0, default: 0.36]
        D:absorptionRatio=0.36
    }

    gravichestplate {
        # How much damage this armor pieve can absorb [range: 0.0 ~ 1.0, default: 0.44]
        D:absorptionRatio=0.44
    }

}


"electric presets" {

    advjetpack {
        # How many Energy Units this item will consume per operation (items with multiple modes may consume a different amount) [range: 0 ~ 2147483647, default: 12]
        I:EnergyPerOperation=12

        # How many Energy Units this item is able to store [range: 0 ~ 2147483647, default: 3000000]
        I:MaxCharge=3000000

        # This item's electric tier [range: 0 ~ 14, default: 3]
        I:Tier=3

        # How many Energy Units can be stored in/retrieved from this item per transfer [range: 0 ~ 2147483647, default: 3000]
        I:TransferLimit=3000
    }

    advchainsaw {
        # How many Energy Units this item will consume per operation (items with multiple modes may consume a different amount) [range: 0 ~ 2147483647, default: 100]
        I:EnergyPerOperation=100

        # How many Energy Units this item is able to store [range: 0 ~ 2147483647, default: 1000000]
        I:MaxCharge=1000000

        # This item's electric tier [range: 0 ~ 14, default: 2]
        I:Tier=2

        # How many Energy Units can be stored in/retrieved from this item per transfer [range: 0 ~ 2147483647, default: 500]
        I:TransferLimit=500
    }

    advdrill {
        # How many Energy Units this item will consume per operation (items with multiple modes may consume a different amount) [range: 0 ~ 2147483647, default: 3333]
        I:EnergyPerOperation=3333

        # How many Energy Units this item is able to store [range: 0 ~ 2147483647, default: 10000000]
        I:MaxCharge=10000000

        # This item's electric tier [range: 0 ~ 14, default: 4]
        I:Tier=4

        # How many Energy Units can be stored in/retrieved from this item per transfer [range: 0 ~ 2147483647, default: 100000]
        I:TransferLimit=100000
    }

    gravichestplate {
        # How many Energy Units this item will consume per operation (items with multiple modes may consume a different amount) [range: 0 ~ 2147483647, default: 278]
        I:EnergyPerOperation=278

        # How many Energy Units this item is able to store [range: 0 ~ 2147483647, default: 30000000]
        I:MaxCharge=30000000

        # This item's electric tier [range: 0 ~ 14, default: 4]
        I:Tier=4

        # How many Energy Units can be stored in/retrieved from this item per transfer [range: 0 ~ 2147483647, default: 300000]
        I:TransferLimit=300000
    }

    gravitool {
        # How many Energy Units this item will consume per operation (items with multiple modes may consume a different amount) [range: 0 ~ 2147483647, default: 500]
        I:EnergyPerOperation=500

        # How many Energy Units this item is able to store [range: 0 ~ 2147483647, default: 300000]
        I:MaxCharge=300000

        # This item's electric tier [range: 0 ~ 14, default: 2]
        I:Tier=2

        # How many Energy Units can be stored in/retrieved from this item per transfer [range: 0 ~ 2147483647, default: 3000]
        I:TransferLimit=3000
    }

    relocator {
        # How many Energy Units this item will consume per operation (items with multiple modes may consume a different amount) [range: 0 ~ 2147483647, default: 0]
        I:EnergyPerOperation=0

        # How many Energy Units this item is able to store [range: 0 ~ 2147483647, default: 10000000]
        I:MaxCharge=10000000

        # This item's electric tier [range: 0 ~ 14, default: 4]
        I:Tier=4

        # How many Energy Units can be stored in/retrieved from this item per transfer [range: 0 ~ 2147483647, default: 100000]
        I:TransferLimit=100000
    }

    advlappack {
        # How many Energy Units this item will consume per operation (items with multiple modes may consume a different amount) [range: 0 ~ 2147483647, default: 0]
        I:EnergyPerOperation=0

        # How many Energy Units this item is able to store [range: 0 ~ 2147483647, default: 3000000]
        I:MaxCharge=3000000

        # This item's electric tier [range: 0 ~ 14, default: 3]
        I:Tier=3

        # How many Energy Units can be stored in/retrieved from this item per transfer [range: 0 ~ 2147483647, default: 30000]
        I:TransferLimit=30000
    }

    ultimatelappack {
        # How many Energy Units this item will consume per operation (items with multiple modes may consume a different amount) [range: 0 ~ 2147483647, default: 0]
        I:EnergyPerOperation=0

        # How many Energy Units this item is able to store [range: 0 ~ 2147483647, default: 30000000]
        I:MaxCharge=30000000

        # This item's electric tier [range: 0 ~ 14, default: 4]
        I:Tier=4

        # How many Energy Units can be stored in/retrieved from this item per transfer [range: 0 ~ 2147483647, default: 300000]
        I:TransferLimit=300000
    }

    epiclappack {
        # How many Energy Units this item will consume per operation (items with multiple modes may consume a different amount) [range: 0 ~ 2147483647, default: 0]
        I:EnergyPerOperation=0

        # How many Energy Units this item is able to store [range: 0 ~ 2147483647, default: 300000000]
        I:MaxCharge=300000000

        # This item's electric tier [range: 0 ~ 14, default: 5]
        I:Tier=5

        # How many Energy Units can be stored in/retrieved from this item per transfer [range: 0 ~ 2147483647, default: 3000000]
        I:TransferLimit=3000000
    }

    vajra {
        # How many Energy Units this item will consume per operation (items with multiple modes may consume a different amount) [range: 0 ~ 2147483647, default: 3333]
        I:EnergyPerOperation=3333

        # How many Energy Units this item is able to store [range: 0 ~ 2147483647, default: 10000000]
        I:MaxCharge=10000000

        # This item's electric tier [range: 0 ~ 14, default: 4]
        I:Tier=4

        # How many Energy Units can be stored in/retrieved from this item per transfer [range: 0 ~ 2147483647, default: 100000]
        I:TransferLimit=100000
    }

    plasmalauncher {
        # How many Energy Units this item will consume per operation (items with multiple modes may consume a different amount) [range: 0 ~ 2147483647, default: 1000000]
        I:EnergyPerOperation=1000000

        # How many Energy Units this item is able to store [range: 0 ~ 2147483647, default: 10000000]
        I:MaxCharge=10000000

        # This item's electric tier [range: 0 ~ 14, default: 5]
        I:Tier=5

        # How many Energy Units can be stored in/retrieved from this item per transfer [range: 0 ~ 2147483647, default: 375000]
        I:TransferLimit=375000
    }

    plasmacell {
        # How many Energy Units this item will consume per operation (items with multiple modes may consume a different amount) [range: 0 ~ 2147483647, default: 0]
        I:EnergyPerOperation=0

        # How many Energy Units this item is able to store [range: 0 ~ 2147483647, default: 100000000]
        I:MaxCharge=100000000

        # This item's electric tier [range: 0 ~ 14, default: 5]
        I:Tier=5

        # How many Energy Units can be stored in/retrieved from this item per transfer [range: 0 ~ 2147483647, default: 375000]
        I:TransferLimit=375000
    }

}


"hud settings" {
    # [default: true]
    B:"Display hud"=true

    # [range: 1 ~ 4, default: 1]
    I:hudPosition=3
}


"recipes settings" {
    # [default: false]
    B:"Disable Advanced Chainsaw recipe"=true

    # [default: false]
    B:"Disable Advanced Dimond Drill recipe"=true

    # [default: false]
    B:"Disable Advanced Jetpack recipe"=true

    # [default: false]
    B:"Disable Advanced NanoChestPlate recipe"=true

    # [default: false]
    B:"Disable AdvancedLappack recipe"=true

    #  [default: false]
    B:"Disable Basic recipes"=true

    #  [default: false]
    B:"Disable EpicLappack recipe"=true

    # [default: false]
    B:"Disable GraviChestPlate recipe"=true

    # [default: false]
    B:"Disable GraviTool recipe"=true

    #  [default: false]
    B:"Disable Nanobot recipe"=false

    # [default: false]
    B:"Disable Relocator recipe"=true

    # [default: false]
    B:"Disable UltimateLappack recipe"=true

    # [default: false]
    B:"Disable UltimateSolarHelmet recipe"=true

    # [default: false]
    B:"Disable Vajra recipe"=true
}


"relocator settings" {
    # [default: false]
    B:"Disable portal mode"=false

    # [default: false]
    B:"Disable translocator mode"=false

    # [range: 0 ~ 2147483647, default: 1500000]
    I:relocatorEnergyPerDimesionTp=5000000

    # [range: 0 ~ 2147483647, default: 2500000]
    I:relocatorEnergyPerPortal=2500000

    # [range: 0 ~ 2147483647, default: 1000000]
    I:relocatorEnergyPerStandartTp=2500000

    # [range: 0 ~ 2147483647, default: 2000000]
    I:relocatorEnergyPerTranslocator=2000000
}


"sounds settings" {
    # [default: false]
    B:"Disable all sounds"=false
}


"vajra settings" {
    # [default: false]
    B:"Disable Vajra accurate mode"=false
}


