# Configuration file

settings {
    # Whether the End is also supposed to have its minimum light removed [default: false]
    B:"Dark End"=false

    # Whether the Nether is also supposed to have its minimum light removed [default: true]
    B:"Dark Nether"=false

    # Whether it should be dark in the Twilight Forest [default: false]
    B:"Dark Twilight Forest"=false

    # A list of dimension ids in which Hardcore Darkness will be completely disabled
    # Example: S:"Dimension Blacklist"=-1,1 [default: ]
    S:"Dimension Blacklist"=7

    # 0: No minimum sky & block light, 1: No minimum block light, 2: Skylight is dependent on moon phase
    I:Mode=0

    # Attempts to remove the blue sky light that occurs when using mode 1 or 2 [default: true]
    B:RemoveBlue=true
}


