# Configuration file

beekeeping {
    I:beehiveRarity=5
    B:enablebeehiveGeneration=false
}


candles {
    D:candlelightLevel=0.9375
    I:candlerecipeAmount=4
}


crops {
    I:cropfoodRestore=1
    D:cropsaturationRestore=0.6000000238418579
    B:cropsdropSeeds=false
    B:enablecropspecialplanting=false
    D:mealsaturation=1.2000000476837158
    D:meatymealsaturation=1.600000023841858
    B:rightclickharvestCrop=true
    B:rightclickmatureshowcropHearts=false
    D:snacksaturation=0.6000000238418579
}


dimensions {
    B:enableAroma1997sdimensionalworldfruittreeGen=false
    B:enableAroma1997sdimensionalworldgardenGen=false
    B:enabletwilightforestfruittreeGen=true
    B:enabletwilightforestgardenGen=true
}


"fruit trees" {
    B:almondtreeGeneration=true
    B:appletreeGeneration=true
    B:apricottreeGeneration=true
    B:avocadotreeGeneration=true
    B:bananatreeGeneration=true
    B:cashewtreeGeneration=true
    B:cherrytreeGeneration=true
    B:chestnuttreeGeneration=true
    B:cinnamontreeGeneration=true
    B:coconuttreeGeneration=true
    I:coniferousfruittreeRarity=15
    B:datetreeGeneration=true
    B:dragonfruittreeGeneration=true
    B:duriantreeGeneration=true
    B:figtreeGeneration=true
    B:gooseberrytreeGeneration=true
    B:grapefruittreeGeneration=true
    B:lemontreeGeneration=true
    B:limetreeGeneration=true
    B:mangotreeGeneration=true
    B:mapletreeGeneration=true
    B:nutmegtreeGeneration=true
    B:olivetreeGeneration=true
    B:orangetreeGeneration=true
    B:papayatreeGeneration=true
    B:paperbarktreeGeneration=true
    B:peachtreeGeneration=true
    B:peartreeGeneration=true
    B:pecantreeGeneration=true
    B:peppercorntreeGeneration=true
    B:persimmontreeGeneration=true
    B:pistachiotreeGeneration=true
    B:plumtreeGeneration=true
    B:pomegranatetreeGeneration=true
    B:rightclickharvestFruit=true
    B:rightclickmatureshowfruitHearts=false
    B:starfruittreeGeneration=true
    I:temperatefruittreeRarity=15
    I:tropicalfruittreeRarity=10
    B:vanillabeantreeGeneration=true
    B:walnuttreeGeneration=true
}


gardens {
    B:enableberrygardenGeneration=true
    B:enabledesertgardenGeneration=true
    B:enablegardenSpread=true
    B:enablegourdgardenGeneration=true
    B:enablegrassgardenGeneration=true
    B:enablegroundgardenGeneration=true
    B:enableherbgardenGeneration=true
    B:enableleafygardenGeneration=true
    B:enablemushroomgardenGeneration=true
    B:enablestalkgardenGeneration=true
    B:enabletextilegardenGeneration=true
    B:enabletropicalgardenGeneration=true
    B:enablewatergardenGeneration=true
    I:gardenRarity=2
    I:gardendropAmount=3
    B:gardensdropSeeds=false
    I:gardenspreadRate=100
}


general {
    B:sheepdropMutton=true
    B:squiddropCalamari=true
}


"market currency" {
    # Assign market currency as follows 0:Emerald, 1:Diamond, 2:Gold Ingot, 3:Gold Nugget, 4:Iron Ingot
    S:ignore=ignore

    # Assign market currency as follows 5:Wheat Seeds (seeds), 5:Oak Sapling (temperate fruit tree), 5:Jungle Sapling (tropical fruit tree), 5:Spruce Sapling (coniferous fruit tree), 5:Egg (animals)
    S:ignore2=ignore

    # Assign market currency as follows 6:Apple (temperate/tropical fruit tree), 7:Cocoa Beans (tropical fruit tree)
    S:ignore3=ignore
    I:marketcurrencyBonemeal=0
    I:marketcurrencyChicken=0
    I:marketcurrencyCow=0
    I:marketcurrencyHorse=0
    I:marketcurrencyPig=0
    I:marketcurrencySeeds=0
    I:marketcurrencySheep=0
    I:marketcurrencyconiferousSaplings=0
    I:marketcurrencytemperateSaplings=0
    I:marketcurrencytropicalSaplings=0
}


"market prices" {
    I:marketbonemealPrice=3
    I:marketchickenPrice=3
    I:marketcowPrice=9
    I:markethorsePrice=12
    I:marketpigPrice=6
    I:marketsaplingPrice=3
    I:marketseedPrice=1
    I:marketsheepPrice=6
}


"market sales" {
    B:marketsellBonemeal=true
    B:marketsellChicken=true
    B:marketsellCow=true
    B:marketsellHorse=true
    B:marketsellPig=true
    B:marketsellSeeds=true
    B:marketsellSheep=true
    B:marketsellconiferousSaplings=true
    B:marketselltemperateSaplings=true
    B:marketselltropicalSaplings=true
}


"miscellaneous recipes" {
    B:enablecropitemsasseeds=true
    B:enablecroptoseedRecipe=true
    B:enableharvestcraftfish=true
    B:enablelistAllwaterfreshwater=true
    B:enablelistAllwatervanillawaterbucket=true
    B:enablesaltfromwaterbucketrecipe=true
    B:enabletofuasmeatinRecipes=true
    B:enabletofuasmilkinRecipes=true
    I:fishtrapbaitrecipeamount=4
    I:freshmilkfrombucket=1
    I:freshwaterfrombucket=1
    I:fruitbaitrecipeamount=4
    I:grainbaitrecipeamount=4
    I:marketblockrecipeItem=0
    I:veggiebaitrecipeamount=4
}


salt {
    B:enablesaltGeneration=false
    I:saltRarity=30
}


seeds {
    B:artichokeseeddropfromgrass=false
    B:asparagusseeddropfromgrass=false
    B:bambooshootseeddropfromgrass=false
    B:barleyseeddropfromgrass=false
    B:beanseeddropfromgrass=false
    B:beetseeddropfromgrass=false
    B:bellpepperseeddropfromgrass=false
    B:blackberryseeddropfromgrass=false
    B:blueberryseeddropfromgrass=false
    B:broccoliseeddropfromgrass=false
    B:brusselsproutseeddropfromgrass=false
    B:cabbageseeddropfromgrass=false
    B:cactusfruitseeddropfromgrass=false
    B:candleberryseeddropfromgrass=false
    B:cantaloupeseeddropfromgrass=false
    B:cauliflowerseeddropfromgrass=false
    B:celeryseeddropfromgrass=false
    B:chilipepperseeddropfromgrass=false
    B:coffeeseeddropfromgrass=false
    B:cornseeddropfromgrass=false
    B:cottonseeddropfromgrass=false
    B:cranberryseeddropfromgrass=false
    B:cucumberseeddropfromgrass=false
    B:curryleafseeddropfromgrass=false
    B:eggplantseeddropfromgrass=false
    B:garlicseeddropfromgrass=false
    B:gingerseeddropfromgrass=false
    B:grapeseeddropfromgrass=false
    B:kiwiseeddropfromgrass=false
    B:leekseeddropfromgrass=false
    B:lettuceseeddropfromgrass=false
    B:mustardseeddropfromgrass=false
    B:oatsseeddropfromgrass=false
    B:okraseeddropfromgrass=false
    B:onionseeddropfromgrass=false
    B:parsnipseeddropfromgrass=false
    B:peanutseeddropfromgrass=false
    B:peasseeddropfromgrass=false
    B:pineappleseeddropfromgrass=false
    B:radishseeddropfromgrass=false
    B:raspberryseeddropfromgrass=false
    B:rhubarbseeddropfromgrass=false
    B:riceseeddropfromgrass=false
    B:rutabagaseeddropfromgrass=false
    B:ryeseeddropfromgrass=false
    B:scallionseeddropfromgrass=false
    B:seaweedseeddropfromgrass=false
    I:seedrarity=1
    B:sesameseedsseeddropfromgrass=false
    B:soybeanseeddropfromgrass=false
    B:spiceleafseeddropfromgrass=false
    B:spinachseeddropfromgrass=false
    B:strawberryseeddropfromgrass=false
    B:sunflowerseeddropfromgrass=false
    B:sweetpotatoseeddropfromgrass=false
    B:teaseeddropfromgrass=false
    B:tomatoseeddropfromgrass=false
    B:turnipseeddropfromgrass=false
    B:waterchestnutseeddropfromgrass=false
    B:whitemushroomseeddropfromgrass=false
    B:wintersquashseeddropfromgrass=false
    B:zucchiniseeddropfromgrass=false
}


