# Configuration file

asm {
    # Enable Glease's ASM patch to disable unused CoFH tileentity cache
    B:cofhWorldTransformer=true

    # Enable pollution rendering ASM
    B:pollutionAsm=false

    # Speedup progressbar
    B:speedupProgressBar=true

    # If using Bukkit/Thermos, the CraftServer package.
    S:thermosCraftServerClass=org.bukkit.craftbukkit.v1_7_R4.CraftServer
}


debug {
    # Enable chunk save cme debugging code.
    B:chunkSaveCMEDebug=false

    # Prints debug log if DimensionManager got crashed
    B:dimensionManagerDebug=true

    # Enable GL state debug hooks. Will not do anything useful unless mode is changed to nonzero.
    B:renderDebug=false

    # Default GL state debug mode. 0 - off, 1 - reduced, 2 - full
    I:renderDebugMode=0
}


fixes {
    # Maximum hp for BetterHUD to render as hearts
    I:betterHUDHPRenderLimit=5000

    # Removes duplicate Fermenter and Squeezer recipes and flower registration
    B:deduplicateForestryCompatInBOP=true

    # Disable Witchery potion extender for Java 12 compat
    B:disableWitcheryPotionExtender=true

    # Safely enlarge the potion array before other mods
    B:enlargePotionArray=true

    # Fix BetterHUD armor bar rendering breaking with skulls
    B:fixBetterHUDArmorDisplay=true

    # Fix BetterHUD freezing the game when trying to render high amounts of hp
    B:fixBetterHUDHPDisplay=true

    # Fix Bibliocraft packet exploits
    B:fixBibliocraftPackets=true

    # Fix Bibliocraft path sanitization
    B:fixBibliocraftPathSanitization=true

    # Fix wrapped chat lines missing colors
    B:fixChatWrappedColors=true

    # Prevents crash if server sends container with wrong itemStack size
    B:fixContainerPutStacksInSlots=true

    # Fixes the debug hitbox of the player beeing offset
    B:fixDebugBoundingBox=true

    # Fix losing bonus hearts on dimension change
    B:fixDimensionChangeHearts=true

    # Fix deleting stack when eating mushroom stew
    B:fixEatingStackedStew=true

    # Fix enchantment levels not displaying properly above a certain value
    B:fixEnchantmentNumerals=true

    # Fix Extra Utilities drums eating ic2 cells and forestry capsules
    B:fixExtraUtilitiesDrumEatingCells=true

    # Fixes rendering issues with transparent items from extra utilities
    B:fixExtraUtilitiesItemRendering=true

    # Fix dupe bug with division sigil removing enchantment
    B:fixExtraUtilitiesUnEnchanting=true

    # Fix fence connections with other types of fence
    B:fixFenceConnections=true

    # Fix vanilla fire spread sometimes cause NPE on thermos
    B:fixFireSpread=true

    # Fix Forge fluid container registry key
    B:fixFluidContainerRegistryKey=true

    # Replace recursion with iteration in FontRenderer line wrapping code
    B:fixFontRendererLinewrapRecursion=true

    # Fix windowId being set on openContainer even if openGui failed
    B:fixForgeOpenGuiHandlerWindowId=true

    # Fix the forge update checker
    B:fixForgeUpdateChecker=true

    # Fix vanilla issue where player sounds register as animal sounds
    B:fixFriendlyCreatureSounds=true

    # Fix vanilla light calculation sometimes cause NPE on thermos
    B:fixGetBlockLightValue=true

    # Fix vanilla GL state bugs causing lighting glitches in various perspectives (MC-10135).
    B:fixGlStateBugs=true

    # Fix Game Over GUI buttons disabled if switching fullscreen
    B:fixGuiGameOver=true

    # Fix arm not swinging when having too much haste
    B:fixHasteArmSwing=true

    # Fix vanilla hopper hit box
    B:fixHopperHitBox=true

    # Fix Drawer + Hopper voiding items
    B:fixHopperVoidingItems=true

    # Fix oversized chat message kicking player.
    B:fixHugeChatKick=true

    # Fix hunger overhaul low stat effects
    B:fixHungerOverhaul=true

    # Fix some items restore 0 hunger
    B:fixHungerOverhaulRestore0Hunger=true

    # Fix lag caused by IC2 armor tick
    B:fixIc2ArmorLag=true

    # Fix IC2's direct inventory access
    B:fixIc2DirectInventoryAccess=true

    # Fix IC2 armors to avoid giving poison
    B:fixIc2Hazmat=true

    # Fix IC2's armor hover mode
    B:fixIc2HoverMode=true

    # Prevent IC2's nightvision from blinding you
    B:fixIc2Nightvision=true

    # Fix IC2's reactor dupe
    B:fixIc2ReactorDupe=true

    # Fixes various unchecked IC2 getBlock() methods
    B:fixIc2UnprotectedGetBlock=true

    # Fix Axis aligned Bounding Box of Ignis Fruit
    B:fixIgnisFruitAABB=true

    # Fix the bug that makes fireballs stop moving when chunk unloads
    B:fixImmobileFireballs=true

    # Prevents journeymap from using illegal character in file paths
    B:fixJourneymapFilePath=true

    # Fix jumpy scrolling in the waypoint manager screen
    B:fixJourneymapJumpyScrolling=true

    # Prevent unbinded keybinds from triggering when pressing certain keys
    B:fixJourneymapKeybinds=true

    # Allows the server to assign the logged in UUID to the same username when online_mode is false
    B:fixNetHandlerLoginServerOfflineMode=true

    # Prevents crash if server sends itemStack with index larger than client's container
    B:fixNetHandlerPlayClientHandleSetSlot=true

    # If fancy graphics are enabled, Nether Leaves render sides with other Nether Leaves adjacent too
    B:fixNetherLeavesFaceRendering=true

    # Fix northwest bias on RandomPositionGenerator
    B:fixNorthWestBias=true

    # Forces the chunk loading option from optifine to default since other values can crash the game
    B:fixOptifineChunkLoadingCrash=true

    # Prevent tall grass and such to affect the perspective camera
    B:fixPerspectiveCamera=true

    # Allow some mods to properly fetch the player skin
    B:fixPlayerSkinFetching=true

    # Properly display level of potion effects in the inventory and on tooltips
    B:fixPotionEffectNumerals=true

    # Fix crashes with ConcurrentModificationException because of incorrectly iterating over active potions
    B:fixPotionIterating=true

    # Fix potions >= 128
    B:fixPotionLimit=true

    # Fix game window becoming not resizable after toggling fullscrean in any way
    B:fixResizableFullscreen=true

    # Fix resource pack folder not opening on Windows if file path has a space
    B:fixResourcePackOpening=true

    # Fix Thaumcraft Aspects being sorted by tag instead of by name
    B:fixThaumcraftAspectSorting=true

    # Fix golem's marker loading failure when dimensionId larger than MAX_BYTE
    B:fixThaumcraftGolemMarkerLoading=true

    # Fix time commands with GC
    B:fixTimeCommandWithGC=true

    # Fix exiting fullscreen when you tab out of the game
    B:fixUnfocusedFullscreen=true

    # Fix URISyntaxException in forge.
    B:fixUrlDetection=true

    # Fixes various unchecked vanilla getBlock() methods
    B:fixVanillaUnprotectedGetBlock=true

    # Fixes village unchecked getBlock() calls
    B:fixVillageUncheckedGetBlock=true

    # Fix unprotected getBlock() in World
    B:fixWorldGetBlock=true

    # Fix WorldServer leaking entities when no players are present in a dimension
    B:fixWorldServerLeakingUnloadedEntities=true

    # Fix scrolling in the world map screen
    B:fixXaerosWorldMapScrolling=true

    # Fix ZTones packet exploits
    B:fixZTonesPackets=true

    # Stacks picked up per tick
    I:itemStacksPickedUpPerTick=36

    # BiomesOPlenty Java 12 compatibility patches.
    B:java12BopCompat=true

    # Immersive Engineering Java 12 compatibility patch
    B:java12ImmersiveEngineeringCompat=true

    # Lotr Java 12 compatibility patch
    B:java12LotrCompat=true

    # Minechem Java 12 compatibility patch
    B:java12MineChemCompat=true

    # Log oversized chat message to console. WARNING: might create huge log files if this happens very often.
    B:logHugeChat=true

    # Optimize inventory access to IC2 nuclear reactor
    B:optimizeIc2ReactorInventoryAccess=true

    # Fix too early light initialization
    B:optimizeWorldUpdateLight=true

    # Disable the creative search tab since it can be very laggy in large modpacks
    B:removeCreativeSearchTab=true

    # Remove old/stale/outdated update checks.
    B:removeUpdateChecks=true

    # Drastically speedup animated textures (Basically the same as with optifine animations off but animations are working)
    B:speedupAnimations=true

    # Stop "You can only sleep at night" message filling the chat
    B:squashBedErrorMessage=true

    # Limits the amount of times the ItemPickupEvent triggers per tick since it can lead to a lot of lag
    B:throttleItemPickupEvent=true

    # Triggers all conflicting key bindings on key press instead of a random one
    B:triggerAllConflictingKeybindings=true

    # Validate vanilla packet encodings before sending in addition to on reception
    B:validatePacketEncodingBeforeSending=true

    # Should the extended packet validation error cause a crash (true) or just print out an error to the log (false)
    B:validatePacketEncodingBeforeSendingShouldCrash=false
}


pollution {
    # Pollution Amount for Advanced Coke Ovens
    I:advancedCokeOvenPollution=80

    # Pollution Amount for Coke Ovens
    I:cokeOvenPollution=10

    # Explosion pollution
    D:explosionPollution=333.34

    # Pollution Amount for RC Firebox
    I:fireboxPollution=20

    # Furnace pollution per second, min 1!
    I:furnacePollution=20

    # Make furnaces Pollute
    B:furnacesPollute=true

    # Pollution Amount for hobbyist steam engine
    I:hobbyistEnginePollution=20

    # Make Railcraft Pollute
    B:railcraftPollutes=true

    # Pollution Amount for Rockets
    I:rocketPollution=10000

    # Make rockets Pollute
    B:rocketsPollute=true

    # Pollution Amount for tunnel bore
    I:tunnelBorePollution=2
}


##########################################################################################################
# pollution_recolor
#--------------------------------------------------------------------------------------------------------#
# Blocks that should be colored by pollution. 
# 	Grouped by the render type. 
# 	Format: [BlockClass]:[colortype] 
# 	Valid types: GRASS, LEAVES, FLOWER, LIQUID 
# 	Add [-] first to blacklist.
##########################################################################################################

pollution_recolor {
    S:renderBlockDoublePlant <
        net.minecraft.block.BlockDoublePlant:FLOWER
     >
    S:renderBlockLiquid <
        net.minecraft.block.BlockLiquid:LIQUID
     >
    S:renderCrossedSquares <
        net.minecraft.block.BlockTallGrass:FLOWER
        net.minecraft.block.BlockFlower:FLOWER
        biomesoplenty.common.blocks.BlockBOPFlower:FLOWER
        biomesoplenty.common.blocks.BlockBOPFlower2:FLOWER
        biomesoplenty.common.blocks.BlockBOPFoliage:FLOWER
     >
    S:renderStandardBlock <
        net.minecraft.block.BlockGrass:GRASS
        net.minecraft.block.BlockLeavesBase:LEAVES
        biomesoplenty.common.blocks.BlockOriginGrass:GRASS
        biomesoplenty.common.blocks.BlockLongGrass:GRASS
        biomesoplenty.common.blocks.BlockNewGrass:GRASS
        tconstruct.blocks.slime.SlimeGrass:GRASS
        thaumcraft.common.blocks.BlockMagicalLeaves:LEAVES
     >
    S:renderblockVine <
        net.minecraft.block.BlockVine:FLOWER
     >
}


speedups {
    # Optimize ASMDataTable getAnnotationsFor for faster startup
    B:optimizeASMDataTable=true

    # Optimize texture loading
    B:optimizeTextureLoading=true

    # Optimize tileEntity removal in World.class
    B:optimizeTileentityRemoval=true

    # Speedup biome fog rendering in BiomesOPlenty
    B:speedupBOPFogHandling=true

    # Speedup ChunkCoordinates hashCode
    B:speedupChunkCoordinatesHashCode=true

    # Speed up grass block random ticking
    B:speedupGrassBlockRandomTicking=true

    # Speedup Vanilla Furnace recipe lookup
    B:speedupVanillaFurnace=true

    # Sets TCP_NODELAY to true, reducing network latency in multiplayer. Works on server as well as client. From makamys/CoreTweaks
    B:tcpNoDelay=true
}


tweaks {
    # Compacts identical consecutive chat messages together
    B:"Compact chat"=true

    # Add CV support to Thaumcraft wand recharge pedestal
    B:addCVSupportToWandPedestal=true

    # Adds system info to the F3 overlay (Java version and vendor; GPU name; OpenGL version; CPU cores; OS name, version and architecture)
    B:addSystemInfo=true

    # Add a debug message in the chat when toggling vanilla debug options
    B:addToggleDebugMessage=true

    # Uses arabic numbers for enchantment levels and potion amplifier levels instead of roman numbers
    B:arabicNumbersForEnchantsPotions=false

    # Minechem Atropine High (Delirium) effect ID
    I:atropineHighID=255

    # Show "cannot sleep" messages above hotbar
    B:bedMessageAboveHotbar=true

    # Moves the sprint keybind to the movement category
    B:changeSprintCategory=true

    # Amount of chat lines kept [100(Vanilla) - 32767]
    I:chatLength=8191

    # Specify default LAN port to open an integrated server on. Set to 0 to always open the server on an automatically allocated port.
    I:defaultLanPort=25565

    # Disables the spawn of zombie aid when zombie is killed by Extra Utilities Spikes, since it can spawn them too far.
    B:disableAidSpawnByXUSpikes=true

    # Display fluid localized name in IC2 fluid cell tooltip
    B:displayIc2FluidLocalizedName=true

    # Stop inverting colors of crosshair
    B:dontInvertCrosshairColor=false

    # Drop picked loot on entity despawn
    B:dropPickedLootOnDespawn=true

    # Open an integrated server on a static port.
    B:enableDefaultLanPort=true

    # Use CMD key on MacOS to COPY / INSERT / SELECT in text fields (Chat, NEI, Server IP etc.)
    B:enableMacosCmdShortcuts=true

    # Shows renderer's impact on FPS in vanilla lagometer
    B:enableTileRendererProfiler=true

    # Remove the blueish sky tint from night vision
    B:enhanceNightVision=false

    # Fix Project Red components popping off on unloaded chunks
    B:fixComponentsPoppingOff=true

    # Fix hotbars being dark when Project Red is installed
    B:fixHudLightingGlitch=true

    # Fix vanilla potion effects rendering above the NEI tooltips in the inventory
    B:fixPotionEffectRender=true

    # Prevents the inventory from shifting when the player has active potion effects
    B:fixPotionRenderOffset=true

    # Stops rendering the crosshair when you are playing in third person
    B:hideCrosshairInThirdPerson=true

    # Prevent IC2's reactor's coolant slots from being accessed by automations if not a fluid reactor
    B:hideIc2ReactorSlots=true

    # Stops rendering potion particles from yourself
    B:hidePotionParticlesFromSelf=true

    # give ic2 cells containers like gregtech cells do
    B:ic2CellWithContainer=true

    # IC2 seed max stack size
    I:ic2SeedMaxStackSize=64

    # Increase particle limit
    B:increaseParticleLimit=true

    # Wake up passive & personal anchors on player login
    B:installAnchorAlarm=true

    # Makes the chat history longer instead of 100 lines
    B:longerChat=true

    # Allow 5 Fir Sapling planted together ('+' shape) to grow to a big fir tree
    B:makeBigFirsPlantable=true

    # Particle limit [4000-16000]
    I:particleLimit=8000

    # Prevent monsters from picking up loot.
    B:preventPickupLoot=true

    # Stop playing a sound when spawning a minecart in the world
    B:removeSpawningMinecartSound=true

    # Implement container for thirsty tank
    B:thirstyTankContainer=true

    # Doesn't render the black box behind messages when the chat is closed
    B:transparentChat=true

    # Unbinds keybinds of certain ARR mods to avoid keybinds conflicts
    B:unbindKeybindsByDefault=true
}


