# Configuration file

"energy balance" {
    # [SERVER] How many EU a dam will provide as Pressurized Water for turbines per tick.
    I:damDrainPerSecond=2048

    # [SERVER] Efficiency for Hydro Pump and Hydro Turbine in voltage variants and beginning from LV with '(1.0 - efficiencyLossPerTier)'.
    D:efficiencyLossPerTier=0.029999999329447746

    # [SERVER] A list of all tiers that should have a Hydro Pump and Hydro Turbine generated. ULV is ignored since it is disabled.
    S:enabledTiers <
        mv
        hv
        ev
        iv
        luv
        zpm
        uv
     >

    # [SERVER] Conversion ratio between Pressurized Water and EU on pressure 1. Affects the throughput on pipes between multi blocks and how much energy is stored in each Hydro Dam.
    D:milliBucketPerEU=1.0

    # [SERVER] Hydro Pump height limit for voltage variants in blocks and beginning from LV with '1 * pressureIncreasePerTier'.
    D:pressureIncreasePerTier=2.0

    # [SERVER] How many EU are added to a dam during rain for each water block on the highest Y coordinate aka water surface when full.
    D:waterBonusPerSurfaceBlockPerRainTick=1.0
}


general {
    # [SERVER + CLIENT] Offset of blockIds for GregTech block registration
    I:blockIdOffset=17000

    # [SERVER + CLIENT] If water is sitting too narrow over a block there are graphical issues (Depth buffer resolution). To fix this, the game will not render a waterLevel that sits lower then the specified value over a block. This value is also used for physics calculation and is synced from the server all clients.
    D:clippingOffset=0.05000000074505806

    # [SERVER] Delay in milliseconds the game will wait between processing a chunk for water spreading. Keep in mind, that a single tick takes care of a whole chunk between y=0 and y=255 at once!
    I:delayBetweenSpreadingChunks=2000

    # [SERVER] List of dimension a player is allowed to place a controller
    I:dimensionIdWhitelist <
        0
     >

    # [CLIENT] Some Macs may always report OpenGL 2.1 - activate this to disable the OpenGL 3.2 check; it will assume you have OpenGL 3.2 or greater. But be warned: it may crash!
    B:forceOpenGL=false

    # [SERVER] How many dams should the game support. At least as many as the server you want to connect to. Each dam will receive its own water block and it will also have a minuscule performance impact. Keep it only as long as you need. You can always just raise, but not shorten the value.
    I:maxDams=16

    # [CLIENT] Light calculation required all affected chunks to be rerendered. When a change in waterLevel induces rerendering it will also calculate a minimum delay before it can happen again. Light updates will not be lost, just delayed. For every subChunk (16 blocks high) that was rerendered because of this update event, the game will add the specified delay (in milliseconds) up for the actual delay. You should expect the number of rerendered subChunks to be in the low hundreds
    I:minLightUpdateTimePerSubChunk=10

    # [SERVER] Minimum delay in milliseconds between update packets from the server to ALL clients.
    I:minimalWaterUpdateInterval=1000

    # [CLIENT] Activate this if you have performance issues with the mod. But be warned: you will have limited render capabilities!
    B:useLimitedRendering=false
}


##########################################################################################################
# spreading
#--------------------------------------------------------------------------------------------------------#
# Water spreading will quickly get out of control if somebody mis-clicks their limits on their controllers. Here are game-wide limits for spreading.
##########################################################################################################

spreading {
    # [SERVER]
    I:maxWaterSpreadDown=1000

    # [SERVER]
    I:maxWaterSpreadEast=1000

    # [SERVER]
    I:maxWaterSpreadNorth=1000

    # [SERVER]
    I:maxWaterSpreadSouth=10000

    # [SERVER]
    I:maxWaterSpreadUp=24

    # [SERVER]
    I:maxWaterSpreadWest=1000
}


