# Configuration file

general {
    I:SMPMaxAlarmRange=256
    I:alarmRange=64
    S:allowedAlarms=default,sci-fi
    B:disableCapes=false
    I:infoPanelRefreshPeriod=20
    I:maxAlarmRange=128
    I:rangeTriggerRefreshPeriod=20

    # Valid inputs: normal, old or gregtech [default: normal]
    S:recipes=normal
    I:remoteThermalMonitorEnergyConsumption=1
}


