# Configuration file

general {
    # List of GT ores that can't be readed by ore Finder. Use block unlocalizedName f.e. "gt.blockores.27" [default: ]
    S:"Blacklist " <
     >

    # If true Ore finder Will play sounds [default: true]
    B:Sounds=true

    #  change scanning radius from player [range: 1 ~ 16, default: 4]
    I:"X Z Area radius"=4

    #  change scanning radius from player on Y position [range: 1 ~ 60, default: 40]
    I:"Y Area radius"=60
}


