# Configuration file

entitiesalwaysinfernal {
    B:BlueSlime=false
    B:EntityArmorCreeper=false
    B:EntityBabySpider=false
    B:EntityBlaze=true
    B:EntityBlindingEnderman=true
    B:EntityBrainyZombie=false
    B:EntityBrutishPigZombie=false
    B:EntityBrutishSkeleton=false
    B:EntityBrutishZombie=false
    B:EntityCaveSpider=true
    B:EntityCreeper=false
    B:EntityCultistCleric=true
    B:EntityCultistKnight=true
    B:EntityCursedEnderman=true
    B:EntityDarkCreeper=false
    B:EntityDeathCreeper=false
    B:EntityDesertSpider=false
    B:EntityDirtCreeper=false
    B:EntityDoomCreeper=false
    B:EntityDragon=false
    B:EntityDrowningCreeper=false
    B:EntityEldritchGuardian=true
    B:EntityEnderCreeper=false
    B:EntityEnderman=true
    B:EntityFaintGhast=false
    B:EntityFireBat=true
    B:EntityFireCreeper=false
    B:EntityFireSkeleton=false
    B:EntityFireZombie=false
    B:EntityFishingPigZombie=false
    B:EntityFishingZombie=false
    B:EntityFlyingCaveSpider=false
    B:EntityFlyingSpider=false
    B:EntityGatlingSkeleton=false
    B:EntityGhast=true
    B:EntityGhostSpider=false
    B:EntityGiantBrainyZombie=true
    B:EntityGiantPigZombie=false
    B:EntityGiantSkeleton=false
    B:EntityGiantSpider=false
    B:EntityGiantZombie=false
    B:EntityGlob=false
    B:EntityHungryPigZombie=false
    B:EntityHungrySpider=false
    B:EntityHungryZombie=false
    B:EntityIcyEnderman=false
    B:EntityJumpingCreeper=false
    B:EntityJungleSpider=false
    B:EntityLightningCreeper=false
    B:EntityLightningEnderman=false
    B:EntityMagmaCube=true
    B:EntityMiniCreeper=false
    B:EntityMiniEnderman=false
    B:EntityMirageEnderman=false
    B:EntityMotherCaveSpider=false
    B:EntityMotherSpider=false
    B:EntityPaleSpider=false
    B:EntityPech=false
    B:EntityPhantom=false
    B:EntityPigZombie=true
    B:EntityPlaguePigZombie=false
    B:EntityPlagueZombie=false
    B:EntityPoisonSkeleton=false
    B:EntityPoisonSpider=false
    B:EntitySilverfish=false
    B:EntitySkeleton=false
    B:EntitySlime=false
    B:EntitySmallSpider=false
    B:EntitySniperSkeleton=false
    B:EntitySpider=false
    B:EntitySpitfireSkeleton=false
    B:EntitySplittingCreeper=false
    B:EntityTFKobold=false
    B:EntityTFMosquitoSwarm=false
    B:EntityTFRedcap=false
    B:EntityTFSwarmSpider=false
    B:EntityThaumicSlime=true
    B:EntityThiefEnderman=false
    B:EntityThiefSkeleton=false
    B:EntityToughCaveSpider=false
    B:EntityToughSpider=false
    B:EntityVampirePigZombie=false
    B:EntityWasp=true
    B:EntityWebCaveSpider=false
    B:EntityWebSpider=false
    B:EntityWisp=true
    B:EntityWitch=true
    B:EntityWitchSpider=false
    B:EntityZombie=false
    B:Entity_SpecialCaveSpider=false
    B:Entity_SpecialCreeper=false
    B:Entity_SpecialEnderman=false
    B:Entity_SpecialPigZombie=false
    B:Entity_SpecialSilverfish=false
    B:Entity_SpecialSkeleton=false
    B:Entity_SpecialSpider=false
    B:Entity_SpecialZombie=false
}


entitybasehealth {
    D:BlueSlime=4.0
    D:EntityArmorCreeper=30.0
    D:EntityBabyCaveSpider=4.0
    D:EntityBabySpider=4.0
    D:EntityBlaze=20.0
    D:EntityBlindingEnderman=41.0
    D:EntityBrainyZombie=25.0
    D:EntityBrutishSkeleton=40.0
    D:EntityBrutishZombie=40.0
    D:EntityCaveSpider=12.0
    D:EntityCreeper=20.0
    D:EntityCultistCleric=30.0
    D:EntityCultistKnight=36.0
    D:EntityCursedEnderman=60.0
    D:EntityDarkCreeper=20.0
    D:EntityDeathCreeper=20.0
    D:EntityDesertSpider=20.0
    D:EntityDirtCreeper=21.0
    D:EntityDoomCreeper=20.0
    D:EntityDrowningCreeper=40.0
    D:EntityEldritchGuardian=50.0
    D:EntityEnderCreeper=40.0
    D:EntityEnderman=40.0
    D:EntityFireCreeper=20.0
    D:EntityFireSkeleton=20.0
    D:EntityFireZombie=20.0
    D:EntityFishingZombie=20.0
    D:EntityFlyingCaveSpider=12.0
    D:EntityFlyingSpider=16.0
    D:EntityGatlingSkeleton=40.0
    D:EntityGhostSpider=16.0
    D:EntityGiantSkeleton=40.0
    D:EntityGiantSpider=64.0
    D:EntityGiantZombie=80.0
    D:EntityGlob=1.0
    D:EntityHungryPigZombie=30.0
    D:EntityHungrySpider=20.0
    D:EntityHungryZombie=30.0
    D:EntityIcyEnderman=40.0
    D:EntityJumpingCreeper=20.0
    D:EntityLightningCreeper=20.0
    D:EntityLightningEnderman=40.0
    D:EntityMagmaCube=1.0
    D:EntityMiniCreeper=20.0
    D:EntityMiniEnderman=40.0
    D:EntityMirageEnderman=60.0
    D:EntityMotherSpider=33.0
    D:EntityPaleSpider=16.0
    D:EntityPech=30.0
    D:EntityPhantom=20.0
    D:EntityPigZombie=20.0
    D:EntityPlagueZombie=20.0
    D:EntityPoisonSkeleton=80.0
    D:EntityPoisonSpider=16.0
    D:EntitySkeleton=20.0
    D:EntitySlime=1.0
    D:EntitySmallSpider=48.0
    D:EntitySniperSkeleton=20.0
    D:EntitySpider=16.0
    D:EntitySpitfireSkeleton=80.0
    D:EntitySplittingCreeper=40.0
    D:EntityTFKobold=13.0
    D:EntityTFMosquitoSwarm=12.0
    D:EntityThiefEnderman=40.0
    D:EntityThiefSkeleton=20.0
    D:EntityToughCaveSpider=28.0
    D:EntityToughSpider=32.0
    D:EntityWasp=20.0
    D:EntityWebCaveSpider=16.0
    D:EntityWebSpider=20.0
    D:EntityWisp=22.0
    D:EntityWitch=26.0
    D:EntityWitchCaveSpider=12.0
    D:EntityWitchSpider=17.0
    D:EntityZombie=20.0
    D:Entity_SpecialCaveSpider=12.0
    D:Entity_SpecialCreeper=20.0
    D:Entity_SpecialEnderman=40.0
    D:Entity_SpecialPigZombie=20.0
    D:Entity_SpecialSkeleton=20.0
    D:Entity_SpecialSpider=16.0
    D:Entity_SpecialZombie=20.0
}


general {
    I:AntiMobFarmCheckInterval=30
    B:AntiMobfarmingEnabled=false
    B:"MM_1UP enabled"=false
    B:"MM_Alchemist enabled"=true
    B:"MM_Berserk enabled"=true
    B:"MM_Blastoff enabled"=true
    B:"MM_Bulwark enabled"=true
    B:"MM_Choke enabled"=true
    B:"MM_Cloaking enabled"=true
    B:"MM_Darkness enabled"=true
    B:"MM_Ender enabled"=true
    B:"MM_Exhaust enabled"=true
    B:"MM_Fiery enabled"=true
    B:"MM_Ghastly enabled"=true
    B:"MM_Gravity enabled"=true
    B:"MM_Lifesteal enabled"=true
    B:"MM_Ninja enabled"=true
    B:"MM_Poisonous enabled"=true
    B:"MM_Quicksand enabled"=true
    B:"MM_Regen enabled"=true
    B:"MM_Rust enabled"=true
    B:"MM_Sapper enabled"=true
    B:"MM_Sprint enabled"=true
    B:"MM_Sticky enabled"=true
    B:"MM_Storm enabled"=true
    B:"MM_Vengeance enabled"=true
    B:"MM_Weakness enabled"=true
    B:"MM_Webber enabled"=true
    B:"MM_Wither enabled"=true
    B:disableGUIoverlay=false
    S:droppedItemIDsElite=iron_shovel,iron_pickaxe,iron_axe,iron_sword,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,cookie-0-6
    S:droppedItemIDsInfernal=diamond-0-3,diamond_sword,diamond_shovel,diamond_pickaxe,diamond_axe,diamond_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,diamond_helmet,diamond_chestplate,diamond_leggings,diamond_boots,ender_pearl,enchanted_book
    S:droppedItemIDsUltra=bow,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,golden_helmet,golden_chestplate,golden_leggings,golden_boots,golden_apple,blaze_powder-0-3,enchanted_book
    I:eliteRarity=15
    I:infernoRarity=7
    D:maxOneShotDamage=10.0
    D:mobFarmDamageThreshold=150.0
    S:mobHealthFactor=1.5
    I:ultraRarity=7
    B:useSimpleEntityClassnames=true
}


permittedentities {
    B:BlueSlime=true
    B:EntityArmorCreeper=true
    B:EntityBabySpider=true
    B:EntityBlaze=true
    B:EntityBlindingEnderman=true
    B:EntityBrainyZombie=true
    B:EntityBrutishPigZombie=true
    B:EntityBrutishSkeleton=true
    B:EntityBrutishZombie=true
    B:EntityCaveSpider=true
    B:EntityCreeper=true
    B:EntityCultistCleric=true
    B:EntityCultistKnight=true
    B:EntityCursedEnderman=true
    B:EntityDarkCreeper=true
    B:EntityDeathCreeper=true
    B:EntityDesertSpider=true
    B:EntityDirtCreeper=true
    B:EntityDoomCreeper=true
    B:EntityDragon=true
    B:EntityDrowningCreeper=true
    B:EntityEldritchGuardian=true
    B:EntityEnderCreeper=true
    B:EntityEnderman=true
    B:EntityFaintGhast=true
    B:EntityFireBat=true
    B:EntityFireCreeper=true
    B:EntityFireSkeleton=true
    B:EntityFireZombie=true
    B:EntityFishingPigZombie=true
    B:EntityFishingZombie=true
    B:EntityFlyingCaveSpider=true
    B:EntityFlyingSpider=true
    B:EntityGatlingSkeleton=false
    B:EntityGhast=true
    B:EntityGhostSpider=true
    B:EntityGiantPigZombie=true
    B:EntityGiantSkeleton=true
    B:EntityGiantSpider=true
    B:EntityGiantZombie=true
    B:EntityGlob=true
    B:EntityHungryPigZombie=true
    B:EntityHungrySpider=true
    B:EntityHungryZombie=true
    B:EntityIcyEnderman=true
    B:EntityJumpingCreeper=true
    B:EntityJungleSpider=true
    B:EntityLightningCreeper=true
    B:EntityLightningEnderman=true
    B:EntityMagmaCube=true
    B:EntityMiniCreeper=true
    B:EntityMiniEnderman=true
    B:EntityMirageEnderman=true
    B:EntityMotherCaveSpider=true
    B:EntityMotherSpider=true
    B:EntityPaleSpider=true
    B:EntityPech=true
    B:EntityPhantom=true
    B:EntityPigZombie=true
    B:EntityPlaguePigZombie=true
    B:EntityPlagueZombie=true
    B:EntityPoisonSkeleton=true
    B:EntityPoisonSpider=true
    B:EntitySilverfish=true
    B:EntitySkeleton=true
    B:EntitySlime=true
    B:EntitySmallSpider=true
    B:EntitySniperSkeleton=true
    B:EntitySpider=true
    B:EntitySpitfireSkeleton=true
    B:EntitySplittingCreeper=true
    B:EntityTFKobold=true
    B:EntityTFMosquitoSwarm=true
    B:EntityTFRedcap=true
    B:EntityTFSwarmSpider=true
    B:EntityThiefEnderman=true
    B:EntityThiefSkeleton=true
    B:EntityToughCaveSpider=true
    B:EntityToughSpider=true
    B:EntityVampirePigZombie=true
    B:EntityWasp=true
    B:EntityWebCaveSpider=true
    B:EntityWebSpider=true
    B:EntityWisp=true
    B:EntityWitch=true
    B:EntityWitchSpider=true
    B:EntityZombie=true
    B:Entity_SpecialCaveSpider=true
    B:Entity_SpecialCreeper=true
    B:Entity_SpecialEnderman=true
    B:Entity_SpecialPigZombie=true
    B:Entity_SpecialSilverfish=true
    B:Entity_SpecialSkeleton=true
    B:Entity_SpecialSpider=true
    B:Entity_SpecialZombie=true
}


