#Inventory Tweaks Configuration
#(Regarding shortcuts, all key names can be found at: http://www.lwjgl.org/javadoc/org/lwjgl/input/Keyboard.html)
#Wed Mar 22 17:40:56 CET 2017
enableMiddleClick=true
showChestButtons=true
enableSortingOnPickup=false
enableAutoRefill=false
autoRefillBeforeBreak=false
autoRefillDamageThreshhold=5
enableSounds=true
enableShortcuts=true
enableAutoEquipArmor=false
enableServerItemSwap=true
shortcutKeyAllItems=LCONTROL+LSHIFT, RCONTROL+RSHIFT
shortcutKeyEverything=SPACE
shortcutKeyOneItem=LCONTROL, RCONTROL
shortcutKeyToUpperSection=UP
shortcutKeyToLowerSection=DOWN
shortcutKeyDrop=LALT, RALT
version=1.59-dev-156-af3bc68
