# Configuration file

tweaks {
    # Replace the FML test config GUI with a working GUI.
    B:replaceInGameConfig=true
}


versioncheck {
    # Should the mod check for updates?
    B:checkForUpdates=true

    # A list of known updates. Deleting versions from the list will remind you about them again.
    S:knownVersions <
        InGameInfoXML 2.8.1.77
        InGameInfoXML 2.8.1.79
        InGameInfoXML 2.8.1.80
        InGameInfoXML 2.8.1.81
        InGameInfoXML 2.8.1.82
        LunatriusCore 1.1.2.21
        Schematica 1.7.6.121
        Schematica 1.7.6.123
        Schematica 1.7.6.124
        Schematica 1.7.6.125
        Schematica 1.7.6.126
        Schematica 1.7.6.127
        Schematica 1.7.6.128
        Schematica 1.7.6.129
        Stackie 1.6.0.36
     >

    # Should the mod remind you only for new updates (once per version)?
    B:silenceKnownUpdates=false
}


