# Configuration file

botaniaplugin {
    # Multiplier for the Beegonia's mana generation. Default: 1.0 (Affects duration, not throughput)
    D:beegoniaManaMultiplier=1.0

    # Multiplier on Hibeescus mana cost, base 10,000. Default 1.0. Setting to 0 makes you a huge cheater. <3
    D:hibeescusManaCostMultiplier=1.0

    # Multiplier for Hibeescus operation tick time. Multiplied against 1.5 Minecraft days with some extra randomness. Default: 1.0. Setting to 0 makes you a huge cheater. <3
    D:hibeescusTicksMultiplier=1.0

    # Multiplier for the Hiveacynth's mana consumption. Default: 1.0
    D:hiveacynthManaMultiplier=1.0

    # Rate at which the Hiveacynth will spawn a Princess instead of a Drone. Default: 0.09. Setting to 0 will disable.
    D:hiveacynthPrincessSpawnRate=0.09

    # Rate at which the Hiveacynth will produce a Pristine Princess, when it produces a princess. Default: 0.15. Setting to 0 will disable, setting to 1 will make every Princess produced pristine..
    D:hiveacynthPristineRate=0.15

    # Rate at which the Hiveacynth applies rain resist to spawned bees. Default: 0.1 Setting to 0 will disable.
    D:hiveacynthRainResistRate=0.1
}


debug {
    # Enable to see exact locations of MagicBees hive spawns.
    B:logHiveSpawns=false
}


general {
    # Set to true to allow Greatwood & Silverwood planks to burn in a fire.
    B:areMagicPlanksFlammable=false

    # Aromatic lump swarmer rate. Final value is X/1000. 0 will disable, values outside of [0,1000] will be clamped to range. Default: 95
    I:aromaticLumpSwarmerRate=95

    # Set to true if you want MagicBees to add several Thaumcraft blocks & items to Forestry backpacks.
    #  Set to false to disable.
    B:backpack.forestry.addThaumcraftItems=true

    # Set to false to disable the Thaumaturge backpack
    B:backpack.thaumaturge.active=true

    # Add additional items to the Thaumaturge's Backpack.
    #  Format is the same as Forestry's: id:meta;id;id:meta (etc)
    S:backpack.thaumaturge.additionalItems=

    # Allows you to edit the stack size of the capsules in MagicBees if using GregTech, 
    # or the reduced capsule size in Forestry & Railcraft. Default: 64
    I:capsuleStackSize=64

    # Set to true to stop Magic Bees from notifying you when new updates are available. (Does not supress critical updates)
    B:disableVersionNotification=false

    # Set to false if you hate fun and do not want special hives generating in Magic biomes.
    B:doSpecialHiveGen=false

    # Maximum level of the magnets.
    I:magnetMaximumLevel=8

    # Base range (in blocks) of the Mysterious Magnet
    D:magnetRangeBase=3.0

    # Range multiplier per level of the Mysterious Magnet. Total range = base range + level * multiplier
    D:magnetRangeMultiplier=0.75

    # set to true to show the current moon phase in mouse-over text.
    B:moonDialShowText=false

    # The chance for thaumcraft saplings using the thaumium grafter
    D:thaumCraftSaplingDroprate=0.1

    # Set to true to make Thaumium Grafter & Scoop require impregnated sticks in the recipe.
    B:useImpregnatedStickInTools=true
}


modules {
    B:AppliedEnergistics2=true
    B:ArsMagica=false
    B:BloodMagic=true
    B:Botania=false
    B:EquivalentExchange=false
    B:ExtraBees=true
    B:RedstoneArsenal=false
    B:Thaumcraft=true
    B:ThermalExpansion=false
}


