# Configuration file

##########################################################################################################
# Latched Sets
#--------------------------------------------------------------------------------------------------------#
# Used to define which pairs of blocks will be stuck together. 
# Latched sets will always move in pairs, even if only one of them are actually connected to a block. 
# 'block1 -> block2' means that if block1 is moved, any block2 connected to it will also move. 
# However, moving block2 does not move block1. To do that, you must also register block2 -> block1. 
# Sets are defined using the syntax of key -> value. 
# Possible keys and values:
#     '<modID>:<blockname>' - to assign block from a mod for every meta. 
#     '<modID>:<blockname>m<meta>' - to assign block from mod for specific meta. 
# 
##########################################################################################################

"Latched Sets" {
    S:"latch registry" <
        minecraft:bed -> minecraft:bed
        minecraft:wooden_door -> minecraft:wooden_door
        minecraft:iron_door -> minecraft:iron_door
     >
}


