# Configuration file

better_skies {
    #  [default: false]
    B:brightenFireworks=false

    # Enable the better skies module [default: false]
    B:enabled=false

    #  [range: -2147483648 ~ 2147483647, default: 16]
    I:horizon=16

    # logging level
    # Possible values: [OFF, SEVERE, WARNING, INFO, CONFIG, FINE, FINER, FINEST, ALL]
    #  [default: INFO]
    S:logging=INFO

    #  [default: false]
    B:skybox=false

    #  [default: false]
    B:unloadTextures=false
}


connected_textures {
    #  [default: false]
    B:betterGrass=false

    #  [default: false]
    B:debugTextures=false

    # Enable the connected textures module [default: true]
    B:enabled=true

    #  [default: false]
    B:glassPane=false

    # logging level
    # Possible values: [OFF, SEVERE, WARNING, INFO, CONFIG, FINE, FINER, FINEST, ALL]
    #  [default: INFO]
    S:logging=INFO

    #  [range: -2147483648 ~ 2147483647, default: 4]
    I:maxRecursion=4

    #  [default: true]
    B:nonStandard=true

    #  [default: true]
    B:standard=true
}


custom_colors {
    #  [range: -2147483648 ~ 2147483647, default: 4]
    I:blockBlendRadius=4

    #  [default: false]
    B:clouds=false

    #  [default: false]
    B:dye=false

    #  [default: false]
    B:egg=false

    # Enable the custom colors module [default: false]
    B:enabled=false

    #  [default: false]
    B:fog=false

    #  [range: -2147483648 ~ 2147483647, default: 7]
    I:fogBlendRadius=7

    #  [default: false]
    B:lightmaps=false

    # logging level
    # Possible values: [OFF, SEVERE, WARNING, INFO, CONFIG, FINE, FINER, FINEST, ALL]
    #  [default: INFO]
    S:logging=INFO

    #  [default: false]
    B:map=false

    #  [default: false]
    B:otherBlocks=false

    #  [default: false]
    B:particle=false

    #  [default: false]
    B:potion=false

    #  [default: false]
    B:redstone=false

    #  [default: false]
    B:smoothBiomes=false

    #  [default: false]
    B:stem=false

    #  [default: false]
    B:swampColors=false

    #  [default: false]
    B:testColorSmoothing=false

    #  [default: false]
    B:text=false

    #  [default: false]
    B:tree=false

    #  [default: false]
    B:water=false

    #  [default: false]
    B:xporb=false

    #  [range: -2147483648 ~ 2147483647, default: 0]
    I:yVariance=0
}


custom_item_textures {
    #  [default: false]
    B:armor=false

    # Enable the custom item textures module [default: false]
    B:enabled=false

    #  [default: false]
    B:enchantments=false

    #  [default: false]
    B:items=false

    # logging level
    # Possible values: [OFF, SEVERE, WARNING, INFO, CONFIG, FINE, FINER, FINEST, ALL]
    #  [default: INFO]
    S:logging=INFO
}


extended_hd {
    #  [default: false]
    B:HDFont=false

    #  [default: false]
    B:animations=false

    #  [range: -2147483648 ~ 2147483647, default: 1]
    I:anisotropicFiltering=1

    # Enable the extended hd module [default: false]
    B:enabled=false

    #  [default: false]
    B:fancyClock=false

    #  [default: false]
    B:fancyCompass=false

    #  [range: -2147483648 ~ 2147483647, default: 0]
    I:"lod bias"=0

    # logging level
    # Possible values: [OFF, SEVERE, WARNING, INFO, CONFIG, FINE, FINER, FINEST, ALL]
    #  [default: INFO]
    S:logging=INFO

    #  [range: -2147483648 ~ 2147483647, default: 3]
    I:maxMipMapLevel=3

    #  [default: false]
    B:mipmap=false

    #  [default: false]
    B:nonHDFontWidth=false

    #  [default: false]
    B:useGL13=false

    #  [default: false]
    B:useScratchTexture=false
}


random_mobs {
    # Enable the random mobs module [default: false]
    B:enabled=false

    #  [default: false]
    B:leashLine=false

    # logging level
    # Possible values: [OFF, SEVERE, WARNING, INFO, CONFIG, FINE, FINER, FINEST, ALL]
    #  [default: INFO]
    S:logging=INFO
}


