#Configuration file for adding microblock materials for aesthetic blocks added by mods
#Each line needs to be of the form <name>:<meta>
#<name> is the unlocalised name or registry key of the block/item enclosed in quotes. NEI can help you find these
#<meta> may be ommitted, in which case it defaults to 0, otherwise it can be a number, a comma separated list of numbers, or a dash separated range
#Ex. "dirt" "minecraft:planks":3 "iron_ore":1,2,3,5 "ThermalFoundation:Storage":0-15

# APPLIED ENERGISTICS 2
"appliedenergistics2:tile.BlockQuartz"
"appliedenergistics2:tile.BlockQuartzPillar"
"appliedenergistics2:tile.BlockQuartzChiseled"
"appliedenergistics2:tile.BlockQuartzGlass"
"appliedenergistics2:tile.BlockQuartzLamp"
"appliedenergistics2:tile.BlockFluix"

# AUTOMAGY
"Automagy:blockRunedObsidian"
"Automagy:blockNetherRune":0-6
"Automagy:blockNetherRuneMob":0-6

# AVARITIA
"avaritia:Resource_Block":0-1

# BARTWORKS
"bartworks:BW_GlasBlocks":0-12
"bartworks:bw.werkstoffblocks.01":1,4,5,7,8,9,19,20,21,22,23,24,25,32,35,36,39,40,43,64,78,88,89,90,91,92,96
"bartworks:BW_Machinery_Casings":0-1
"bartworks:BW_ItemBlocks":0-1
"bartworks:GT_LESU_CASING"

# BIOMES O PLENTY
"BiomesOPlenty:driedDirt"
"BiomesOPlenty:rocks":0-5
"BiomesOPlenty:ash"
"BiomesOPlenty:flesh"
"BiomesOPlenty:ashStone"
"BiomesOPlenty:hardIce"
"BiomesOPlenty:originGrass"
"BiomesOPlenty:longGrass"
"BiomesOPlenty:overgrownNetherrack"
"BiomesOPlenty:bopGrass":0-1
"BiomesOPlenty:newBopGrass":0-2
"BiomesOPlenty:newBopDirt":0-5
"BiomesOPlenty:logs1":0-3
"BiomesOPlenty:logs2":0-3
"BiomesOPlenty:logs3":0-3
"BiomesOPlenty:logs4":0-3
"BiomesOPlenty:leaves1":0-3
"BiomesOPlenty:leaves2"
"BiomesOPlenty:leaves3":0-3
"BiomesOPlenty:leaves4":0-3
"BiomesOPlenty:hardSand"
"BiomesOPlenty:hardDirt"
"BiomesOPlenty:cragRock"
"BiomesOPlenty:honeyBlock"
"BiomesOPlenty:planks":0-14

# BLOOD ARSENAL
"BloodArsenal:blood_stone":0-4
"BloodArsenal:blood_stained_glass"
"BloodArsenal:blood_infused_wood"
"BloodArsenal:blood_infused_planks"
"BloodArsenal:blood_stained_ice"
"BloodArsenal:blood_stained_ice_packed"
"BloodArsenal:blood_infused_iron_block"
"BloodArsenal:blood_infused_glowstone"
"BloodArsenal:blood_infused_diamond_block"

# BLOOD MAGIC
"AWWayofTime:AlchemicalWizardrybloodRune":0-5
"AWWayofTime:speedRune"
"AWWayofTime:efficiencyRune"
"AWWayofTime:runeOfSacrifice"
"AWWayofTime:runeOfSelfSacrifice"
"AWWayofTime:ritualStone"
"AWWayofTime:masterStone"
"AWWayofTime:bloodSocket"
"AWWayofTime:imperfectRitualStone"
"AWWayofTime:bloodStoneBrick"
"AWWayofTime:largeBloodStoneBrick"

# DRACONIC EVOLUTION
"DraconicEvolution:draconium":0-2
"DraconicEvolution:draconicBlock"
"DraconicEvolution:infusedObsidian"

# DREAMCRAFT
"dreamcraft:gt.blockcasingsNH":0,1,2,10,11,12,13,14,15
"dreamcraft:tile.QuadrupleCompressedCoalCoke"
"dreamcraft:tile.CompressedCoalCoke"
"dreamcraft:tile.SandClayMix"
"dreamcraft:tile.NaquadahPlatedReinforcedStone"
"dreamcraft:tile.QuintupleCompressedCoalCoke"
"dreamcraft:tile.Ledox"
"dreamcraft:tile.SteelPlatedReinforcedStone"
"dreamcraft:tile.CallistoColdIce"
"dreamcraft:tile.TitaniumPlatedReinforcedStone"
"dreamcraft:tile.QuadrupleCompressedCoal"
"dreamcraft:tile.CompressedCoal"
"dreamcraft:tile.Mytryl"
"dreamcraft:tile.BloodyThaumium"
"dreamcraft:tile.NeutroniumPlatedReinforcedStone"
"dreamcraft:tile.BloodyIchorium"
"dreamcraft:tile.MysteriousCrystal"
"dreamcraft:tile.TripleCompressedCoal"
"dreamcraft:tile.TripleCompressedCharcoal"
"dreamcraft:tile.BronzePlatedReinforcedStone"
"dreamcraft:tile.QuintupleCompressedCoal"
"dreamcraft:tile.TripleCompressedCoalCoke"
"dreamcraft:tile.QuintupleCompressedCharcoal"
"dreamcraft:tile.TungstensteelPlatedReinforcedStone"
"dreamcraft:tile.BloodyVoid"
"dreamcraft:tile.BlackPlutonium"
"dreamcraft:tile.DoubleCompressedCoal"
"dreamcraft:tile.DoubleCompressedCharcoal"
"dreamcraft:tile.CompressedGraphite"
"dreamcraft:tile.Quantinum"
"dreamcraft:tile.CompressedCharcoal"
"dreamcraft:tile.DoubleCompressedCoalCoke"
"dreamcraft:tile.QuadrupleCompressedCharcoal"
"dreamcraft:tile.Charcoal"

# ENDER IO
"EnderIO:blockReinforcedObsidian"
"EnderIO:blockIngotStorage":0-7

# EXTRA TREES
"ExtraTrees:planks":0-34
"ExtraTrees:log":0-39

# EXTRA UTILITIES
"ExtraUtilities:block_bedrockium"

# FORBIDDEN MAGIC
"ForbiddenMagic:TaintLog"
"ForbiddenMagic:TaintPlank"
"ForbiddenMagic:TaintLeaves"
"ForbiddenMagic:TaintBlock":0-1

# FORESTRY
"Forestry:resourceStorage":0-3
"Forestry:logs":0-28
"Forestry:planks":0-28
"Forestry:logsFireproof":0-28
"Forestry:planksFireproof":0-28
"Forestry:leaves"

# GREGTECH

"gregtech:gt.blockgranites":0-15
"gregtech:gt.blockstones":0-15
"gregtech:gt.blockconcretes":0-15
"gregtech:gt.blockmetal1":0-15
"gregtech:gt.blockmetal2":0-15
"gregtech:gt.blockmetal3":0-15
"gregtech:gt.blockmetal4":0-15
"gregtech:gt.blockmetal5":0-15
"gregtech:gt.blockmetal6":0-15
"gregtech:gt.blockmetal7":0-15
"gregtech:gt.blockmetal8":0-14
"gregtech:gt.blockgem1":0-15
"gregtech:gt.blockgem2":0-15
"gregtech:gt.blockgem3":0-5
"gregtech:gt.blockreinforced":0-11
"gregtech:gt.blockcasings1":0-15
"gregtech:gt.blockcasings2":0-15
"gregtech:gt.blockcasings3":0-15
"gregtech:gt.blockcasings4":0-15
"gregtech:gt.blockcasings5":0-8
"gregtech:gt.blockcasings6":0-15
"gregtech:gt.blockcasings8":0-1

#     GALAXYSPACE
"GalaxySpace:metalsblock":0-9
"GalaxySpace:futureglass":0
"GalaxySpace:futureglasses":0-15
"GalaxySpace:mercuryblocks":0-2
"GalaxySpace:venusblocks":0-1
"GalaxySpace:ceresblocks":0,1,2,4,5
"GalaxySpace:ceresglowstone":0
"GalaxySpace:plutoblocks":0-6
"GalaxySpace:plutoglowstone":0
"GalaxySpace:haumeablocks":0
"GalaxySpace:makemakegrunt":0-1
"GalaxySpace:phobosblocks":0-2
"GalaxySpace:deimosblocks":0-1
"GalaxySpace:ioblocks":0,1,2,3,7,8
"GalaxySpace:ioglowstone":0
"GalaxySpace:iodualstone":0
"GalaxySpace:europagrunt":0-1
"GalaxySpace:europageyser":0
"GalaxySpace:europaunderwatergeyser":0
"GalaxySpace:ganymedeblocks":0-1
"GalaxySpace:callistoblocks":0-1
"GalaxySpace:enceladusblocks":0-2
"GalaxySpace:enceladusglowstone":0
"GalaxySpace:titanblocks":0-2
"GalaxySpace:mirandablocks":0-2
"GalaxySpace:oberonblocks":0-2
"GalaxySpace:proteusblocks":0-3
"GalaxySpace:proteusglowstone":0
"GalaxySpace:tritonblocks":0-2
"GalaxySpace:acentauribbgrunt":0
"GalaxySpace:acentauribbsubgrunt":0
"GalaxySpace:barnardaCgrass":0
"GalaxySpace:barnardaCdirt":0
"GalaxySpace:barnardaClog":0
"GalaxySpace:barnardaCplanks":0
"GalaxySpace:barnardaEgrunt":0
"GalaxySpace:barnardaEsubgrunt":0
"GalaxySpace:barnardaFgrunt":0
"GalaxySpace:barnardaFsubgrunt":0
"GalaxySpace:vegabgrunt":0
"GalaxySpace:vegabsubgrunt":0
"GalaxySpace:tcetieblocks":0-2

# HARDCORE ENDER EXPANSION
"HardcoreEnderExpansion:end_stone_terrain":0-2
"HardcoreEnderExpansion:laboratory_obsidian"
"HardcoreEnderExpansion:ravaged_brick_glow"
"HardcoreEnderExpansion:dungeon_puzzle":0,1,2,3,4,5,6,7,12,13,14,15
"HardcoreEnderExpansion:laboratory_floor"
"HardcoreEnderExpansion:spooky_leaves"
"HardcoreEnderExpansion:obsidian_end"
"HardcoreEnderExpansion:obsidian_special":0-2
"HardcoreEnderExpansion:ravaged_brick":0-5
"HardcoreEnderExpansion:obsidian_special_glow":0-2
"HardcoreEnderExpansion:persegrit":0-15
"HardcoreEnderExpansion:endium_block"
"HardcoreEnderExpansion:laboratory_glass"
"HardcoreEnderExpansion:spooky_log"

# INDUSTRIALCRAFT 2
"IC2:blockAlloy"
"IC2:blockBasalt"
"IC2:blockAlloyGlass"

# MINECRAFT
"minecraft:double_stone_slab":0,8
"minecraft:hay_block"

# NATURA
"Natura:soil.tainted":0-2
"Natura:heatsand"
"Natura:blueGlowshroom"
"Natura:purpleGlowshroom"
"Natura:greenGlowshroom"
"Natura:Obelisk"
"Natura:GrassBlock":0-2

# PAM'S HARVEST THE NETHER
"harvestthenether:netherLog"
"harvestthenether:netherLeaves"
"harvestthenether:netherPlanks"

# STEVE'S CARTS
"StevesCarts:BlockMetalStorage":0-2

# TAINTED MAGIC
"TaintedMagic:BlockWarpwoodLog"
"TaintedMagic:BlockShadowmetal"
"TaintedMagic:BlockWarpwoodPlanks"
"TaintedMagic:BlockWarpwoodLeaves"

# THAUMIC BASES
"thaumicbases:quicksilverBlock"
"thaumicbases:quicksilverBrick"
"thaumicbases:crystalBlock":0-7
"thaumicbases:blockSalisMundus"
"thaumicbases:thauminiteBlock"
"thaumicbases:voidBlock"
"thaumicbases:cryingObsidian"
"thaumicbases:ironGreatwood"
"thaumicbases:oldBrick"
"thaumicbases:oldLapis"
"thaumicbases:oldIron"
"thaumicbases:oldGold"
"thaumicbases:oldDiamond"
"thaumicbases:oldCobble"
"thaumicbases:oldCobbleMossy"
"thaumicbases:oldGravel"

# TINKER'S CONSTRUCT
"Tconstruct:MeatBlock"
"Tconstruct:slime.leaves"
"Tconstruct:decoration.multibrickmetal":0-7
"Tconstruct:decoration.multibrickfancy":0-15
"Tconstruct:decoration.multibrick":0-13
"Tconstruct:SpeedBlock":0-6

# TINKER'S DEFENSE
"tinkersdefense:AeonSteelBlock"
"tinkersdefense:QueensGoldBlock"
"tinkersdefense:DogbeariumBlock"

# TWILIGHT FOREST
"TwilightForest:tile.TFLog":0-3
"TwilightForest:tile.TFRoots":0-1
"TwilightForest:tile.TFLeaves":0-3
"TwilightForest:tile.TFNagastone":1,13
"TwilightForest:tile.TFTowerStone":0-4
"TwilightForest:tile.TFAuroraBrick"
"TwilightForest:tile.TFUnderBrick":0-2
"TwilightForest:tile.TFLeaves3":0-1
"TwilightForest:tile.TFDeadrock":0-2
"TwilightForest:tile.DarkLeaves"
"TwilightForest:tile.AuroraPillar"
"TwilightForest:tile.TrollSteinn"
"TwilightForest:tile.KnightmetalBlock"
"TwilightForest:tile.CastleBrick":0-3
"TwilightForest:tile.CastleMagic":0-3

# WITCHERY
"witchery:witchlog":0-2
"witchery:witchwood":0-2

#Ztones
"Ztones:stoneTile"
"Ztones:auroraBlock"
"Ztones:tile.agonBlock":0-15
"Ztones:tile.bittBlock":0-15
"Ztones:tile.crayBlock":0-15
"Ztones:tile.fortBlock":0-15
"Ztones:tile.iszmBlock":0-15
"Ztones:tile.jeltBlock":0-15
"Ztones:tile.korpBlock":0-15
"Ztones:tile.krypBlock":0-15
"Ztones:tile.lairBlock":0-15
"Ztones:tile.laveBlock":0-15
"Ztones:tile.mintBlock":0-15
"Ztones:tile.mystBlock":0-15
"Ztones:tile.redsBlock":0-15
"Ztones:tile.roenBlock":0-15
"Ztones:tile.solsBlock":0-15
"Ztones:tile.tankBlock":0-15
"Ztones:tile.vectBlock":0-15
"Ztones:tile.venaBlock":0-15
"Ztones:tile.zechBlock":0-15
"Ztones:tile.zionBlock":0-15
"Ztones:tile.zomeBlock":0-15
"Ztones:tile.zoneBlock":0-15
"Ztones:tile.zorgBlock":0-15
"Ztones:tile.reedBlock":0-15
"Ztones:tile.syncBlock":0-15
"Ztones:tile.zkulBlock":0-15
"Ztones:tile.ztylBlock":0-15
"Ztones:tile.glaxx":0-15
"Ztones:tile.azurBlock":0-15
"Ztones:tile.zetaBlock":0-15
"Ztones:tile.zaneBlock":0-15
"Ztones:tile.zestBlock":0-15
"Ztones:tile.zythBlock":0-15
"Ztones:tile.zoeaBlock":0-15