# Configuration file

general {
    # Left click and drag with an item to "left click" items of the same type. [default: true]
    B:"LMB tweak with item"=false

    # Hold shift, left click and drag without an item to "shift left click" items. [default: true]
    B:"LMB tweak without item"=true

    # Like vanilla right click dragging, but dragging over a slot multiple times puts the item there multiple times. [default: true]
    B:"RMB tweak"=true

    # This determines how many items are moved when you scroll. On some setups (notably macOS), scrolling the wheel with different speeds results in different distances scrolled per wheel "bump". To make those setups play nicely with Mouse Tweaks, set this option to "Always exactly one item".
    # Possible values: [PROPORTIONAL, ALWAYS_ONE]
    #  [default: PROPORTIONAL]
    S:"Scroll item scaling"=PROPORTIONAL

    # Scroll over items to move them between inventories. [default: true]
    B:"Wheel tweak"=false

    # Inventory position aware means scroll up to push items from the bottom inventory and pull into the top inventory, and vice versa.
    # Possible values: [NORMAL, INVERTED, INVENTORY_POSITION_AWARE, INVENTORY_POSITION_AWARE_INVERTED]
    #  [default: NORMAL]
    S:"Wheel tweak scroll direction"=NORMAL

    # How to pick the source slot when pulling items via scrolling.
    # Possible values: [FIRST_TO_LAST, LAST_TO_FIRST]
    #  [default: LAST_TO_FIRST]
    S:"Wheel tweak search order"=LAST_TO_FIRST
}


