# Configuration file

client {
    # Displays Nature's Compass information even while chat is open.
    B:naturescompass.displayWithChatOpen=true

    # Fixes biome names by adding missing spaces. Ex: ForestHills becomes Forest Hills
    B:naturescompass.fixBiomeNames=true

    # The line offset for information rendered on the HUD.
    I:naturescompass.lineOffset=1
}


general {
    # naturescompass.biomeBlacklist
    S:"A list of biomes that the compass will not be able to search for. Both biome names and numerical biome IDs are accepted." <
     >

    # The maximum distance the compass will search. Raising this value will increase search accuracy but will potentially make the process more resource intensive.
    I:naturescompass.distanceModifier=10000

    # The space between samples taken by the compass when searching. Lowering this value will increase search accuracy but will make the process more resource intensive.
    I:naturescompass.sampleSpaceModifier=64
}


