# Configuration file

##########################################################################################################
# addons
#--------------------------------------------------------------------------------------------------------#
# Controls loading of different addons, set to false to disable
##########################################################################################################

addons {
    B:"Crafting Tables"=true
    B:Forestry=true
}


forestry {
    # Set to true to add all bees to NEI search
    B:"Add Bees to Search"=true

    # Set to true to add all combs that are produced by bees to NEI search
    B:"Add Combs to Search"=false

    # Set to true to add all pollen types to NEI search
    B:"Add Pollen to Search"=true

    # Set to true to add all saplings to NEI search
    B:"Add Saplings to Search"=true

    # Set to true to load blacklisted species and alleles, it's dangerous and (mostly) useless
    B:"Load blacklisted"=false

    # Set to false to disable bee mutations browsing
    B:"Show Bee Mutations"=true

    # Set to false to disable bee products browsing
    B:"Show Bee Products"=true

    # Set to false to disable butterfly mutations browsing
    B:"Show Butterfly Mutations"=true

    # Set to false disable display of mutation requirements
    B:"Show Mutation Requirements"=true

    # Set to true to show secret mutations
    B:"Show Secret Mutations"=false

    # Set to false to disable tree mutations browsing
    B:"Show Tree Mutations"=true

    # Set to false to disable tree products browsing
    B:"Show Tree Products"=true
}


