# Configuration file

neid {
    # Causes a crash when a block has not been registered(e.g. has an id of -1) [default: false]
    B:CatchUnregisteredBlocks=false

    # Extend DataWatch IDs. Vanilla limit is 31, new limit is 127. [default: false]
    B:ExtendDataWatcher=false

    # If true, only blocks with IDs > 4095 will disappear after removing NEID. Metadatas outside of the range 0-15 will be set to 0. [default: true]
    B:PostNeidWorldsSupport=false

    # Remove invalid (corrupted) blocks from the game. [default: false]
    B:RemoveInvalidBlocks=false
}


