# Configuration file

blocks {
    B:glassesbridge=true
    B:pim=true
    B:selector=true
    B:sensor=true
    B:ticketmachine=true
}


glasses {
    # Default time (in ticks) between two drag events
    I:defaultDragPeriod=10

    # Default difference in mouse position (in pixels) needed before drag event is sent to server
    I:defaultDragThreshold=5

    # Should glasses listen to all chat (not just prefixed with $$)
    B:listenToAllChat=true

    # Minimal time (in ticks) between two drag events
    I:minimalDragPeriod=10

    # Minimal difference in mouse position (in pixels) needed before drag event is sent to server
    I:minimalDragThreshold=5
}


items {
    B:generic=true
    B:glasses=true
    B:keyboard=true
}


misc {
    # Should turtles with OPA updates be visible in creative
    B:addTurtlesToCreative=true
}


sensor {
    I:normalRange=5
    I:rangeInStorm=5
}


