# Configuration file

dev {
    # Enable methods that access reflection metadata
    B:enableDevMethods=false
}


featuregroups {
    # Blacklist for feature groups, in format 'feature:architecture (e.g. 'vanilla:ComputerCraft'). Note: to get names of feature groups use either /op_dump or config GUI
    S:blacklist <
     >
}


integration {
    # Don't register OpenPeripheral handler for those Tile Entitites (either name or class)
    S:disableClasses <
     >
}


interfaces {
    # Controls ComputerCraft integration
    B:ComputerCraft=true

    # Controls OpenComputers integration
    B:OpenComputers=true
}


performance {
    # Number of threads available to calls marked with @ReturnSignal
    I:threadPoolForSignallingCalls=10
}


