# Configuration file

allowedbiomes {
    # List of biomes allowed for the personal dimensions. [default: [Plains], [Ocean], [Desert], [Extreme Hills], [Forest], [Taiga], [Swampland], [River], [MushroomIsland], [Swampland], [Jungle], [Savanna], [Mesa]]
    S:general <
        Plains
        Ocean
        Desert
        Extreme Hills
        Forest
        Taiga
        Swampland
        River
        MushroomIsland
        Swampland
        Jungle
        Savanna
        Mesa
     >
}


allowedblocks {
    # Allowed layer blocks with meta ranges. Format: modid:block:damage  damage: 0, 0-12, !5, 0-15,!3. Blocks without meta spec default to meta 0. Example: minecraft:stone:0-6 [default: [minecraft:air], [minecraft:bedrock], [minecraft:stone], [minecraft:cobblestone], [minecraft:dirt], [minecraft:grass], [minecraft:double_stone_slab], [minecraft:netherrack]]
    S:general <
        minecraft:air
        minecraft:bedrock
        minecraft:stone
        minecraft:cobblestone
        minecraft:dirt
        minecraft:grass
        minecraft:double_stone_slab
        minecraft:netherrack
        etfuturum:concrete:0-15
     >
}


allowedboundaryblocks {
    # Allowed boundary blocks with meta ranges. Format: modid:block:damage  damage: 0, 0-12, !5, 0-15,!3. Example: minecraft:stone:0-6 [default: [minecraft:wool:0-15]]
    S:general <
        chisel:factoryblock:6-7
        ExtraUtilities:greenscreen:0-15
        etfuturum:concrete:0-15
     >
}


allowedcenterblocks {
    # Allowed center marker blocks with meta ranges. Format: modid:block:damage  damage: 0, 0-12, !5, 0-15,!3. Example: minecraft:wool:0-15 [default: [minecraft:wool:0-15]]
    S:general <
        ExtraUtilities:greenscreen:0-15
        etfuturum:concrete:0-15
     >
}


allowedgapblocks {
    # Allowed gap blocks with meta ranges. Format: modid:block:damage  damage: 0, 0-12, !5, 0-15,!3. Example: minecraft:wool:0-15 [default: [minecraft:wool:0-15]]
    S:general <
        ExtraUtilities:greenscreen:0-15
        etfuturum:concrete:0-15
     >
}


defaultpresets {
    # Default world configuration presets. Format: blockname*layers;blockname*layers;..., example preset: minecraft:bedrock;minecraft:dirt*3;minecraft:grass [default: [], [minecraft:bedrock;minecraft:dirt*3;minecraft:grass], [minecraft:bedrock*4;minecraft:stone*58;minecraft:dirt;minecraft:grass]]
    S:general <

        minecraft:bedrock;minecraft:dirt*3;minecraft:grass
        minecraft:bedrock*4;minecraft:stone*58;minecraft:dirt;minecraft:grass
     >
}


general {
    # Debug logging toggle [default: false]
    B:debugLogging=false

    # First dimension ID to use for newly generated worlds [range: 0 ~ 2147483647, default: 180]
    I:firstDimensionId=180

    # Use fake Block break events to check for permissions, disable in case of broken event handlers [default: true]
    B:useBlockEventChecks=true
}


