# Configuration file

allowedbiomes {
    # List of biomes allowed for the personal dimensions. [default: [Plains], [Ocean], [Desert], [Extreme Hills], [Forest], [Taiga], [Swampland], [River], [MushroomIsland], [Swampland], [Jungle], [Savanna], [Mesa]]
    S:general <
        Plains
        Ocean
        Desert
        Extreme Hills
        Forest
        Taiga
        Swampland
        River
        MushroomIsland
        Swampland
        Jungle
        Savanna
        Mesa
     >
}


allowedblocks {
    # Allowed layer blocks with meta ranges. Format: modid:block:damage  damage: 0, 0-12, !5, 0-15,!3. Blocks without meta spec default to meta 0. Example: minecraft:stone:0-6 [default: [minecraft:air], [minecraft:bedrock], [minecraft:stone], [minecraft:cobblestone], [minecraft:dirt], [minecraft:grass], [minecraft:double_stone_slab], [minecraft:netherrack]]
    S:general <
        minecraft:bedrock
        minecraft:stone
        minecraft:cobblestone
        minecraft:dirt
        minecraft:grass
        minecraft:double_stone_slab
        minecraft:netherrack
        minecraft:stonebrick
        chisel:cubit:0-15
        chisel:froglight:0-9
        chisel:woolen_clay:0-15
        chisel:hexPlating:0-15
        chisel:hexLargePlating:0-15
        chisel:laboratoryBlock:0-15
        chisel:glotek:0-15
        chisel:neonite:0-15
        chisel:factoryblock:0-15
        ExtraUtilities:greenscreen:0-15
        etfuturum:smooth_stone
        etfuturum:concrete:0-15
        Ztones:tile.laveBlock:0-15
        Ztones:tile.agonBlock:0-15
        Ztones:tile.bittBlock:0-15
        Ztones:tile.crayBlock:0-15
        Ztones:tile.iszmBlock:0-15
        Ztones:tile.mintBlock:0-15
        Ztones:tile.mystBlock:0-15
        Ztones:tile.zoeaBlock:0-15
        Ztones:tile.zaneBlock:0-15
     >
}


allowedboundaryblocks {
    # Allowed boundary blocks with meta ranges. Format: modid:block:damage  damage: 0, 0-12, !5, 0-15,!3. Example: minecraft:stone:0-6 [default: [minecraft:wool:0-15]]
    S:general <
        minecraft:bedrock
        minecraft:stone
        minecraft:cobblestone
        minecraft:dirt
        minecraft:grass
        minecraft:double_stone_slab
        minecraft:netherrack
        minecraft:stonebrick
        chisel:cubit:0-15
        chisel:froglight:0-9
        chisel:woolen_clay:0-15
        chisel:hexPlating:0-15
        chisel:hexLargePlating:0-15
        chisel:laboratoryBlock:0-15
        chisel:glotek:0-15
        chisel:neonite:0-15
        chisel:factoryblock:0-15
        ExtraUtilities:greenscreen:0-15
        etfuturum:smooth_stone
        etfuturum:concrete:0-15
        Ztones:tile.laveBlock:0-15
        Ztones:tile.agonBlock:0-15
        Ztones:tile.bittBlock:0-15
        Ztones:tile.crayBlock:0-15
        Ztones:tile.iszmBlock:0-15
        Ztones:tile.mintBlock:0-15
        Ztones:tile.mystBlock:0-15
        Ztones:tile.zoeaBlock:0-15
        Ztones:tile.zaneBlock:0-15
     >
}


allowedcenterblocks {
    # Allowed center marker blocks with meta ranges. Format: modid:block:damage  damage: 0, 0-12, !5, 0-15,!3. Example: minecraft:wool:0-15 [default: [minecraft:wool:0-15]]
    S:general <
        minecraft:bedrock
        minecraft:stone
        minecraft:cobblestone
        minecraft:dirt
        minecraft:grass
        minecraft:double_stone_slab
        minecraft:netherrack
        minecraft:stonebrick
        chisel:cubit:0-15
        chisel:froglight:0-9
        chisel:woolen_clay:0-15
        chisel:hexPlating:0-15
        chisel:hexLargePlating:0-15
        chisel:laboratoryBlock:0-15
        chisel:glotek:0-15
        chisel:neonite:0-15
        chisel:factoryblock:0-15
        ExtraUtilities:greenscreen:0-15
        etfuturum:smooth_stone
        etfuturum:concrete:0-15
        Ztones:tile.laveBlock:0-15
        Ztones:tile.agonBlock:0-15
        Ztones:tile.bittBlock:0-15
        Ztones:tile.crayBlock:0-15
        Ztones:tile.iszmBlock:0-15
        Ztones:tile.mintBlock:0-15
        Ztones:tile.mystBlock:0-15
        Ztones:tile.zoeaBlock:0-15
        Ztones:tile.zaneBlock:0-15
     >
}


allowedgapblocks {
    # Allowed gap blocks with meta ranges. Format: modid:block:damage  damage: 0, 0-12, !5, 0-15,!3. Example: minecraft:wool:0-15 [default: [minecraft:wool:0-15]]
    S:general <
        minecraft:bedrock
        minecraft:stone
        minecraft:cobblestone
        minecraft:dirt
        minecraft:grass
        minecraft:double_stone_slab
        minecraft:netherrack
        minecraft:stonebrick
        chisel:cubit:0-15
        chisel:froglight:0-9
        chisel:woolen_clay:0-15
        chisel:hexPlating:0-15
        chisel:hexLargePlating:0-15
        chisel:laboratoryBlock:0-15
        chisel:glotek:0-15
        chisel:neonite:0-15
        chisel:factoryblock:0-15
        ExtraUtilities:greenscreen:0-15
        etfuturum:smooth_stone
        etfuturum:concrete:0-15
        Ztones:tile.laveBlock:0-15
        Ztones:tile.agonBlock:0-15
        Ztones:tile.bittBlock:0-15
        Ztones:tile.crayBlock:0-15
        Ztones:tile.iszmBlock:0-15
        Ztones:tile.mintBlock:0-15
        Ztones:tile.mystBlock:0-15
        Ztones:tile.zoeaBlock:0-15
        Ztones:tile.zaneBlock:0-15
     >
}


defaultpresets {
    # Default world configuration presets. Format: blockname*layers;blockname*layers;..., example preset: minecraft:bedrock;minecraft:dirt*3;minecraft:grass [default: [], [minecraft:bedrock;minecraft:dirt*3;minecraft:grass], [minecraft:bedrock*4;minecraft:stone*58;minecraft:dirt;minecraft:grass]]
    S:general <

        minecraft:bedrock;minecraft:dirt*3;minecraft:grass
        minecraft:bedrock*4;minecraft:stone*58;minecraft:dirt;minecraft:grass
     >
}


general {
    # Debug logging toggle [default: false]
    B:debugLogging=false

    # Maximum number of visible columns in block dropdown menus [range: 1 ~ 24, default: 12]
    I:dropdownMaxVisibleColumns=12

    # Maximum number of visible rows in block dropdown menus [range: 1 ~ 20, default: 6]
    I:dropdownMaxVisibleRows=6

    # First dimension ID to use for newly generated worlds [range: 0 ~ 2147483647, default: 180]
    I:firstDimensionId=180

    # Use fake Block break events to check for permissions, disable in case of broken event handlers [default: true]
    B:useBlockEventChecks=true
}


