# Configuration file

harvestlevels {
    # Harvest level for WEAK Aggregate
    I:Aggregate.0_WEAK=0

    # Harvest level for MEDIUM Aggregate
    I:Aggregate.1_MEDIUM=1

    # Harvest level for STRONG Aggregate
    I:Aggregate.2_STRONG=1

    # Harvest level for VERY_STRONG Aggregate
    I:Aggregate.3_VERY_STRONG=2

    # Harvest level for WEAK Crude
    I:Crude.0_WEAK=0

    # Harvest level for WEAK Ore
    I:Ore.0_WEAK=0

    # Harvest level for MEDIUM Ore
    I:Ore.1_MEDIUM=1

    # Harvest level for STRONG Ore
    I:Ore.2_STRONG=2

    # Harvest level for STRONG VanillaOre
    I:VanillaOre.2_STRONG=2
}


initialstonetooldamage {
    # Fraction damaged for MEDIUM stone tools
    D:MEDIUM=0.10000000149011612

    # Fraction damaged for STRONG stone tools
    D:STRONG=0.0

    # Fraction damaged for VERY_STRONG stone tools
    D:VERY_STRONG=0.0

    # Fraction damaged for WEAK stone tools
    D:WEAK=0.20000000298023224
}


rockhardness {
    # Hardness for WEAK rocks
    D:0_WEAK=1.0

    # Hardness for MEDIUM rocks
    D:1_MEDIUM=2.0

    # Hardness for STRONG rocks
    D:2_STRONG=3.0

    # Hardness for VERY_STRONG rocks
    D:3_VERY_STRONG=4.0

    # Multiplier of all rock hardness values
    D:multiplier=1.0
}


rockresistance {
    # Multiplier that transforms hardness to resistance
    D:multiplier=5.0
}


toggles {
    # Whether to replace vanilla ore blocks with blocks that drop ore blocks, instead of items (DEPRECATED; do not change)
    B:overrideVanillaOreBlocks=false

    # Whether vanilla ore blocks should drop gems, as they do in vanilla
    B:vanillaOreDropsGems=true
}


