# Configuration file

general {
    # If set to false, flat wire textures will be used for logic gates. Significant performance improvement
    B:3Dlogicwires=true

    # Ticks between router searches.
    I:"Detection Frequency"=20

    # Include dev builds in version checks
    B:"Dev Version checking"=false

    # Enable advanced debugging, should ALWAYS be false.
    B:"Enable Debugging"=false

    # If enabled, the player will be alerted if a newer version of PR is available
    B:"Enable Version checking"=true

    # Number of lights to render, -1 for unlimited
    I:"Light Halo Render Count"=-1

    # If set to false, logic gates will not make sounds.
    B:"Logic Sounds"=true

    # Max number of links to explore when discovering new routers.
    I:"Max Detection Count"=100

    # Minimum amount of ticks the timer gates can be set to. (Cannot be lower than 4)
    I:"Mininum Timer Ticks"=4

    # If set to true, world generation for ProjectRed will attempt to run even in previously generated chunks.
    B:"Retro Ore Generation"=false

    # Number of active threads that update routing tables.
    I:"Router Update Thread Count"=4

    # Use sticks instead of wood strips in framed wire recipes.
    B:"Simple Framed Wire recipe"=false

    # Enable compatability with ColoredLightsCore. CLC is in beta state and is known to cause many glitches.
    B:coloredLightsCompat=false

    # If set to false, gates will be rendered in the TESR rather than the WorldRenderer
    B:renderStaticGates=true

    # If set to false, wires will be rendered in the TESR rather than the WorldRenderer
    B:renderStaticWires=true
}


##########################################################################################################
# world generation
#--------------------------------------------------------------------------------------------------------#
# Toggle generation of structures, or increase resistance to lessen chances for generation.
##########################################################################################################

"world generation" {
    B:"Deviating Lily"=true
    I:"Deviating Lily resistance"=0
    B:"Deviating Lily retrogen"=false
    B:"Marble Caves"=false
    I:"Marble Caves resistance"=0
    B:"Marble Caves retrogen"=false
    B:"Peridot Ore"=false
    I:"Peridot Ore resistance"=0
    B:"Peridot Ore retrogen"=false
    B:"Ruby Ore"=false
    I:"Ruby Ore resistance"=0
    B:"Ruby Ore retrogen"=false
    B:"Sapphire Ore"=false
    I:"Sapphire Ore resistance"=0
    B:"Sapphire Ore retrogen"=false
    B:"Spreading Moss"=true
    I:"Volcano resistance"=0
    B:"Volcano retrogen"=false
    B:Volcanos=false
}


