# Configuration file

balancing {
    # Max HU provided by Lava heater per tick [range: 0 ~ 2147483647, default: 1000]
    I:heatProvided=1000
}


optout {
    # Opt-out of localization updates, and only use lang files packaged with the JAR
    B:localization_update=true
}


