# Configuration file

general {
    # Check for new versions of Salis Arcana on startup [default: true]
    B:enableversionChecking=false
}


modules {
    # Notice: This is broken for some users, and slated for removal in a future update.
    # Override the colors of TC4's biomes. [default: false]
    B:"Enable biome_colors module"=false

    # Fixes for bugs in TC4 [default: true]
    B:"Enable bugfixes module"=true

    # Helper and admin commands. [default: true]
    B:"Enable commands module"=true

    # Tweaks and adjustments to enhance Thaumcraft [default: true]
    B:"Enable enhancements module"=true

    # Integrations and compatibility with other mods. [default: true]
    B:"Enable mod_integrations module"=true
}


