# Configuration file

general {
    # Maximum distance between items/experience orbs that can be still stacked (relative to block size).
    D:distance=0.75

    # Amount of ticks (20 ticks => 1 second) that will pass between each stacking attempt.
    I:interval=20

    # Should it stack experience orbs?
    B:stackExperience=true

    # Should it stack items?
    B:stackItems=true

    # If the amount of entities surpasses this number stacking will be disabled (per dimension).
    I:stackLimit=2000

    # A list of uniqueName-stackSize mappings. These values will override the default stack sizes.
    S:stackSizes <
        minecraft:wooden_door-64
        minecraft:minecart-4
        minecraft:saddle-8
        minecraft:iron_door-64
        minecraft:boat-4
        minecraft:chest_minecart-4
        minecraft:furnace_minecart-4
        minecraft:tnt_minecart-4
        minecraft:hopper_minecart-4
        minecraft:command_block_minecart-4
     >
}


