# Configuration file

general {
    # Enable Energistics Connector
    B:applied_energistics_2=true

    # Whether react to server's hint at building item search index eagerly on log in. When enabled, can drastically slow down log in. When disabled, can cause drastic lag on first search usage [default: false]
    B:build_index_eagerly=false

    # Add player names permitted to use Pastebin
    S:pastebin_whitelist <
        hilburn
     >

    # Show labels in WAILA tags
    B:waila_integration=true
}


