# Configuration file

foci {
    # Set reclining for Tainted Shockwave focus. [range: 1 ~ 12, default: 8]
    I:" tainted_blast_reclining"=8

    # Set damage for Dark Matter focus. [range: 1 ~ 3000, default: 150]
    I:eldritch_base_damage=150

    # Set damage multiplier for Staff with Dark Matter focus. [range: 1.0 ~ 10.0, default: 1.5]
    S:eldritch_staff_multiplier=1.5

    # Set damage for Mage's Mace focus. [range: 1 ~ 3000, default: 60]
    I:mages_mace_base_damage=60

    # Set damage multiplier for Staff with Mage's Mace focus. [range: 1.0 ~ 10.0, default: 2.0]
    S:mages_mace_staff_multiplier=2.0

    # Set damage for Tainted Storm focus. [range: 1 ~ 3000, default: 15]
    I:taint_storm_damage=15

    # Set damage multiplier for Staff with Tainted Storm focus. [range: 1.0 ~ 10.0, default: 1.5]
    S:taint_storm_damage_staff_multiplier=1.5

    # Set damage for Tainted Shockwave focus. [range: 1 ~ 3000, default: 75]
    I:tainted_blast_damage=75

    # Set damage multiplier for Staff with Tainted Shockwave focus. [range: 1.0 ~ 10.0, default: 1.5]
    S:tainted_blast_staff_multiplier=1.5

    # Set damage for Vis Shard focus. [range: 1 ~ 3000, default: 35]
    I:vis_hard_damage=35

    # Set damage multiplier for Staff with Vis Shard focus. [range: 1.0 ~ 10.0, default: 1.5]
    S:vis_hard_staff_multiplier=1.5
}


misc {
    B:research_tags=true
    B:show_update_messages=false
    B:thaumic_disassembler_icon=false

    # Should update notifications be enabled? [default: true]
    B:use_update_handler=false
}


ores {
    B:disable_shadowore_spawning_in_world=true
    I:shadowore_spawn_rate=0
}


research {
    # Setting this to false will disable the '[TaintedMagic]' tag on the research [default: true]
    B:research_tags=true

    # Setting this to true will enable the old custom tab background [default: false]
    B:use_custom_research_tab_background=false
}


