# Configuration file

general {

    ##########################################################################################################
    # debug
    #--------------------------------------------------------------------------------------------------------#
    # Debug section
    ##########################################################################################################

    debug {
        # Enables logging and other purely debug features [default: false]
        B:DEBUG_MODE=false
    }

    ##########################################################################################################
    # teslatweaks
    #--------------------------------------------------------------------------------------------------------#
    # Tesla tweaks section
    ##########################################################################################################

    teslatweaks {
        # Set true to enable the cool visual effect when tesla tower running. [default: true]
        B:TESLA_VISUAL_EFFECT=true
    }

    ##########################################################################################################
    # visual
    #--------------------------------------------------------------------------------------------------------#
    # Visual section
    ##########################################################################################################

    visual {
        # Eye of Harmony energy input and output display:
        #  - 'Numerical': Shows the entire number
        #  - 'Scientific': Uses scientific notation
        #  - 'SI': Uses the SI notation
        # Possible values: [Numerical, Scientific, SI]
        #  [default: Scientific]
        S:EOH_NOTATION=Scientific
    }

}


