# Configuration file

balance {

    shadowbeam {
        # vis cost for the aer aspect, 1/100th in-game [range: -2147483648 ~ 2147483647, default: 15]
        I:"aer vis cost"=300

        # vis cost for the ordo aspect, 1/100th in-game [range: -2147483648 ~ 2147483647, default: 25]
        I:"ordo vis cost"=500

        # vis cost for the perditio aspect, 1/100th in-game [range: -2147483648 ~ 2147483647, default: 25]
        I:"perditio vis cost"=500

        # base damage of the shadowbeam focus [range: -2147483648 ~ 2147483647, default: 8]
        I:"shadowbeam base damage"=100
    }

}


block {

    kami {
    }

}


enchantments {
    I:"id_enchant.ttinkerer:ascentBoost"=220
    I:"id_enchant.ttinkerer:autoSmelt"=222
    I:"id_enchant.ttinkerer:desintegrate"=223
    I:"id_enchant.ttinkerer:dispersedStrike"=166
    I:"id_enchant.ttinkerer:finalStrike"=168
    I:"id_enchant.ttinkerer:focusedStrike"=169
    I:"id_enchant.ttinkerer:pounce"=170
    I:"id_enchant.ttinkerer:quickDraw"=224
    I:"id_enchant.ttinkerer:shatter"=167
    I:"id_enchant.ttinkerer:shockwave"=171
    I:"id_enchant.ttinkerer:slowFall"=221
    I:"id_enchant.ttinkerer:tunnel"=172
    I:"id_enchant.ttinkerer:valiance"=173
    I:"id_enchant.ttinkerer:vampirism"=225
}


general {
    # The number of vertical veins of ore per chunk. Default: 1 [range: 0 ~ 1023, default: 1]
    I:"Bedrock Dimension ore density"=1

    # These blocks will be disallowed for Focus of Dislocation [default: [avaritiaddons:CompressedChest], [avaritiaddons:InfinityChest]]
    S:"Focus of Dislocation Blacklist" <
        avaritiaddons:CompressedChest
        avaritiaddons:InfinityChest
        Thaumcraft:blockAiry
        EnderIO:blockConduitBundle
        ExtraUtilities:filing
        extracells:hardmedrive
        appliedenergistics2:tile.BlockDrive
        appliedenergistics2:tile.BlockMatrixFrame
        appliedenergistics2:tile.BlockCableBus
        appliedenergistics2:tile.BlockIOPort
        appliedenergistics2:tile.BlockSpatialIOPort
        appliedenergistics2:tile.BlockSecurity
        ThaumicHorizons:vortexTH
        HardcoreEnderExpansion:transport_beacon
        minecraft:end_portal
        minecraft:end_portal_frame
        Thaumcraft:blockPortalEldritch
        Thaumcraft:blockEldritchNothing
        kekztech:kekztech_ichorjar_block
        kekztech:kekztech_thaumiumreinforcedjar_block
     >

    # Disallow Bottomless Pouch inventory for certain dimension ID's [default: []]
    S:"Forbidden Dimensions" <
        55
     >

    # Allows crops to be grown using bonemeal. Useful for debug purposes. [default: false]
    B:cropsAllowBonemeal.enabled=false

    # Set to true to enable debugging commands. [default: false]
    B:debugCommands.enabled=false

    # Set to false to disable imbued fire making cake. For those people who don't like cake [default: true]
    B:imbuedFire.cake.enabled=true

    # Set to false to disable imbued fire. [default: true]
    B:imbuedFire.enabled=true

    # Set to false to disable imbued fire spreading/acting mechanism. [default: true]
    B:imbuedFireSpread.enabled=true

    # Set to true to enable all KAMI stuff [default: true]
    B:kami.forceenabled=true

    # Set to true to enable flight in this mod. [default: true]
    B:modFlight.enabled=true

    # Set to false to disable usage of ore dictionary metals (tin and copper). [default: true]
    B:oreDictMetal.enabled=true

    # Can Thaumic Tinkerer repair Tinkers Construct tools. [default: false]
    B:repairTconTools.enabled=false
    B:research.easymode.enabled=false

    # Set to false to disable the crafting recipe for the Tome of Research Sharing. [default: true]
    B:shareTome.survival.enabled=true

    # The height of the Soul Heart bar. You can change this if you have a mod that adds a bar in that spot. [range: 0 ~ 256, default: 49]
    I:soulHeart.height=49

    # Set to false to disable the [TT] tooltips in the thauminomicon. [default: true]
    B:tooltipIndicators.enabled=true

    ##########################################################################################################
    # kami
    #--------------------------------------------------------------------------------------------------------#
    # These will only be used if KAMI is enabled.
    ##########################################################################################################

    kami {
        # Set to the dimension id wished for bedrock dimension, or 0 to disable [range: -1023 ~ 1023, default: -19]
        I:"Bedrock dimension id"=60

        # These ores will not be spawned in the bedrock dimension [default: [oreFirestone]]
        S:"Bedrock dimension ore Blacklist" <
            oreFirestone
         >

        # Sets if Boots of the Horizontal Shield (Awakened Kami Boots) will do the effect where dirt under you turns into grass. [default: true]
        B:"Kami Boots Dirt into Grass Feature Enabled"=true

        # Sets if Legs of the Burning Mantle (Awakened Kami leggings) will do the effect where it places lights near you. [default: false]
        B:"Kami Leggings Light Placing Feature Enabled"=false

        # The Dimension ID for the End, leave at 1 if you don't modify it with another mod/plugin. [range: -1023 ~ 1023, default: 1]
        I:dimension.end.id=1

        # The Dimension ID for the Nether, leave at -1 if you don't modify it with another mod/plugin. [range: -1023 ~ 1023, default: -1]
        I:dimension.nether.id=-1

        # Set to false to remove the phantom blocks displayed by the Worldshaper's Seeing Glass. [default: true]
        B:placementMirror.blocks.show=true
    }

}


item {

    kami {
    }

}


potions {
    # Set to the potion id for air potion [range: 30 ~ 1023, default: 86]
    I:"Air Potion id"=90

    # Set to the potion id for earth potion [range: 30 ~ 1023, default: 87]
    I:"Earth Potion id"=89

    # Set to the potion id for fire potion [range: 30 ~ 1023, default: 88]
    I:"Fire Potion id"=86

    # Set to the potion id for water potion [range: 30 ~ 1023, default: 89]
    I:"Water Potion id"=87
}


