# Configuration file

client {
    # The iron and thaumium gearboxes will be rendered as a standard block. [default: false]
    B:"Disable Gearbox Model"=false
}


crafting {
    # Controls if the Essentia Provider is allowed to be crafted. [default: true]
    B:"Allow Crafting Essentia Provider"=true

    # Controls if the Infusion Provider is allowed to be crafted. [default: true]
    B:"Allow Crafting Infusion Provider"=true

    # Controls if Certus Quartz can be duplicated in the crucible. [default: true]
    B:"Certus Quartz Duplication"=true
}


general {
    # Controls the conversion ratio of essentia/fluid. 1 essentia is converted to this many milibuckets of fluid. Please be aware that this value effects how much fluid is transferred through the AE system, which also effects transfer speed and power consumption. Very high values may make it impossible to use fluid transfer devices such as the ME IO Port, or anything from EC2. [range: 1 ~ 10000, default: 250]
    I:"Essentia Fluid Ratio"=250
}


