# Configuration file

"advanced alchemy furnace" {
    # Does the Advanced Alchemical Furnace requires Alumentium to work faster [default: true]
    B:makeRequireAlumentium=true

    # This is the speed of the Advanced Alchamical Furnace. TC's basic has 1. [range: 0 ~ 2147483647, default: 2]
    I:speedMultiplierForFurnace=2
}


enchantments {
    #  [range: 0 ~ 256, default: 98]
    I:elderKnowledgeEnchantmentID=98

    #  [range: 0 ~ 256, default: 99]
    I:eldritchBaneEnchantmentID=99

    #  [range: 0 ~ 256, default: 100]
    I:magicTouchEnchantmentID=100

    #  [range: 0 ~ 256, default: 101]
    I:taintedEnchantmentID=101

    #  [range: 0 ~ 256, default: 102]
    I:vaporisingEnchantmentID=102
}


foci {
    #  [range: 0 ~ 2147483647, default: 42]
    I:aquaticFociUID=42

    #  [range: 0 ~ 2147483647, default: 46]
    I:calmingFociUID=46

    #  [range: 0 ~ 2147483647, default: 47]
    I:crystalizationFociUID=47

    #  [range: 0 ~ 2147483647, default: 44]
    I:decomposingFociUID=44

    #  [range: 0 ~ 2147483647, default: 43]
    I:nethericFociUID=43

    #  [range: 0 ~ 2147483647, default: 45]
    I:vaporisingFociUID=45

    #  [range: 0 ~ 2147483647, default: 48]
    I:warpingFociUID=48
}


general {
    # If set to falso the tobacco will be disabled - there will be no recipes/no entries in Thaumonomicon [default: true]
    B:allowTobacco=true

    # Does the Brightness Foci for the Node Manipulator requires a Primordial Pearl [default: true]
    B:brightFociRequiresPrimordialPearl=true

    # Allow the mod to register it's enchantments in the Thaumic Tinkerer's enchanter? Set to false if Thaumic Tinkerer is crashing you. [default: true]
    B:enableTTCompathability=true

    # Amount of shards recieved from crucible ore processing [range: 1 ~ 64, default: 8]
    I:shardsFromOre=8
}


pyrofluid {
    #  [range: 0 ~ 2147483647, default: 37]
    I:maxBlazePowderFromPyrofluid=37

    #  [range: 0 ~ 2147483647, default: 5]
    I:minBlazePowderFromPyrofluid=5
}


