# Configuration file

options {
    # The position of the Equipment Button in the Inventory
    I:"Button Position" <
        27
        9
     >

    # The speed at which the radial for active abilities opens. Default is 15% per tick, minimum is 5%, maximum is 100% [range: 0.05 ~ 1.0, default: 0.15]
    S:"Radial Speed"=0.15

    # Configures the vertical offset of the title above the players head. 0 is default, set to 1 to render above the players name, the other offsets will use that scale.
    D:"Title Offset"=0.0
}


