# Configuration file

general {
    B:AddSmeltingForAllSaplingsToWoodAsh=true
    B:AllowBiomeModificationRituals=true
    B:AllowDeathItemRecoveryRite=true
    B:AllowDeathsHoodToFreezeVictims=true
    B:AllowGoddessStatueRecipe=false
    B:AllowHellOnEarthFires=true
    B:AllowInterModBlockBreakEvents=true
    B:AllowModArsMagica2=true
    B:AllowModForestry=true
    B:AllowModIntegration=true
    B:AllowModMineFactoryReloaded=true
    B:AllowModMystcraft=true
    B:AllowModNEI=true
    B:AllowModThaumcraft=true
    B:AllowModTreecapitator=true
    B:AllowVoidBrambleRecipe=false
    I:ApothecaryVillagerID=2435
    I:BranchGlyphSet=0
    I:CovenWitchSpawnWeight=2
    B:DecurseDirectedEnabled=false
    I:DecurseDirectedProtectRadius=32
    B:DecurseTeleportPullEnabled=false
    I:DecurseTeleportPullProtectRadius=32
    B:DoubleFumeFilterChance=false
    I:DreamDimensionID=-37
    B:GUIOnLeft=true
    B:GenerateApothecaries=true
    B:GenerateCovens=true
    B:GenerateHobgoblinHuts=true
    B:GenerateShacks=true
    B:GenerateWickerMen=true
    B:GenerateWitchHuts=true
    I:HobgoblinGodSpawnChance=10
    I:HobgoblinSpawnChance=2
    I:HobgoblinSpawnWeight=4
    S:MutandisAdditionalBlocks <
        witchery:glintweed,0
        tallgrass,2
     >
    I:PercentageOfPlayersSleepingForBuff=100
    I:PotionStartID=32
    B:Render3dGlintEffect=true
    B:RenderHuntsmanGlintEffect=true
    B:RespectOtherDeathChestMods=true
    B:RestrictPoppetShelvesToVanillaAndSpiritDimensions=true
    B:RestrictTaglockCollectionForOPs=false
    B:RestrictTaglockCollectionOnNonPVPServers=false
    S:StrawmanSpawnerRules <
        Zombie
        Zombie
        Skeleton
     >
    I:TormentDimensionID=-38
    I:WorldGenFrequency=12
    B:WorldGenInTwilightForest=true
}


potions {
    I:"witchery:potion.absorbmagic"=63
    I:"witchery:potion.allergydark"=47
    I:"witchery:potion.allergysun"=39
    I:"witchery:potion.attractprojectiles"=67
    I:"witchery:potion.brewingexpertise"=44
    I:"witchery:potion.chilled"=40
    I:"witchery:potion.colorful"=57
    I:"witchery:potion.diseased"=72
    I:"witchery:potion.doublejump"=45
    I:"witchery:potion.enderinhibition"=58
    I:"witchery:potion.enslaved"=61
    I:"witchery:potion.featherfall"=46
    I:"witchery:potion.feelnopain"=70
    I:"witchery:potion.floating"=42
    I:"witchery:potion.fortune"=73
    I:"witchery:potion.gasmask"=71
    I:"witchery:potion.grotesque"=37
    I:"witchery:potion.hellishaura"=43
    I:"witchery:potion.illfitting"=59
    I:"witchery:potion.insane"=49
    I:"witchery:potion.keepeffects"=75
    I:"witchery:potion.keepinventory"=50
    I:"witchery:potion.love"=38
    I:"witchery:potion.mortalcoil"=62
    I:"witchery:potion.overheating"=52
    I:"witchery:potion.paralysed"=33
    I:"witchery:potion.poisonweapons"=64
    I:"witchery:potion.queasy"=54
    I:"witchery:potion.reflectdamage"=66
    I:"witchery:potion.reflectprojectiles"=65
    I:"witchery:potion.reincarnate"=48
    I:"witchery:potion.repellattacker"=68
    I:"witchery:potion.resizing"=56
    I:"witchery:potion.sinking"=51
    I:"witchery:potion.snowtrail"=41
    I:"witchery:potion.spiked"=35
    I:"witchery:potion.sprouting"=36
    I:"witchery:potion.stoutbelly"=69
    I:"witchery:potion.swimming"=55
    I:"witchery:potion.volatility"=60
    I:"witchery:potion.wakingnightmare"=53
    I:"witchery:potion.worship"=74
    I:"witchery:potion.wrappedinvine"=34
}


