# Configuration file

general {
    B:AddSmeltingForAllSaplingsToWoodAsh=true
    B:AllowBiomeModificationRituals=true
    B:AllowChatMasquerading=true
    B:AllowCovenWitchVisits=true
    B:AllowDeathItemRecoveryRite=true
    B:AllowDeathsHoodToFreezeVictims=true
    B:AllowGoddessStatueRecipe=false
    B:AllowHellOnEarthFires=true
    B:AllowInterModBlockBreakEvents=true
    B:AllowModArsMagica2=true
    B:AllowModForestry=true
    B:AllowModIntegration=true
    B:AllowModMineFactoryReloaded=true
    B:AllowModMystcraft=true
    B:AllowModNEI=true
    B:AllowModThaumcraft=true
    B:AllowModTreecapitator=true
    B:AllowNameplateMasquerading=true
    B:AllowPlayerToPlayerWolfInfection=true
    B:AllowStakingVampires=true
    B:AllowVampireQuests=true
    B:AllowVampireRitual=true
    B:AllowVampireWerewolfHybrids=true
    B:AllowVoidBrambleRecipe=true
    B:AllowVolatilityPotionBlockDamage=true
    I:ApothecaryVillagerID=2435
    I:BranchGlyphSet=0
    I:CovenWitchSpawnWeight=2
    B:CreeperHeartsExplodeWithDamageWhenEaten=true
    B:DecurseDirectedEnabled=false
    I:DecurseDirectedProtectRadius=32
    B:DecurseTeleportPullEnabled=true
    I:DecurseTeleportPullProtectRadius=32
    I:DiseaseBlockRemovalChance=10
    B:DoubleFumeFilterChance=false
    I:DreamDimensionID=55
    B:GUIOnLeft=true
    B:GenerateApothecaries=true
    B:GenerateBookShops=true
    B:GenerateCovens=true
    B:GenerateHobgoblinHuts=true
    B:GenerateShacks=true
    B:GenerateWickerMen=true
    B:GenerateWitchHuts=true
    B:HUDShowVampireTargetBloodText=false
    I:HellhoundSpawnWeight=50
    B:HobgoblinDespawnBlock=true
    I:HobgoblinGodSpawnChance=10
    I:HobgoblinSpawnChance=2
    I:HobgoblinSpawnWeight=4
    D:MantrapOpacity=0.3
    I:MirrorDimensionID=70
    S:MutandisAdditionalBlocks <
        witchery:glintweed,0
        tallgrass,2
     >
    S:NaturesPowerReplaceableBlocks <
        mycelium
     >
    D:NewFairestOfThemAllSpawnChance=0.01
    I:PercentageOfPlayersSleepingForBuff=100
    I:PotionStartID=32
    B:Render3dGlintEffect=true
    B:RenderHuntsmanGlintEffect=true
    B:RespectOtherDeathChestMods=true
    B:RestrictPoppetShelvesToVanillaAndSpiritDimensions=true
    B:RestrictTaglockCollectionForOPs=false
    B:RestrictTaglockCollectionOnNonPVPServers=false
    I:RiteOfEclipseCooldownInSecs=0
    B:ShrinkMirrorWorld=false
    I:SpiritSpawnWeight=1
    S:StrawmanSpawnerRules <
        Zombie
        Zombie
        Skeleton
     >
    I:TormentDimensionID=56
    B:TownBiomeForestAllowed=true
    B:TownBiomeHillsAllowed=true
    B:TownBiomeJungleAllowed=false
    B:TownBiomeMesaAllowed=true
    B:TownBiomeMountainAllowed=true
    B:TownBiomePlainsAllowed=true
    B:TownBiomeSandyAllowed=true
    B:TownBiomeSnowyAllowed=true
    B:TownBiomeWastelandAllowed=true
    I:TownBlacksmithClusterGroups=1
    I:TownBlacksmithClusterMax=1
    I:TownBlacksmithClusterMin=0
    I:TownBlacksmithClusterWeight=5
    S:TownBookshopAllowedBooks <
        book
        witchery:ingredient,46
        witchery:ingredient,47
        witchery:ingredient,48
        witchery:ingredient,49
        witchery:ingredient,81
        witchery:ingredient,106
        witchery:ingredient,107
        witchery:ingredient,127
        witchery:bookbiomes2
        witchery:cauldronbook
        Thaumcraft:ItemThaumonomicon
        TConstruct:manualBook
        TConstruct:manualBook,1
        TConstruct:manualBook,2
        TConstruct:manualBook,3
     >
    I:TownChurchClusterGroups=0
    I:TownChurchClusterMax=1
    I:TownChurchClusterMin=0
    I:TownChurchClusterWeight=10
    I:TownDoubleFieldClusterGroups=3
    I:TownDoubleFieldClusterMax=5
    I:TownDoubleFieldClusterMin=3
    I:TownDoubleFieldClusterWeight=20
    I:TownGardenHouseClusterGroups=3
    I:TownGardenHouseClusterMax=5
    I:TownGardenHouseClusterMin=3
    I:TownGardenHouseClusterWeight=20
    I:TownGuardTowerClusterGroups=4
    I:TownGuardTowerClusterMax=1
    I:TownGuardTowerClusterMin=0
    I:TownGuardTowerClusterWeight=20
    I:TownHallClusterGroups=3
    I:TownHallClusterMax=5
    I:TownHallClusterMin=3
    I:TownHallClusterWeight=20
    I:TownHouse3ClusterGroups=3
    I:TownHouse3ClusterMax=5
    I:TownHouse3ClusterMin=3
    I:TownHouse3ClusterWeight=20
    I:TownHouseClusterGroups=3
    I:TownHouseClusterMax=5
    I:TownHouseClusterMin=3
    I:TownHouseClusterWeight=20
    I:TownKeepMode=1
    I:TownKeepWeight=100
    I:TownSingleFieldClusterGroups=3
    I:TownSingleFieldClusterMax=5
    I:TownSingleFieldClusterMin=3
    I:TownSingleFieldClusterWeight=20
    I:TownWallMode=1
    I:TownWallWeight=100
    I:TownWoodHutClusterGroups=3
    I:TownWoodHutClusterMax=5
    I:TownWoodHutClusterMin=3
    I:TownWoodHutClusterWeight=20
    I:TownZombieAttackReductionMode=1
    I:VampireDeathItemKeepAliveMins=12
    D:VampireHunterSpawnChance=0.01
    I:WorldGenFrequency=12
    B:WorldGenInTwilightForest=true
}


potions {
    I:"witchery:potion.absorbmagic"=45
    I:"witchery:potion.allergydark"=46
    I:"witchery:potion.allergysun"=47
    I:"witchery:potion.attractprojectiles"=48
    I:"witchery:potion.brewingexpertise"=49
    I:"witchery:potion.chilled"=50
    I:"witchery:potion.colorful"=51
    I:"witchery:potion.diseased"=52
    I:"witchery:potion.doublejump"=53
    I:"witchery:potion.enderinhibition"=54
    I:"witchery:potion.enslaved"=55
    I:"witchery:potion.featherfall"=56
    I:"witchery:potion.feelnopain"=57
    I:"witchery:potion.floating"=58
    I:"witchery:potion.fortune"=59
    I:"witchery:potion.gasmask"=60
    I:"witchery:potion.grotesque"=61
    I:"witchery:potion.hellishaura"=62
    I:"witchery:potion.illfitting"=63
    I:"witchery:potion.insane"=64
    I:"witchery:potion.keepeffects"=65
    I:"witchery:potion.keepinventory"=66
    I:"witchery:potion.love"=67
    I:"witchery:potion.mortalcoil"=68
    I:"witchery:potion.overheating"=69
    I:"witchery:potion.paralysed"=70
    I:"witchery:potion.poisonweapons"=71
    I:"witchery:potion.queasy"=72
    I:"witchery:potion.reflectdamage"=73
    I:"witchery:potion.reflectprojectiles"=74
    I:"witchery:potion.reincarnate"=75
    I:"witchery:potion.repellattacker"=76
    I:"witchery:potion.resizing"=77
    I:"witchery:potion.sinking"=78
    I:"witchery:potion.snowtrail"=79
    I:"witchery:potion.spiked"=80
    I:"witchery:potion.sprouting"=81
    I:"witchery:potion.stoutbelly"=82
    I:"witchery:potion.swimming"=83
    I:"witchery:potion.volatility"=91
    I:"witchery:potion.wakingnightmare"=92
    I:"witchery:potion.wolfsbane"=93
    I:"witchery:potion.worship"=94
    I:"witchery:potion.wrappedinvine"=95
}


