# Configuration file

blocks {
    B:enableAgon=true
    B:enableAzur=true
    B:enableBitt=true
    B:enableCray=true
    B:enableFort=true
    B:enableGlac=true
    B:enableIszm=true
    B:enableJelt=true
    B:enableKorp=true
    B:enableKryp=true
    B:enableLair=true
    B:enableLave=true
    B:enableMint=true
    B:enableMyst=true
    B:enableReds=true
    B:enableReed=true
    B:enableRoen=true
    B:enableSols=true
    B:enableSync=true
    B:enableTank=true
    B:enableTest=false
    B:enableVect=true
    B:enableVena=true
    B:enableZane=true
    B:enableZech=true
    B:enableZest=true
    B:enableZeta=true
    B:enableZion=true
    B:enableZkul=true
    B:enableZoea=true
    B:enableZome=true
    B:enableZone=true
    B:enableZorg=true
    B:enableZyth=true
}


items {
    B:" Mini Charcoal"=true
    B:"Diamond Zane"=false
    B:"MSG Pill"=false
    B:"Mini Coal"=true
    B:Ofanix=true
    B:"Splat Axe"=false
    B:"Terrain Eater"=false
    B:"Totem Tool"=false
}


tweaks {
    # Enables dungeon chest loot [default: true]
    B:enableChestGen=false
}


