# Configuration file

"end city syllable pool" {
    # The fraction of names that include a prefix. [range: 0.0 ~ 1.0, default: 0.030303031]
    S:"Prefix Chance"=0.030303031

    # Prefixes that can occur before the core name.
    S:Prefixes=End, Mag, Tír

    # Core names begin with one of these half-syllables. Use _ to represent a space.
    S:"Root: Initial"=A, A, A, A, Ba, Brah, Ca, Ca, Ce, Ce, Cha, Di, Dy, E, E, E, E, E, Eu, Eu, Ga, Gai, Hau, Hea, Hla, I, I, I, I, I, Ju, Ka, Ko, Lu, Ma, Ma, Ma, Me, Me, Mi, Mi, Moo, Nó, Ne, Ni, O, Pa, Plu, Pu, Rhe, Sa, Sa, Se, Su, Te, Te, Ti, Tla, Tri, U, U, U, U, Va, Ve, Yh, Yo

    # Core names insert zero or more of these elements to build to their target lengths. Use _ to represent a space, and ^ for a blank entry.
    S:"Root: Syllables"=a, a, a, be, bi, cha, da, de, ke, la, la, la, le, le, lha, lli, lo, lo, ltha, lti, ly, ly, ma, ma, mbri, me, mi, mme, na, nce, nde, nga, ni, nnw, nu, ny, o, o, pi, ptu, ra, ra, rco, rcu, re, re, rga, ri, ri, rna, ro, ro, rra, rza, sga, ta, thy, ti, to, to, tu, ve, a, ca, e, e, ka, la, lla, ma, me, me, mo, nda, ne, ne, ni, no, no, nu, pa, pe, pha, pu, rla, rne, ro, ru, ry, sa, si, sto, te, th-Lee, to, tro, ï, a, cia, du, ke, ni, ra, ry, tu, u, u

    # Core names end with one of these half-syllables. Use _ to represent a space, and ^ for a blank entry.
    # The raw number of ^ entries will be ignored if "Syllable Count Weighting" and "Terminal Blank Counts" are formatted correctly.
    S:"Root: Terminal"=^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, b, b, de, g, k, k, kh, l, l, ll, ll, m, m, n, n, n, n, n, n, n, n, n, n, n, nd, ne, r, r, r, rd, rn, rs, s, s, s, s, s, s, s, s, s, th, th, th

    # The fraction of names that include a suffix. [range: 0.0 ~ 1.0, default: 0.0]
    S:"Suffix Chance"=0.0

    # Suffixes that can occur after the core name.
    S:Suffixes=City

    # How often core names of various lengths are generated. The number in the Nth row is the weighting for N-syllable names.
    I:"Syllable Count Weighting" <
        5
        28
        24
        9
        1
     >

    # The number of names that end on a blank "Root: Terminal" character (typically this means ending on a vowel sound). The number in the Nth row is the weighting for N-syllable names. If this number is larger than the corresponding row's number in "Syllable Count Weighting" or smaller than 0, then this config will be ignored and the "Root: Terminal" character will be drawn from directly.
    I:"Terminal Blank Counts" <
        0
        7
        11
        5
        0
     >
}


