# Configuration file

"golem syllable pool" {
    # The fraction of names that include a prefix. [range: 0.0 ~ 1.0, default: 0.0]
    S:"Prefix Chance"=0.0

    # Prefixes that can occur before the core name.
    S:Prefixes=

    # Core names begin with one of these half-syllables. Use _ to represent a space.
    S:"Root: Initial"=É, İ, A, A, A, A, A, A, A, A, A, A, A, A, A, A, A, A, A, A, A, A, A, A, Ae, Ba, Ba, Ba, Bha, Bi, Bri, Bu, Bu, Ca, Cha, Che, Chri, Co, Co, D, Da, Da, Do, Du, Du, E, E, E, E, E, E, E, Ei, Eu, Fe, Fe, Fra, Fre, Fre, Frie, Gau, Ge, Ge, Ge, Geo, Go, Ha, Ha, He, He, He, He, He, Hja, Ho, Hua, I, I, I, Ja, Je, Je, Je, Jea, Jo, Jo, Jo, Jo, Joe, Ju, Jua, Ka, Ka, Kha, Kle, Kro, Ku, Lé, La, La, Lai, Le, Le, Le, Li, Li, Lou, Lou, Lu, Ma, Ma, Ma, Ma, Ma, Ma, Ma, Ma, Me, Mi, Mo, Mu, Na, Naa, Ne, Ne, Ne, Ni, Ni, Ni, No, Nu, O, O, O, Ou, Pe, Po, Ra, Ro, Ro, Sa, Sa, Sa, Sa, Sa, Sa, Se, Shi, Si, Si, Ta, Te, Tha, The, The, Tho, Ti, U, Va, Va, Vai, Ve, Vi, Vi, Vla, Vu, Wa, Wi, Wi, Wi, Wi, Wi, Ya, Ya, Zeu

    # Core names insert zero or more of these elements to build to their target lengths. Use _ to represent a space, and ^ for a blank entry.
    S:"Root: Syllables"=be, be, bi, bra, bu, cchu, cho, cky, co, cto, da, de, de, de, dfrey, di, do, dra, dri, dwa, dwi, fre, ge, gha, hai, hi, hla, ho, ho, i, i, i, jo, ka, ke, ktha, la, la, lbe, lbre, lca, ldwi, le, le, lfri, lhe, li, li, li, li, li, li, lla, llia, llie, lma, lo, mó, ma, ma, ma, ma, mbi, mi, mi, mi, mi, mkhi, mo, my, mya, nchi, nci, nco, nda, ndi, ne, nghi, nri, nri, nry, nsto, nte, nu, o, o, o, o, o, o, o, o, pha, phi, phi, phro, po, po, r'e, ra, ra, ra, ra, ra, rdi, re, re, rga, rghe, ri, ri, ri, rma, rme, rmi, ro, ro, ro, rqui, rthu, rtli, ru, ry, sé, sú, sa, sca, se, se, sei, she, shi, shma, sme, sta, ste, ste, sto, su, ta, ta, te, the, ti, tla, to, tto, va, va, va, va, vi, vzi, xto, za, zi, zma, zra, a, a, a, bhbhai, bi, ca, co, de, di, do, do, do, do, e, e, e, e, e, e, e, e, e, e, e, e, fa, ha, hi, hmee, lé, la, li, llo, lo, lo, lpho, ly, ly, ma, ma, mi, msa, na, na, ngke, ni, ni, ni, ni, ni, ni, nna, o, o, o, ou, phe, po, po, rdi, ri, ri, ri, ri, ri, rta, sa, se, so, ta, tai, thy, ti, ti, try, tzky, ve, xa, xi, za, za, ö, a, a, a, a, be, bha, da, e, e, ki, me, mu, na, nde, o, o, ri, si, te, tta, u, u, she, te, u, kia, sva, kia, ra

    # Core names end with one of these half-syllables. Use _ to represent a space, and ^ for a blank entry.
    # The raw number of ^ entries will be ignored if "Syllable Count Weighting" and "Terminal Blank Counts" are formatted correctly.
    S:"Root: Terminal"=^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, b, ch, cht, ck, d, d, d, g, h, h, h, hn, k, k, l, l, l, l, l, l, l, l, l, l, l, l, l, l, l, ld, ld, lls, lm, lt, m, m, m, m, m, m, m, m, m, m, m, mes, n, n, n, n, n, n, n, n, n, n, n, n, n, n, n, n, nd, ne, ng, nne, nne, p, ph, ph, r, r, r, r, r, r, r, r, r, rd, rd, re, rge, rke, rl, rles, rnst, rt, rt, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, se, t, t, th, th, x

    # The fraction of names that include a suffix. [range: 0.0 ~ 1.0, default: 0.0]
    S:"Suffix Chance"=0.0

    # Suffixes that can occur after the core name.
    S:Suffixes=

    # How often core names of various lengths are generated. The number in the Nth row is the weighting for N-syllable names.
    I:"Syllable Count Weighting" <
        17
        77
        58
        20
        1
        0
        2
     >

    # The number of names that end on a blank "Root: Terminal" character (typically this means ending on a vowel sound). The number in the Nth row is the weighting for N-syllable names. If this number is larger than the corresponding row's number in "Syllable Count Weighting" or smaller than 0, then this config will be ignored and the "Root: Terminal" character will be drawn from directly.
    I:"Terminal Blank Counts" <
        1
        22
        19
        9
        0
        0
        1
     >
}


