# Configuration file

"mansion syllable pool" {
    # The fraction of names that include a prefix. [range: 0.0 ~ 1.0, default: 0.15044248]
    S:"Prefix Chance"=0.15044248

    # Prefixes that can occur before the core name.
    S:Prefixes=Flower of, Golden, Grey, Life of, North, Silver, The, The, The, The, The, The, The, The, The, The, The, White

    # Core names begin with one of these half-syllables. Use _ to represent a space.
    S:"Root: Initial"='I, A, A, A, A, A, A, A, Be, Be, Be, Be, Bi, Blai, Bo, Brae, Bray, Brea, Ca, Ca, Ca, Cha, Co, Co, Coe, Da, Da, Du, Du, E, E, E, Fai, Fi, Fleu, Flo, Fri, Ga, Ge, Gle, Grey, Ha, Ha, Hay, He, Hea, Hi, Ho, Ho, Hu, Hy, Hy, I, I, I, Ka, Ky, Ly, Ly, Ma, Ma, McCu, Mea, Mi, Mi, Mo, Ne, O, O, O, O, Pa, Pa, Pa, Pa, Pa, Pay, Pe, Pe, Po, Pre, Rê, Ra, Re, Rei, Ri, Ro, Ry, Se, Se, Sea, Sea, Sha, Sha, She, Shi, Ti, To, To, Twi, U, Ve, Vi, Wa, Wa, Whi, Whi, Wi, Wi, Wi, Woo, Xa, Ya, Zi

    # Core names insert zero or more of these elements to build to their target lengths. Use _ to represent a space, and ^ for a blank entry.
    S:"Root: Syllables"=bble, ce, chre, ddo, dle, dlea, do, do, do, he, ke, kui, la, lai, lai, lbu, lde, li, lla, lli, lme, lmo, lo, lsto, lsto, ltmo, lvé, mba, mbro, mi, mou, mpstea, na, ncai, nde, ndi, ngdi, nge, ngwoo, ni, nna, nnewoo, nra, nsmo, nta, nte, nti, nwoo, o, pewe, pla, r-a, ra, rbo, rbo, rbu, rde, rdro, re, rfie, rha, rla, rli, rne, rne, ro, rsai, rsde, schma, she, stle, sto, sto, teha, tema, tto, ve, ve, ve, vie, vo, we, we, wnse, wse, _Hou, -La, a, dè, du, ge, ghe, gie, ka, la, la, li, li, lo, mea, na, ngto, ngto, ni, ni, o, ri, rie, rsi, rsky, rso, rthu, rto, rwoo, sfa, so, ssa, tto, w_Broo, ble, da, go, n_Ne, ni, o, ty, sa

    # Core names end with one of these half-syllables. Use _ to represent a space, and ^ for a blank entry.
    # The raw number of ^ entries will be ignored if "Syllable Count Weighting" and "Terminal Blank Counts" are formatted correctly.
    S:"Root: Terminal"=^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ck, ck, d, d, d, d, d, d, de, de, es, ff, ght, hn, k, ke, ke, l, l, l, ld, ldt, les, ll, ll, ll, lle, lles, lls, lm, m, m, n, n, n, n, n, n, n, n, n, nd, nd, nds, ne, ne, ne, ng, nt, r, r, r, r, r, r, r, r, r, re, re, re, rg, rls, rne, rs, rs, rs, rs, rsh, rst, s, s, s, s, s, se, se, t, t, ve, w, w, w, we, wn, z

    # The fraction of names that include a suffix. [range: 0.0 ~ 1.0, default: 0.67256635]
    S:"Suffix Chance"=0.67256635

    # Suffixes that can occur after the core name.
    S:Suffixes=Air, Brook, Castle, Castle, Castle, Castle, Castle, Château, Champ, Chateau, Court, Court, Creek, Farms, Ferry, Grove, Hacienda, Hall, Hall, Hall, Hall, Hall, Hall, Hall, Hall, Hill, Hill, Hill, Hill, Hill, House, House, House, House, House, House, House, House, House, House, House, House, House, House, House, Lawn, Lodge, Lodge, Manor, Manor, Manor, Manor, Mansion, Mansion, Mansion, Mansion, Mansion, Mansion, Mansion, Mansion, Mansion, Mansion, Mansion, Mansion, Meadows, Oaks, Palace, Park, Pond, Ranch, Ridge, Royal, Terrace, Terrace, Villa, Villa, Way

    # How often core names of various lengths are generated. The number in the Nth row is the weighting for N-syllable names.
    I:"Syllable Count Weighting" <
        29
        51
        27
        6
        1
     >

    # The number of names that end on a blank "Root: Terminal" character (typically this means ending on a vowel sound). The number in the Nth row is the weighting for N-syllable names. If this number is larger than the corresponding row's number in "Syllable Count Weighting" or smaller than 0, then this config will be ignored and the "Root: Terminal" character will be drawn from directly.
    I:"Terminal Blank Counts" <
        2
        7
        13
        5
        1
     >
}


