# Configuration file

"temple syllable pool" {
    # The fraction of names that include a prefix. [range: 0.0 ~ 1.0, default: 0.05263158]
    S:"Prefix Chance"=0.05263158

    # Prefixes that can occur before the core name.
    S:Prefixes=Abu, Abu, Beit, Divus, Jebel, Jebel, Mater, Saint, San, San, San, Santa, Santa, Santo

    # Core names begin with one of these half-syllables. Use _ to represent a space.
    S:"Root: Initial"=A, A, A, A, A, A, A, A, A, A, A, A, A, A, A, A, A, A, A, A, A, Au, Au, Bó, Ba, Ba, Ba, Ba, Ba, Ba, Baa, Baa, Be, Bo, Bor, Bu, Có, Ca, Ca, Ca, Cae, Ce, Châ, Ci, Clau, Cle, Co, Co, Co, Co, Cou, Cu, Da, Da, De, De, De, De, Di, Di, Di, Di, Do, Do, Do, Do, Do, E, E, E, E, E, E, E, E, E, E, Fâ, Fau, Fe, Fi, Fle, G, Gö, Ga, Ge, Ge, Gha, Giu, Gra, Grie, Ha, Ha, Ha, Ha, Ha, Ha, He, He, He, He, He, He, He, He, Hei, Hi, I, I, Ja, Je, Jo, Ju, Ju, Ju, Ka, Ka, Kha, Ko, Koe, Ku, La, Le, Le, Le, Li, Lo, Lu, Lu, Ly, Ly, M, Ma, Ma, Ma, Ma, Ma, Ma, Ma, Me, Me, Me, Me, Mi, Mi, Mo, Mou, Mu, Mu, Ne, Ne, Ni, Ny, O, O, O, Pa, Pa, Pa, Pa, Pa, Pe, Pe, Pea, Phi, Po, Po, Po, Po, Pri, Pri, Pu, Qa, Qa, Qe, Ra, Ra, Re, Ro, Ro, Ro, Ro, Ro, S, Sa, Sa, Sa, Sa, Sa, Schö, Se, Se, Se, Se, Se, Se, Se, Sha, Si, Si, Si, Si, Sko, So, So, Spe, Sy, Sy, Ta, Ta, Ta, Ta, Ta, Ta, Tau, Te, Te, Te, Thu, Ti, To, To, Tré, Tra, Tu, U, U, Vé, Va, Ve, Ve, Ve, Ve, Ve, Ve, Vei, Vi, Vi, Wa, Wa, Wa, We, Xa, Xe, Y, Za, Za, Zeu

    # Core names insert zero or more of these elements to build to their target lengths. Use _ to represent a space, and ^ for a blank entry.
    S:"Root: Syllables"=ža, a, a, ba, be, bei, bii, blai, bo, bu, cchu, chnou, ckwi, co, cro, ddi, di, di, di, dney, do, dri, dri, e, ffe, fli, fra, ga, ga, ge, ge, ge, gga, ghou, gi, gi, gi, gno, gou, gra, gu, gu, ha, ha, ja, kka, la, la, la, la, lai, lbe, lcá, le, le, li, li, li, li, li, llu, lo, ltba, lve, ma, ma, mae, mbe, me, me, me, mi, mi, mi, mna, mne, mo, mo, mo, mphae, mpho, mu, mu, mxi, nó, na, na, nai, nbü, nbi, nci, nco, nco, ncra, ndé, ndo, ndun, ne, ne, nge, ni, ni, nka, nma, nne, nni, nnu, no, no, nta, nte, nthe, ntju, nto, nu, nu, nu, nxay, o, o, o, o, o, pe, pha, pha, pha, phe, phro, phy, pi, pi, po, psi, pti, pto, ptu, qa, ró, ra, ra, ra, ra, ra, rai, rba, rbe, rco, rcu, rcu, rcu, rda, rdi, rdi, rdo, re, re, rfu, rgo, ri, ri, ri, ri, rka, rmo, rna, rna, rne, rne, ro, ro, ro, rrée, rra, rre, rre, rsi, rsi, rta, rtbe, rte, rthe, rto, rtu, ru, rxi, s, sa, sca, scle, sei, sha, shmou, si, sme, so, spa, spa, stó, sta, sti, sto, stte, sy, tca, te, teli, the, to, tra, tra, tra, tro, tta, tti, tu, tu, u, u, u, ve, vi, wa, we, xo, ze, zo, zo, à, a, a, a, a, a, a, ba, ba, bba, bo, bou, bri, bsha, chta, chthe, cle, cto, cu, da, da, de, de, di, dna, do, e, e, e, e, e, e, ga, ge, gga, gni, gsho, gtu, i, i, i, ia, ja, ja, jdra, la, la, li, lle, lli, llo, lu, mbri, me, mi, mo, na, na, na, na, na, na, ndo, ne, ne, nga, ni, no, nta, nte, nti, nto, nu, nu, nu, nvi, ny, o, o, o, o, pe, pi, po, po, po, po, ppa, ppei, py, rá, ra, ra, rbo, rdi, re, re, ri, ri, ri, rme, rno, rnu, rra, rta, rva, ry, sa, sbu, scu, scu, si, si, so, sre, ssi, sta, sta, ste, stei, sti, stu, su, su, ta, te, te, ti, ti, tla, to, u, u, u, u, u, vi, wbu, wwa, ze, zi, a, a, a, a, a, a, ca, e, e, ffe, ga, ga, ja, ko, le, le, li, li, li, lo, lzu, ma, na, na, ne, ne, ni, ni, nia, no, no, nstei, nte, nu, o, o, o, qua, ra, ra, ra, ra, rdo, re, re, ri, ri, ri, rti, so, ssa, stu, stu, te, u, u, u, u, cu, ne, nki, nu, o, u

    # Core names end with one of these half-syllables. Use _ to represent a space, and ^ for a blank entry.
    # The raw number of ^ entries will be ignored if "Syllable Count Weighting" and "Terminal Blank Counts" are formatted correctly.
    S:"Root: Terminal"=^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, ^, b, b, b, c, c, c, ce, d, g, g, gh, h, h, hl, k, k, k, l, l, l, l, l, l, l, l, le, lfe, lg, lle, m, m, m, m, m, m, m, m, n, n, n, n, n, n, n, n, n, n, n, n, n, n, n, n, n, n, n, n, n, n, n, n, n, n, n, n, n, n, n, n, n, ne, ne, ns, ns, r, r, r, r, r, r, r, r, r, r, rd, rd, re, re, re, rf, rg, rg, rg, rgh, rn, rn, rr, rs, rs, rx, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, s, se, t, t, t, t, t, t, tt, tte, x, x

    # The fraction of names that include a suffix. [range: 0.0 ~ 1.0, default: 0.008097166]
    S:"Suffix Chance"=0.008097166

    # Suffixes that can occur after the core name.
    S:Suffixes=Hill, Magna, Qim

    # How often core names of various lengths are generated. The number in the Nth row is the weighting for N-syllable names.
    I:"Syllable Count Weighting" <
        20
        87
        83
        52
        6
     >

    # The number of names that end on a blank "Root: Terminal" character (typically this means ending on a vowel sound). The number in the Nth row is the weighting for N-syllable names. If this number is larger than the corresponding row's number in "Syllable Count Weighting" or smaller than 0, then this config will be ignored and the "Root: Terminal" character will be drawn from directly.
    I:"Terminal Blank Counts" <
        2
        28
        38
        28
        2
     >
}


