# Configuration file

##########################################################################################################
# enchantments
#--------------------------------------------------------------------------------------------------------#
# Settings for enchantments.
# By default, only IDs up to 255 are allowed, only assign a larger value if an ID extension is present.
##########################################################################################################

enchantments {
    #  [default: true]
    B:frostWalker=true

    #  [range: 0 ~ 32767, default: 200]
    I:frostWalkerID=226

    #  [default: true]
    B:mending=true

    #  [range: 0 ~ 32767, default: 201]
    I:mendingID=227

    #  [default: true]
    B:swiftSneak=true

    #  [range: 0 ~ 32767, default: 202]
    I:swiftSneakID=228
}


##########################################################################################################
# potions
#--------------------------------------------------------------------------------------------------------#
# Settings for potions.
# By default, only IDs up to 31 are allowed, only assign a larger value if an ID extension is present.
##########################################################################################################

potions {
    # Since this is essential for Shulkers, this is tied to Shulkers being enabled instead of having its own option. [range: 0 ~ 32767, default: 27]
    I:levitationID=134
}


