# Configuration file

"EXPERIMENTAL FEATURES -- TREAD CAREFULLY" {
}


##########################################################################################################
# experimental features -- tread carefully
#--------------------------------------------------------------------------------------------------------#
# Unfinished features. Handle with care! To automatically enable all of these at once, use "-Detfuturum.testing=true" in your program arguments.
# For the safety of people playing any packs that include these features, a chat message will be issued when any of them are enabled.
# These features are not finished, may cause breakages and are subject to receive major changes at any time.
# This can also include breaking changes, and even changed IDs.
# 
# Note that when a config option has no comment at all, not even saying what the default value is, that means the option was removed.
# In that case check the regular configs as it was likely moved there.
# 
##########################################################################################################

"experimental features -- tread carefully" {
    # Places in the world but currently does nothing. [default: false]
    B:enableBubbleColumns=false

    # Enables the crimson nylium, wood, and plants. This must be on for the crimson forest biome to generate unless Netherlicious is installed.
    # The nether wart block is still a separate toggle, both this and the wart toggle must be turned off to disable the nether wart block, because crimson trees need the wart blocks. [default: false]
    B:enableCrimsonBlocks=false

    # Partially functional. Does not naturally generate. [default: false]
    B:enableDripstone=false

    # Completely nonfunctional. [default: false]
    B:enableLightningRod=false

    # Enables mangrove wood and all of its wood subtypes, and the roots (+ muddy versions). [default: false]
    B:enableMangroveBlocks=false

    # Enables moss and azalea. Currently azalea saplings do not grow. [default: false]
    B:enableMossAzalea=false

    # Enables sculk-related blocks. [default: false]
    B:enableSculk=false

    # Enables the warped nylium, wood, and plants. This must be on for the warped forest biome to generate unless Netherlicious is installed. Requires newNether to be enabled without Netherlicious. [default: false]
    B:enableWarpedBlocks=false

    # Enables outer end island generation from 1.9. Gateways are implemented but currently don't generate, but they work. The new dragon fight is currently not implemented and it does not spawn any gateways. [default: false]
    B:endDimensionProvider=false

    # Enables the Nether dimension provider override needed for supplying custom biomes. This is partially ignored if Netherlicious is installed. Netherlicious has compat to generate Et Futurum Requiem biomes with Netherlicious blocks.
    # This is so you can have vanilla-style biomes in Netherlicious while Requiem is installed. Turning this off or setting each individual biome ID to -1 will prevent my version of Nether biomes from generating. Don't forget to turn off my Nether blocks in blocksitems.cfg since my biomes will generate with Netherlicious blocks if available. [not implemented yet] [default: false]
    B:netherDimensionProvider=false
}


