# Configuration file

"zombie awareness: player rules & lists" {
    # List of mobs to prevent enhanced AI on
    S:blacklistAITick=Creeper, Enderman, Wolf

    # Uses list of mobs to prevent enhanced AI on
    B:blacklistUsedAITick=true

    # swaps blacklistUsedAITick/blacklistAITick into a whitelist
    B:forceListUsedAITickAsWhitelist=false

    # Uses list of people to have spawning of zombies for
    B:whiteListUsedExtraSpawning=false

    # Uses list of people to have omnipotent targetting effect
    B:whiteListUsedOmnipotent=false

    # Uses list of people to have senses spawned for
    B:whiteListUsedSenses=false

    # List of people to have spawning of zombies for
    S:whitelistExtraSpawning=Corosus

    # List of people to have omnipotent targetting effect
    S:whitelistOmnipotentTargettedPlayers=Corosus, SomeDude

    # List of people to have senses spawned for
    S:whitelistSenses=Corosus, SomeDude
}


