# Configuration file

"zombie awareness: player rules & lists" {
    # List of mobs to prevent enhanced AI on
    S:blacklistAITick=SpecialMobs.SpecialZombie, SpecialMobs.BrutishZombie, SpecialMobs.FireZombie, SpecialMobs.FishingZombie,
    SpecialMobs.GiantZombie, SpecialMobs.PlagueZombie, SpecialMobs.SpecialSkeleton,
    SpecialMobs.BrutishSkeleton, SpecialMobs.FireSkeleton, SpecialMobs.GatlingSkeleton, SpecialMobs.GiantSkeleton,
    SpecialMobs.PoisonSkeleton, SpecialMobs.SniperSkeleton, SpecialMobs.SpitfireSkeleton, SpecialMobs.ThiefSkeleton, 

    # Uses list of mobs to prevent enhanced AI on
    B:blacklistUsedAITick=true

    # swaps blacklistUsedAITick/blacklistAITick into a whitelist
    B:forceListUsedAITickAsWhitelist=true

    # Uses list of people to have spawning of zombies for
    B:whiteListUsedExtraSpawning=false

    # Uses list of people to have omnipotent targetting effect
    B:whiteListUsedOmnipotent=false

    # Uses list of people to have senses spawned for
    B:whiteListUsedSenses=false

    # List of people to have spawning of zombies for
    S:whitelistExtraSpawning=Corosus

    # List of people to have omnipotent targetting effect
    S:whitelistOmnipotentTargettedPlayers=Corosus, SomeDude

    # List of people to have senses spawned for
    S:whitelistSenses=Corosus, SomeDude
}


