# Configuration file

"achievement ids" {
    I:BEDROCKBREAKER=24012
    I:BEDROCKSHAFT=24016
    I:BEDROCKTOOLS=24017
    I:BORER=24006
    I:CUTKNOT=24034
    I:CVT=24015
    I:DAMAGEGEARS=24023
    I:DIAMONDGEARS=24024
    I:DOUBLEKILL=24038
    I:EXTRACTOR=24002
    I:FLOODLIGHT=24022
    I:GIGAWATT=24026
    I:GPR=24005
    I:GPRENDPORTAL=24033
    I:GPRSPAWNER=24032
    I:GRAVELGUN=24029
    I:JETCHICKEN=24018
    I:JETENGINE=24009
    I:JETFAIL=24019
    I:JETFUEL=24007
    I:LANDMINE=24030
    I:LIGHTFALL=24020
    I:MAKERAILGUN=24010
    I:MAKESTEEL=24000
    I:MAKEYEAST=24001
    I:MASSIVEHIT=24036
    I:MRADS32=24025
    I:NETHERHEATRAY=24031
    I:OVERPRESSURE=24037
    I:PCB=24003
    I:PUMP=24004
    I:RAILDRAGON=24027
    I:RAILKILLED=24028
    I:RAREEXTRACT=24035
    I:RECYCLE=24008
    I:SPRINKLER=24021
    I:STEAMENGINE=24013
    I:STEELSHAFT=24014
    I:SUCKEDINTOJET=24011
}


"control setup" {
    B:"Allow Bedrock Breaker to Break Y=0"=false
    B:"Allow Bedrock Pickaxe to Harvest Spawners"=false
    B:"Allow Blast Glass to be Used as TE Hardened Glass"=false
    B:"Allow Build Blocking of Some Machines"=true
    B:"Allow Craftable Bedrock"=true
    B:"Allow EMP"=true
    B:"Allow Gravel Gun PvP"=true
    B:"Allow RC steel to be used in other mods"=false
    B:"Allow TNT Cannon"=true
    I:"Bait Box Range"=128
    I:"Blast Furnace Crafting Material"=0
    B:"Block Damage from Destructive Machines"=true
    I:"Block Ram Range"=512
    B:"Borer Requires Maintenance"=false
    I:"Breeder Range"=128
    I:"Cave Scanner FOV"=16
    I:"Chest Generation Tier"=4
    B:"Color Blind Mode"=false
    B:"Conservative Jetpack Firing"=true
    B:"Crafting Table can Make Machines"=true
    I:"Difficulty Control"=2
    B:"Direct Block Damage from Machine Failures"=true
    B:"Disable Automining Machines"=false
    B:"Disable Silver Iodide Cannon Rain"=false
    I:"EMP Charging Speed"=4
    B:"Enable Achievements"=true
    B:"Engine Running Sounds"=true
    D:"Engine Volume"=1.0
    B:"Explode jetpack if player is in lava"=true
    B:"Extractor Drill Wears Down"=true
    I:"Fluid Flow Speed"=5
    B:"Force Inter-Mod Ore Compatibility"=true
    B:"GPR Renders Ores"=true
    B:"Hard Mode EU Compatibility"=true
    B:"Hardmode Gravel Gun"=true
    B:"Instant Woodcutter"=true
    D:"Iron Ore Density"=1.0
    B:"Item Pump Spills Items If Dumping To Air"=true
    B:"Jetpack Requires Jet Fuel"=false
    B:"Jetpack bypasses allow-flight property"=true
    I:"Liquid Spiller Range, Use Zero to Disable"=16
    B:"Lock enchants on bedrock tools"=true
    B:"Log Block Placement and Removal"=false
    D:"Machine Volume Multiplier"=1.0
    B:"Machine Warning Alarms"=false
    I:"Max Aerosolizer Range"=128
    I:"Max Bait Box Mob Count"=256
    I:"Max Bridge Range"=128
    I:"Max Fan Range"=128
    I:"Max Floodlight Range"=128
    I:"Max Force Field Range"=128
    I:"Max Heat Ray Range"=128
    I:"Max Sonic Weapon Range"=128
    I:"Max Vacuum Range"=128
    B:"Owner-Only Machine Use"=false
    D:"Pipe Block Hardness"=0.0
    I:"Player Detector Range"=128
    B:"Railgun Block Damage"=true
    B:"Reload Handbook Data on Open"=false
    B:"Render projector lines"=true
    B:"Rotate Hose/Pipe/Fuel Line Recipes"=false
    B:"Show Force Fields"=true
    I:"Sonic Borer Range"=1024
    B:"Spawn Mobs When Harvesting Spawners By Hand"=true
    B:"Spawn XP from Friction Heater"=false
    B:"Spawn with RC Handbook"=true
    I:"Spawner Mob Limit"=128
    I:"Sprinkler Particle Density"=4
    B:"Terraformer Block Editing"=true
    B:"Tools Clear Chat"=true
    B:"Turrets can target players"=true
}


"other ids" {
    I:"Freeze Potion ID"=235
}


