# Configuration file

general {
    # Simply Changes the Crop Item in the Calculator/Plugin into Better Indicating once. Dissabled by default
    B:"Change Crop Display Item"=false

    # Tells you Special Grow requirements of the Crop
    B:"Extra Crop Info"=false

    # This keep only the Best possebilities inside of that Plugin.
    # Note that could mean that you could get really much possebilities if you dissable it. Else you may not get all really good ones
    B:"Keep Best"=true

    # This changes how many crops will be used in the calulator
    # It will not effect the loading of MC but the plugin needs longer to load. (Since it has way more possebilities to calculate)
    # Pick 2-3-4 one of these numbers. If it is lower or higher it will be not effecting anything.
    I:"Max Breeding Flowers"=2
}


