#Main configuration of NEI.
#Most of these options can be changed ingame.
#Deleting any element will restore it to it's default value

checkUpdates=true
inventory.cheatmode=0
inventory.gamemodes=creative, creative+, adventure
inventory.hidden=false
inventory.itemIDs=1
inventory.itemsort=nei.itemsort.minecraft,nei.itemsort.mod,nei.itemsort.id,nei.itemsort.default,nei.itemsort.damage,nei.itemsort.name
inventory.layoutstyle=0
#For those who can't help themselves.
#Set this to a mode and you will be unable to change it ingame
inventory.lockmode=-1
inventory.oredict=false
inventory.profileRecipes=false
inventory.searchmode=1
inventory.utilities=delete, magnet
inventory.widgetsenabled=true
keys.gui.back=14
keys.gui.enchant=45
keys.gui.hide=24
keys.gui.next=209
keys.gui.potion=25
keys.gui.prev=201
keys.gui.recipe=19
keys.gui.search=33
keys.gui.usage=22
keys.gui.xu_ping=20
keys.showenchant=23
keys.world.chunkoverlay=67
keys.world.creative=0
keys.world.dawn=0
keys.world.dusk=0
keys.world.heal=0
keys.world.highlight_tips=0
keys.world.midnight=0
keys.world.moboverlay=65
keys.world.noon=0
keys.world.rain=0
world.highlight_tips=false
world.highlight_tips.x=5000
world.highlight_tips.y=100

#Change these options if you have a different mod installed on the server that handles the commands differently, Eg. Bukkit Essentials
command
{
	creative=/gamemode {0} {1}
	heal=
	item=/give {0} {1} {2} {3} {4}
	rain=/toggledownfall
	time=/time set {0}
}
