#Main configuration of NEI.
#Most of these options can be changed ingame.
#Deleting any element will restore it to it's default value

checkUpdates=false
findFuelsParallel=false
inventory.autocrafting=true
inventory.cheatmode=0
inventory.disableMouseScrollTransfer=false
inventory.gamemodes=creative, creative+, adventure
inventory.gridRenderingCacheFPS=8
inventory.gridRenderingCacheMode=0
inventory.hidden=false
inventory.hotkeysHelpText=true
inventory.invertMouseScrollTransfer=false
inventory.itemIDs=0
inventory.itempanelScale=100
inventory.itemsort=nei.itemsort.minecraft,nei.itemsort.mod,nei.itemsort.id,nei.itemsort.default,nei.itemsort.damage,nei.itemsort.name
#For those who can't help themselves.
#Set this to a mode and you will be unable to change it ingame
inventory.lockmode=-1
#Optimize computation for GUI overlap
inventory.optimize_gui_overlap_computation=false
inventory.oredict=false
#Show Item Quantity Widget
inventory.showItemQuantityWidget=true
inventory.utilities=delete, magnet
inventory.widgetsenabled=true

inventory.bookmarks
{
	#REI Style Animation in Bookmarks
	animation=true
	#Enable/Disable Bookmark Panel
	enabled=true
	#Ignore overlap with potion effect HUD
	ignorePotionOverlap=false
	recipeChainDir=1
	#Show recipe tooltips in Bookmarks
	recipeTooltipsMode=1
	#Show Recipe Marker
	showRecipeMarkerMode=0
	#Global or world specific bookmarks
	worldSpecific=false
}

inventory.collapsibleItems
{
	#Color of the collapsible item collapsed state
	collapsedColor=0x335555ee
	customName=true
	enabled=true
	#Color of the collapsible item expanded state
	expandedColor=0x335555ee
}

inventory.favorites
{
	#Bookmark creation depth
	depth=3
	enabled=true
	#Show recipe tooltips in Items Panel
	showRecipeTooltip=true
	#Global or world specific favorites
	worldSpecific=false
}

inventory.guirecipe
{
	#Creative or JEI style tabs
	creativeTabStyle=false
	#Show cycled ingredients tooltip
	cycledIngredientsTooltip=true
	#Item presence overlay on ?-hover
	itemPresenceOverlay=1
	#JEI styled cycled ingredients
	jeiStyleCycledIngredients=true
	#Enable/disable JEI Style Recipe Catalysts
	jeiStyleRecipeCatalyst=true
	#Enable/disable JEI Style Tabs
	jeiStyleTabs=true
	profile=false
	#Require holding shift to move items when overlaying recipe
	shiftOverlayRecipe=true
	#Highlight Present Item
	slotHighlightPresent=true
}

inventory.history
{
	#Enable/disable History Panel
	enabled=true
	#Color of the history area display
	historyColor=0xee555555
	splittingMode=1
	#Rows used in historical areas
	useRows=2
}

inventory.itemzoom
{
	enabled=true
	#Display name "Item Zoom" and the hotkey to toggle this mod below the zoomed item.
	helpText=true
	nameColor=0xffffffff
	#Zoom items only from the JEI ingredient and bookmark list overlays.
	neiOnly=false
	onlySolid=false
	showName=true
	zoom=500
}

inventory.search
{
	#Search Format (true: old format, false: custom format)
	format=false
	#Hide Items Until Searching
	hideUntilSearching=false
	#Search mode for identifier (prefix: &)
	identifierSearchMode=0
	#Search mode for Mod Names (prefix: @)
	modNameSearchMode=1
	#Search mode for Tag Names (prefix: $)
	oreDictSearchMode=0
	#Search Mode
	patternMode=1
	#Redefine search prefixes by providing a char-to-char map (JSON). The keys are the original prefixes, the values the new ones. Example: { "$": "€", "#": "+", "@": "°", "%": "!" }
	prefixRedefinitions={}
	#Quote Drop Item Name
	quoteDropItemName=true
	#Search Space Rules
	spaceMode=0
	#Search mode for Item Subsets (prefix: %)
	subsetsSearchMode=1
	#Search mode for Tooltips (prefix: #)
	tooltipSearchMode=0
	#Focus Search Widget on Open, blurs/unfocuses on mouse move unless typing has started first
	widgetAutofocus=0
	#Widget Position
	widgetPosition=true
}

inventory.subsets
{
	#Enable/disable Subsets Dropdown
	enabled=true
	#Subsets Widget Position
	widgetPosition=true
}
itemLoadingTimeout=500
keys.gui.back=14
keys.gui.bookmark=30
keys.gui.bookmark_pull_items=47
keys.gui.botania_corporea_request=46
keys.gui.copy_name=33554478
keys.gui.copy_oredict=33554464
keys.gui.craft=67108910
keys.gui.enchant=0
keys.gui.findit=21
keys.gui.findit.find_block=21
keys.gui.getnextsearch=208
keys.gui.getprevioussearch=200
keys.gui.hide=24
keys.gui.hide_bookmarks=48
keys.gui.itemzoom_hold=0
keys.gui.itemzoom_toggle=67108908
keys.gui.itemzoom_zoom_in=0
keys.gui.itemzoom_zoom_out=0
keys.gui.next=209
keys.gui.next_machine=208
keys.gui.next_recipe=205
keys.gui.next_tooltip=44
keys.gui.overlay=31
keys.gui.potion=0
keys.gui.prev=201
keys.gui.prev_machine=200
keys.gui.prev_recipe=203
keys.gui.recipe=19
keys.gui.remove_recipe=67108894
keys.gui.search=33
keys.gui.tinkers_belt=0
keys.gui.usage=22
keys.gui.xu_ping=20
keys.nee.count=29
keys.nee.ingredient=42
keys.nee.nopreview=56
keys.nee.preview=29
keys.showenchant=23
keys.world.chunkoverlay=67
keys.world.creative=0
keys.world.dawn=0
keys.world.dusk=0
keys.world.heal=0
keys.world.highlight_tips=0
keys.world.midnight=0
keys.world.moboverlay=65
keys.world.noon=0
keys.world.rain=0
loadPluginsInParallel=true
#ADVANCED: Load catalysts from config
tools.catalyst_load_from_config=false
#ADVANCED: Load handlers from config
tools.handler_load_from_config=false
world.highlight_tips=false
world.highlight_tips.x=5000
world.highlight_tips.y=100
world.overlays.lock=true
world.panels.bookmarks.bottom=0
world.panels.bookmarks.left=0
world.panels.bookmarks.right=0
world.panels.bookmarks.top=0
world.panels.items.bottom=0
world.panels.items.left=0
world.panels.items.right=0
world.panels.items.top=0

#Change these options if you have a different mod installed on the server that handles the commands differently, Eg. Bukkit Essentials
command
{
	creative=gamemode {0} {1}
	heal=
	item=give {0} {1} {2} {3} {4}
	rain=toggledownfall
	time=time set {0}
}
