# Each line in this file should either be a comment (line starts with '#'), or guiContainer class name.
# Et-Futurum-Requiem
ganymedes01.etfuturum.client.gui.inventory.GuiBarrel
ganymedes01.etfuturum.client.gui.inventory.GuiShulkerBox