# Hidden Items Filters
#
# parts:
# modname:itemid    - identify
# $orename          - ore dictionary
# tag.color=red     - tag
# 0 or 0-12         - damage
#
# modifiers:
# ! - logical not. exclude items that match the following expression (!minecraft:portal)
# r/.../ - standard java regex (r/^m\w{6}ft$/ = minecraft)
# , - logical or in token (minecraft:potion 16384-16462,!16386)
# | - logical or multi-item search (wrench|hammer)
#
# example: minecraft:potion 16384-16462,!16386 | $oreiron | tag.color=red
#
minecraft:portal
minecraft:end_portal
r/minecraft:fire$/
r/minecraft:water$/
r/minecraft:lava$/
minecraft:mob_spawner
minecraft:anvil !0
minecraft:flowing_water
minecraft:flowing_lava

WitchingGadgets:item.WG_CrystalFlask
appliedenergistics2:item.ItemFacade !tag.itemname="stone" | appliedenergistics2:item.ItemFacade !tag.modid="minecraft"
transport:pipeFacade !tag.states.0.block="minecraft:stone"
ExtraUtilities:drum !tag.Fluid=
ExtraUtilities:microblocks !tag.mat="minecraft:stone"
ForgeMicroblock:microblock !tag.mat="minecraft:stone"

r/^Genetics:serum$/ !tag.gene.allele=forestry.speciesForest
r/^Genetics:serumArray$/ !tag.genes.0.allele=forestry.speciesForest
GraviSuite:itemPlasmaCell
TConstruct:fluid.molten.
tectech:item.em.debugContainer

# IC2 Dusts
IC2:itemDust  0 # Bronze
IC2:itemDust  1 # Clay
IC2:itemDust  2 # Coal
IC2:itemDust  3 # Copper
IC2:itemDust  4 # Gold
IC2:itemDust  5 # Iron
IC2:itemDust  6 # Silver
IC2:itemDust  7 # Tin
IC2:itemDust  8 # Hydrated Coal
IC2:itemDust  9 # Stone
IC2:itemDust 10 # Lead
IC2:itemDust 11 # Obsidian
IC2:itemDust 12 # Lapis Lazuli
IC2:itemDust 13 # Sulfur
IC2:itemDust 14 # Lithium

# IC2 Dusts (2)
IC2:itemDust2 0 # Silicon Dioxide
IC2:itemDust2 1 # Diamond
IC2:itemDust2 3 # Ashes

# IC2 Plates
IC2:itemPlates 0 # Copper
IC2:itemPlates 1 # Tin
IC2:itemPlates 2 # Bronze
IC2:itemPlates 3 # Gold
IC2:itemPlates 4 # Iron
IC2:itemPlates 5 # Steel
IC2:itemPlates 6 # Lead
IC2:itemPlates 7 # Obsidian
IC2:itemPlates 8 # Lapis Lazuli

# IC2 Dense Plates
IC2:itemDensePlates 0 # Copper
IC2:itemDensePlates 1 # Tin
IC2:itemDensePlates 2 # Bronze
IC2:itemDensePlates 3 # Gold
IC2:itemDensePlates 4 # Iron
IC2:itemDensePlates 5 # Steel
IC2:itemDensePlates 6 # Lead
#IC2:itemDensePlates 7 # Obsidian is still used in recipes
IC2:itemDensePlates 8 # Lapis Lazuli

# IC2 Ingots
IC2:itemIngot 0 # Copper
IC2:itemIngot 1 # Tin
IC2:itemIngot 2 # Bronze
IC2:itemIngot 3 # Refined Iron
#IC2:itemIngot 4 # Mixed Metal is still used in recipes
IC2:itemIngot 5 # Lead
IC2:itemIngot 6 # Silver

# IC2 Item Casings
IC2:itemCasing 0 # Copper
IC2:itemCasing 1 # Tin
IC2:itemCasing 2 # Bronze
IC2:itemCasing 3 # Gold
IC2:itemCasing 4 # Iron
IC2:itemCasing 5 # Steel
IC2:itemCasing 6 # Lead

# Project Red Ingots
ProjRed|Core:projectred.core.part 10 # Red Alloy
ProjRed|Core:projectred.core.part 52 # Copper
ProjRed|Core:projectred.core.part 53 # Tin
ProjRed|Core:projectred.core.part 54 # Silver

# Tinker's Construct Ingots
TConstruct:materials  9 # Copper
TConstruct:materials 10 # Tin
TConstruct:materials 11 # Aluminum
TConstruct:materials 16 # Steel

# EnderIO Powders
EnderIO:itemPowderIngot 0 # Coal
EnderIO:itemPowderIngot 1 # Iron
EnderIO:itemPowderIngot 2 # Gold
EnderIO:itemPowderIngot 3 # Copper
EnderIO:itemPowderIngot 4 # Tin
EnderIO:itemPowderIngot 7 # Obsidian
EnderIO:itemPowderIngot 8 # Flour

# Amun-Ra Ingots
GalacticraftAmunRa:item.baseItem 10 # Lead
GalacticraftAmunRa:item.baseItem 12 # Steel
