# Configuration file

client {

    ##########################################################################################################
    # colormodulation
    #--------------------------------------------------------------------------------------------------------#
    # Color Modulation section
    ##########################################################################################################

    colormodulation {

        ##########################################################################################################
        # cableinsulation
        #--------------------------------------------------------------------------------------------------------#
        # RGB values for the cable insulation color modulation.
        ##########################################################################################################

        cableinsulation {
            #  [range: -2147483648 ~ 2147483647, default: 64]
            I:blue=64

            #  [range: -2147483648 ~ 2147483647, default: 64]
            I:green=64

            #  [range: -2147483648 ~ 2147483647, default: 64]
            I:red=64
        }

        ##########################################################################################################
        # constructionfoam
        #--------------------------------------------------------------------------------------------------------#
        # RGB values for the construction foam color modulation.
        ##########################################################################################################

        constructionfoam {
            #  [range: -2147483648 ~ 2147483647, default: 64]
            I:blue=64

            #  [range: -2147483648 ~ 2147483647, default: 64]
            I:green=64

            #  [range: -2147483648 ~ 2147483647, default: 64]
            I:red=64
        }

        ##########################################################################################################
        # machinemetal
        #--------------------------------------------------------------------------------------------------------#
        # RGB values for the machine metal color modulation (default GUI color).
        ##########################################################################################################

        machinemetal {
            #  [range: -2147483648 ~ 2147483647, default: 255]
            I:blue=255

            #  [range: -2147483648 ~ 2147483647, default: 220]
            I:green=220

            #  [range: -2147483648 ~ 2147483647, default: 210]
            I:red=210
        }

    }

    ##########################################################################################################
    # iface
    #--------------------------------------------------------------------------------------------------------#
    # Interface section
    ##########################################################################################################

    iface {
        # if true, puts the cover tabs display on the right of the UI instead of the left. [default: false]
        B:coverTabsFlipped=false

        # if true, makes cover tabs visible on GregTech machines. [default: true]
        B:coverTabsVisible=true

        # Which style should tooltip separator lines have? 0: empty line, 1: dashed line, 2+: continuous line. [range: -2147483648 ~ 2147483647, default: 2]
        I:separatorStyle=2

        # Which style to use for title tab on machine GUI? 0: text tab split-dark, 1: text tab unified, 2: item icon tab. [range: -2147483648 ~ 2147483647, default: 0]
        I:titleTabStyle=0

        # Which style should tooltip finisher separator lines have? 0: no line, 1: empty line, 2: dashed line, 3+: continuous line. [range: -2147483648 ~ 2147483647, default: 3]
        I:tooltipFinisherStyle=3

        # How verbose should tooltips be when LSHIFT is held? 0: disabled, 1: one-line, 2: normal, 3+: extended. [range: -2147483648 ~ 2147483647, default: 3]
        I:tooltipShiftVerbosity=3

        # How verbose should tooltips be? 0: disabled, 1: one-line, 2: normal, 3+: extended. [range: -2147483648 ~ 2147483647, default: 2]
        I:tooltipVerbosity=2
    }

    ##########################################################################################################
    # preference
    #--------------------------------------------------------------------------------------------------------#
    # Preference section
    ##########################################################################################################

    preference {
        # if true, input filter will initially be on when input buses are placed in the world. [default: false]
        B:inputBusInitialFilter=false

        # If true, scrolling up while hovering a ghost circuit in a machine UI will increment the circuit number. [default: false]
        B:invertCircuitScrollDirection=false

        # Overrides the MC total playable sounds limit. MC's default is 28, which causes problems with many machine sounds at once
        # If sounds are causing large amounts of lag, try lowering this.
        # If sounds are not working at all, try setting this to the lowest value (28).
        # Default: 512 [range: 28 ~ 2048, default: 512]
        I:maxNumSounds=512

        # if true, allow multistacks on single blocks by default when they are first placed in the world. [default: false]
        B:singleBlockInitialAllowMultiStack=false

        # if true, input filter will initially be on when machines are placed in the world. [default: false]
        B:singleBlockInitialFilter=false
    }

    ##########################################################################################################
    # render
    #--------------------------------------------------------------------------------------------------------#
    # Render section
    ##########################################################################################################

    render {
        # Disables coil lighting. Requires world reload (f3 + a or relog). [default: false]
        B:"Use Old Coil Textures"=false

        # if true, enables dirt particles when pollution reaches the threshold. [default: true]
        B:renderDirtParticles=true

        # if true, render flipped machine with flipped textures. [default: true]
        B:renderFlippedMachinesFlipped=true

        # if true, enables glowing of the machine controllers. [default: true]
        B:renderGlowTextures=true

        # if true, render indicators on hatches. [default: true]
        B:renderIndicatorsOnHatch=true

        # if true, enables the blue charge bar for an electric item's charge. [default: true]
        B:renderItemChargeBar=true

        # if true, enables the green -> red durability for an item's damage value. [default: true]
        B:renderItemDurabilityBar=true

        # if true, enables pollution fog when pollution reaches the threshold. [default: true]
        B:renderPollutionFog=true

        # if true, enables ambient-occlusion smooth lighting on tiles. [default: true]
        B:renderTileAmbientOcclusion=true

        # enables BaseMetaTileEntity block updates handled by BlockUpdateHandler. [default: false]
        B:useBlockUpdateHandler=false
    }

    ##########################################################################################################
    # waila
    #--------------------------------------------------------------------------------------------------------#
    # Waila section
    ##########################################################################################################

    waila {
        # if true, enables showing voltage tier of transformer for Waila, instead of raw voltage number. [default: false]
        B:wailaAverageNS=false

        # if true, enables showing voltage tier of transformer for Waila, instead of raw voltage number. [default: true]
        B:wailaTransformerVoltageTier=true
    }

    ##########################################################################################################
    # nei
    #--------------------------------------------------------------------------------------------------------#
    # NEI section
    ##########################################################################################################

    nei {
        # if true, show original voltage when overclocked. [default: false]
        B:NEIOriginalVoltage=false

        # if true, shows the mod which added the recipe. [default: false]
        B:NEIRecipeOwner=false

        # if true, show the stacktrace related to the recipe addition. [default: false]
        B:NEIRecipeOwnerStackTrace=false

        # if true, shows the recipes using seconds (as opposed to ticks). [default: true]
        B:NEIRecipeSecondMode=true

        ##########################################################################################################
        # recipecategories
        #--------------------------------------------------------------------------------------------------------#
        # Recipe category section
        ##########################################################################################################

        recipecategories {
            # 
            # Possible values: [ENABLE, MERGE, HIDE]
            #  [default: ENABLE]
            S:absNonAlloyRecipes=ENABLE

            # 
            # Possible values: [ENABLE, MERGE, HIDE]
            #  [default: ENABLE]
            S:alloySmelterMolding=ENABLE

            # 
            # Possible values: [ENABLE, MERGE, HIDE]
            #  [default: ENABLE]
            S:alloySmelterRecycling=ENABLE

            # 
            # Possible values: [ENABLE, MERGE, HIDE]
            #  [default: ENABLE]
            S:arcFurnaceRecycling=ENABLE

            # 
            # Possible values: [ENABLE, MERGE, HIDE]
            #  [default: ENABLE]
            S:fluidExtractorRecycling=ENABLE

            # 
            # Possible values: [ENABLE, MERGE, HIDE]
            #  [default: ENABLE]
            S:forgeHammerRecycling=ENABLE

            # 
            # Possible values: [ENABLE, MERGE, HIDE]
            #  [default: ENABLE]
            S:maceratorRecycling=ENABLE

            # 
            # Possible values: [ENABLE, MERGE, HIDE]
            #  [default: ENABLE]
            S:ticBoltMolding=ENABLE

            # 
            # Possible values: [ENABLE, MERGE, HIDE]
            #  [default: ENABLE]
            S:ticPartExtruding=ENABLE
        }

    }

}


