# Configuration file

machineconfig {
    I:DieselGenerator.efficiency.tier.0_100=100
    I:DieselGenerator.efficiency.tier.1_90=90
    I:DieselGenerator.efficiency.tier.2_80=80
    I:DieselGenerator.efficiency.tier.3_70=70
    I:GasTurbine.efficiency.tier.0_100=100
    I:GasTurbine.efficiency.tier.1_90=90
    I:GasTurbine.efficiency.tier.2_80=80
    I:GasTurbine.efficiency.tier.3_70=70
    I:MagicEnergyConverter.efficiency.tier.0_100=100
    I:MagicEnergyConverter.efficiency.tier.1_90=90
    I:MagicEnergyConverter.efficiency.tier.2_80=80
    I:MagicEnergyConverter.efficiency.tier.3_70=70
    B:Massfabricator.UUA_Requirement_false=false
    I:Massfabricator.UUA_Speed_Bonus_4=4
    I:Massfabricator.UUA_per_UUM_1=1
    I:Massfabricator.UUM_Duration_Multiplier_3215=3215
    I:PlasmaGenerator.efficiency.tier.0_-75=-75
    I:PlasmaGenerator.efficiency.tier.5_50=50
    I:PlasmaGenerator.efficiency.tier.6_75=75
    I:PlasmaGenerator.efficiency.tier.7_100=100
    I:SteamTurbine.efficiency.tier.0_100=100
    I:SteamTurbine.efficiency.tier.1_66=66
    I:SteamTurbine.efficiency.tier.2_50=50
    I:SteamTurbine.efficiency.tier.3_40=40
}


