# Configuration file

machine_stats {

    ##########################################################################################################
    # bronzesolarboiler
    #--------------------------------------------------------------------------------------------------------#
    # Bronze solar boiler section
    ##########################################################################################################

    bronzesolarboiler {
        # Number of run-time ticks before boiler starts calcification.
        # 100% calcification and minimal output will be reached at 2 times this. [range: -2147483648 ~ 2147483647, default: 1080000]
        I:calcificationTicks=1080000

        # Number of ticks it takes to lose 1°C. [range: -2147483648 ~ 2147483647, default: 45]
        I:cooldownTicks=45

        #  [range: -2147483648 ~ 2147483647, default: 120]
        I:maxOutputPerSecond=120

        #  [range: -2147483648 ~ 2147483647, default: 40]
        I:minOutputPerSecond=40
    }

    ##########################################################################################################
    # steelsolarboiler
    #--------------------------------------------------------------------------------------------------------#
    # Steel solar boiler section
    ##########################################################################################################

    steelsolarboiler {
        # Number of run-time ticks before boiler starts calcification.
        # 100% calcification and minimal output will be reached at 2 times this. [range: -2147483648 ~ 2147483647, default: 1080000]
        I:calcificationTicks=1080000

        # Number of ticks it takes to lose 1°C. [range: -2147483648 ~ 2147483647, default: 75]
        I:cooldownTicks=75

        #  [range: -2147483648 ~ 2147483647, default: 360]
        I:maxOutputPerSecond=360

        #  [range: -2147483648 ~ 2147483647, default: 120]
        I:minOutputPerSecond=120
    }

    ##########################################################################################################
    # machines
    #--------------------------------------------------------------------------------------------------------#
    # Machines section
    ##########################################################################################################

    machines {
        # If true, allows for multiple eggs on the magical energy absorber. [default: true]
        B:allowMultipleEggs=true

        # Controls the damageFactorHigh variable in the maintenance damage equation. [range: 1.4E-45 ~ 3.4028235E38, default: 0.6]
        S:damageFactorHigh=0.6

        # Controls the damageFactorLow variable in the maintenance damage equation. [range: -2147483648 ~ 2147483647, default: 5]
        I:damageFactorLow=5

        # if true, disable maintenance checks. [default: false]
        B:disableMaintenanceChecks=false

        # If true, requires at least a free face to open a machine gui. [default: false]
        B:forceFreeFace=false
    }

    ##########################################################################################################
    # massfabricator
    #--------------------------------------------------------------------------------------------------------#
    # Mass fabricator section
    ##########################################################################################################

    massfabricator {
        # mb of UUA per UUM. [range: -2147483648 ~ 2147483647, default: 1]
        I:UUAPerUUM=1

        # Speed bonus delivered by the UUA. [range: -2147483648 ~ 2147483647, default: 4]
        I:UUASpeedBonus=4

        # Duration multiplier. [range: -2147483648 ~ 2147483647, default: 3215]
        I:durationMultiplier=3215

        # if true, requires UUA to run the mass fab. [default: false]
        B:requiresUUA=false
    }

    ##########################################################################################################
    # microwaveenergytransmitter
    #--------------------------------------------------------------------------------------------------------#
    # Microwave energy transmitter section
    ##########################################################################################################

    microwaveenergytransmitter {
        # max loss. [range: -2147483648 ~ 2147483647, default: 50]
        I:maxLoss=50

        # max loss distance. [range: -2147483648 ~ 2147483647, default: 10000]
        I:maxLossDistance=10000

        # if true, it has a passive energy loss. [default: true]
        B:passiveEnergyUse=true
    }

    ##########################################################################################################
    # teleporter
    #--------------------------------------------------------------------------------------------------------#
    # Teleporter section
    ##########################################################################################################

    teleporter {
        # if true, allows interdim tp [default: true]
        B:interDimensionalTPAllowed=true

        # passive energy loss. [range: -2147483648 ~ 2147483647, default: 2048]
        I:passiveEnergyDrain=2048

        # power multiplier. [range: -2147483648 ~ 2147483647, default: 100]
        I:powerMultiplier=100
    }

    ##########################################################################################################
    # cleanroom
    #--------------------------------------------------------------------------------------------------------#
    # Cleanroom section
    ##########################################################################################################

    cleanroom {
        # List of other blocks allowed as a part of the cleanroom. Format: <block name> or <block name>:<meta>. [default: [BW_GlasBlocks], [tile.openblocks.elevator], [tile.openblocks.elevator_rotating], [tile.blockTravelAnchor], [tile.blockCosmeticOpaque:2], [tile.extrautils:etherealglass]]
        S:allowedBlocks <
            BW_GlasBlocks
            tile.openblocks.elevator
            tile.openblocks.elevator_rotating
            tile.blockTravelAnchor
            tile.blockCosmeticOpaque:2
            tile.extrautils:etherealglass
         >

        # Maximum percentage of plascrete blocks which can be replaced by other valid blocks: glass, doors, hatches, etc. [range: 0 ~ 100, default: 30]
        I:maxReplacementPercentage=30

        # Minimum number of plascrete blocks in a valid cleanroom. [range: 0 ~ 2147483647, default: 20]
        I:minCasingCount=20
    }

}


