# Configuration file

general {
    # How much pipes you can chain wrench to disable their input. [range: -2147483648 ~ 2147483647, default: 64]
    I:pipeWrenchingChainRange=64

    # How much blocks you can chain paint with GT spray cans. [range: -2147483648 ~ 2147483647, default: 64]
    I:sprayCanChainRange=64

    # How much blocks you can paint with GT spray cans. [range: -2147483648 ~ 2147483647, default: 512]
    I:sprayCanUses=512
}


