# Configuration file

op_stuff {
    # If true, machines will explode if RFs injected to a GT machine are above 600 * the max energy they can store. [default: false]
    B:RFExplosions=false

    # How much EU you get with 100 RF in input. [range: -2147483648 ~ 2147483647, default: 100]
    I:howMuchEUWith100RFInInput=100

    # How much RF you get with 100 EU in input. [range: -2147483648 ~ 2147483647, default: 360]
    I:howMuchRFWith100EUInInput=360

    # if true, ignores TinkerConstruct in ore registration. [default: true]
    B:ignoreTinkerConstruct=true

    # if true, enables RF -> EU conversion. [default: false]
    B:inputRF=false

    # if true, enables EU -> RF conversion. [default: true]
    B:outputRF=true

    # Controls the exposant used in the computation of the UUM required to replicate an element (uum = mass^replicatorExponent) [range: 1.4E-45 ~ 3.4028235E38, default: 1.2]
    S:replicatorExponent=1.2
}


