# Configuration file

pollution {
    # if true, enables pollution in the game. [default: true]
    B:"Activate Pollution"=true

    # Pollution Amount for Advanced Coke Ovens [range: -2147483648 ~ 2147483647, default: 80]
    I:advancedCokeOvenPollutionAmount=80

    # maximum base pollution rate in gibbl/s for the single block rocket engines [range: -2147483648 ~ 2147483647, default: 2000]
    I:baseMaxPollutionPerSecondRocketFuelGenerator=2000

    # minimum base pollution rate in gibbl/s for the single block rocket engines [range: -2147483648 ~ 2147483647, default: 250]
    I:baseMinPollutionPerSecondRocketFuelGenerator=250

    # How much should the MBF produce pollution per tick per ingot. Then it'll be multiplied by the amount of ingots done in parallel [range: -2147483648 ~ 2147483647, default: 400]
    I:basePollutionMBFSecond=400

    # base pollution rate in gibbl/s for the single block boilers [range: -2147483648 ~ 2147483647, default: 35]
    I:basePollutionPerSecondBoiler=35

    # base pollution rate in gibbl/s for the geothermal engines [range: -2147483648 ~ 2147483647, default: 100]
    I:basePollutionPerSecondGeothermalGenerator=100

    # base pollution rate in gibbl/s for the single block semi fluid generators [range: -2147483648 ~ 2147483647, default: 40]
    I:basePollutionPerSecondSemiFluidGenerator=40

    # Pollution Amount for Coke Ovens [range: -2147483648 ~ 2147483647, default: 10]
    I:cokeOvenPollutionAmount=10

    # Explosion pollution [range: 1.4E-45 ~ 3.4028235E38, default: 333.34]
    S:explosionPollutionAmount=333.34

    # Pollution Amount for RC Firebox [range: -2147483648 ~ 2147483647, default: 20]
    I:fireboxPollutionAmount=20

    # Furnace pollution per second, min 1! [range: -2147483648 ~ 2147483647, default: 20]
    I:furnacePollutionAmount=20

    # Make furnaces Pollute [default: true]
    B:furnacesPollute=true

    # Pollution Amount for hobbyist steam engine [range: -2147483648 ~ 2147483647, default: 20]
    I:hobbyistEnginePollutionAmount=20

    # Controls the pollution released per second by the base diesel generator. [range: -2147483648 ~ 2147483647, default: 40]
    I:pollutionBaseDieselGeneratorPerSecond=40

    # Controls the pollution released per second by the base gas turbine. [range: -2147483648 ~ 2147483647, default: 40]
    I:pollutionBaseGasTurbinePerSecond=40

    # Changes colors of certain blocks based on pollution levels [default: true]
    B:pollutionBlockRecolor=true

    # Controls the pollution released per second by the charcoal pile igniter. [range: -2147483648 ~ 2147483647, default: 100]
    I:pollutionCharcoalPitPerSecond=100

    # Pollution released by tier, with the following formula: PollutionBaseDieselGeneratorPerSecond * PollutionDieselGeneratorReleasedByTier[Tier]
    # The first entry has meaning as it is here to since machine tier with array index: LV is 1, etc. [default: [0.1, 1.0, 0.9, 0.8]]
    D:pollutionDieselGeneratorReleasedByTier <
        0.1
        1.0
        0.9
        0.8
     >

    # Controls the pollution released per second by the EBF. [range: -2147483648 ~ 2147483647, default: 400]
    I:pollutionEBFPerSecond=400

    # Controls the pollution released per second by the extreme combustion engine. [range: -2147483648 ~ 2147483647, default: 3840]
    I:pollutionExtremeCombustionEnginePerSecond=3840

    # Pollution released by tier, with the following formula: PollutionBaseGasTurbinePerSecond * PollutionGasTurbineReleasedByTier[Tier]
    # The first entry has meaning as it is here to since machine tier with array index: LV is 1, etc. [default: [0.1, 1.0, 0.9, 0.8, 0.7, 0.6]]
    D:pollutionGasTurbineReleasedByTier <
        0.1
        1.0
        0.9
        0.8
        0.7
        0.6
     >

    # How much should the Simple Stirling Water Pump produce pollution per second [range: -2147483648 ~ 2147483647, default: 5]
    I:pollutionHeatedWaterPumpSecond=5

    # Controls the pollution released per second by the high pressure coil boiler. [range: -2147483648 ~ 2147483647, default: 30]
    I:pollutionHighPressureCoalBoilerPerSecond=30

    # Controls the pollution released per second by the high pressure lava boiler. [range: -2147483648 ~ 2147483647, default: 20]
    I:pollutionHighPressureLavaBoilerPerSecond=20

    # Controls the pollution released per second by the implosion compressor. [range: -2147483648 ~ 2147483647, default: 10000]
    I:pollutionImplosionCompressorPerSecond=10000

    # Controls the pollution released per second by the large bronze boiler. [range: -2147483648 ~ 2147483647, default: 200]
    I:pollutionLargeBronzeBoilerPerSecond=200

    # Controls the pollution released per second by the large combustion engine. [range: -2147483648 ~ 2147483647, default: 480]
    I:pollutionLargeCombustionEnginePerSecond=480

    # Controls the pollution released per second by the large gas turbine. [range: -2147483648 ~ 2147483647, default: 300]
    I:pollutionLargeGasTurbinePerSecond=300

    # Controls the pollution released per second by the large steel boiler. [range: -2147483648 ~ 2147483647, default: 400]
    I:pollutionLargeSteelBoilerPerSecond=400

    # Controls the pollution released per second by the large titanium boiler. [range: -2147483648 ~ 2147483647, default: 800]
    I:pollutionLargeTitaniumBoilerPerSecond=800

    # Controls the pollution released per second by the large tungstensteel boiler. [range: -2147483648 ~ 2147483647, default: 1600]
    I:pollutionLargeTungstenSteelBoilerPerSecond=1600

    # Controls the pollution released per second by the multi smelter. [range: -2147483648 ~ 2147483647, default: 400]
    I:pollutionMultiSmelterPerSecond=400

    # Controls the pollution released by an explosion. [range: -2147483648 ~ 2147483647, default: 100000]
    I:pollutionOnExplosion=100000

    # pollution rate in gibbl/s for the Elemental Duplicator [range: -2147483648 ~ 2147483647, default: 1000]
    I:pollutionPerSecondElementalDuplicator=1000

    # pollution rate in gibbl/s for the Alloy blast furnace [range: -2147483648 ~ 2147483647, default: 200]
    I:pollutionPerSecondMultiABS=200

    # pollution rate in gibbl/s for the Dangote distillus in distillation tower mode [range: -2147483648 ~ 2147483647, default: 480]
    I:pollutionPerSecondMultiAdvDistillationTower_ModeDT=480

    # pollution rate in gibbl/s for the Dangote distillus in distillery mode [range: -2147483648 ~ 2147483647, default: 240]
    I:pollutionPerSecondMultiAdvDistillationTower_ModeDistillery=240

    # pollution rate in gibbl/s for the Volcanus [range: -2147483648 ~ 2147483647, default: 500]
    I:pollutionPerSecondMultiAdvEBF=500

    # pollution rate in gibbl/s for the Density^2 [range: -2147483648 ~ 2147483647, default: 5000]
    I:pollutionPerSecondMultiAdvImplosion=5000

    # pollution rate in gibbl/s for the Algae farm [range: -2147483648 ~ 2147483647, default: 0]
    I:pollutionPerSecondMultiAlgaePond=0

    # pollution rate in gibbl/s for the Large-Scale auto assembler v1.01 [range: -2147483648 ~ 2147483647, default: 500]
    I:pollutionPerSecondMultiAutoCrafter=500

    # pollution rate in gibbl/s for the Flotation cell regulator [range: -2147483648 ~ 2147483647, default: 0]
    I:pollutionPerSecondMultiFrothFlotationCell=0

    # pollution rate in gibbl/s for the Alloy blast smelter [range: -2147483648 ~ 2147483647, default: 300]
    I:pollutionPerSecondMultiIndustrialAlloySmelter=300

    # pollution rate in gibbl/s for the High current arc furnace [range: -2147483648 ~ 2147483647, default: 2400]
    I:pollutionPerSecondMultiIndustrialArcFurnace=2400

    # pollution rate in gibbl/s for the Industrial centrifuge [range: -2147483648 ~ 2147483647, default: 300]
    I:pollutionPerSecondMultiIndustrialCentrifuge=300

    # pollution rate in gibbl/s for the Industrial Chisel [range: -2147483648 ~ 2147483647, default: 50]
    I:pollutionPerSecondMultiIndustrialChisel=50

    # pollution rate in gibbl/s for the Industrial coke oven [range: -2147483648 ~ 2147483647, default: 80]
    I:pollutionPerSecondMultiIndustrialCokeOven=80

    # pollution rate in gibbl/s for the Cutting factory [range: -2147483648 ~ 2147483647, default: 160]
    I:pollutionPerSecondMultiIndustrialCuttingMachine=160

    # pollution rate in gibbl/s for the Utupu-Tanuri [range: -2147483648 ~ 2147483647, default: 500]
    I:pollutionPerSecondMultiIndustrialDehydrator=500

    # pollution rate in gibbl/s for the Industrial electrolyzer [range: -2147483648 ~ 2147483647, default: 300]
    I:pollutionPerSecondMultiIndustrialElectrolyzer=300

    # pollution rate in gibbl/s for the Industrial extrusion machine [range: -2147483648 ~ 2147483647, default: 1000]
    I:pollutionPerSecondMultiIndustrialExtruder=1000

    # pollution rate in gibbl/s for the Zuhai - fishing port [range: -2147483648 ~ 2147483647, default: 20]
    I:pollutionPerSecondMultiIndustrialFishingPond=20

    # pollution rate in gibbl/s for the Industrial fluid heater [range: -2147483648 ~ 2147483647, default: 1000]
    I:pollutionPerSecondMultiIndustrialFluidHeater=1000

    # pollution rate in gibbl/s for the Industrial Forge Hammer [range: -2147483648 ~ 2147483647, default: 250]
    I:pollutionPerSecondMultiIndustrialForgeHammer=250

    # pollution rate in gibbl/s for the Maceration stack [range: -2147483648 ~ 2147483647, default: 400]
    I:pollutionPerSecondMultiIndustrialMacerator=400

    # pollution rate in gibbl/s for the Industrial mixing machine [range: -2147483648 ~ 2147483647, default: 800]
    I:pollutionPerSecondMultiIndustrialMixer=800

    # pollution rate in gibbl/s for the Large processing factory in fluid mode [range: -2147483648 ~ 2147483647, default: 400]
    I:pollutionPerSecondMultiIndustrialMultiMachine_ModeFluid=400

    # pollution rate in gibbl/s for the Large processing factory in metal mode [range: -2147483648 ~ 2147483647, default: 400]
    I:pollutionPerSecondMultiIndustrialMultiMachine_ModeMetal=400

    # pollution rate in gibbl/s for the Large processing factory in misc mode [range: -2147483648 ~ 2147483647, default: 600]
    I:pollutionPerSecondMultiIndustrialMultiMachine_ModeMisc=600

    # pollution rate in gibbl/s for the Industrial material press in bending mode [range: -2147483648 ~ 2147483647, default: 480]
    I:pollutionPerSecondMultiIndustrialPlatePress_ModeBending=480

    # pollution rate in gibbl/s for the Industrial material press in forming mode [range: -2147483648 ~ 2147483647, default: 240]
    I:pollutionPerSecondMultiIndustrialPlatePress_ModeForming=240

    # pollution rate in gibbl/s for the Industrial Rock Breaker [range: -2147483648 ~ 2147483647, default: 100]
    I:pollutionPerSecondMultiIndustrialRockBreaker=100

    # pollution rate in gibbl/s for the Large Sifter [range: -2147483648 ~ 2147483647, default: 40]
    I:pollutionPerSecondMultiIndustrialSifter=40

    # pollution rate in gibbl/s for the Large thermal refinery [range: -2147483648 ~ 2147483647, default: 1000]
    I:pollutionPerSecondMultiIndustrialThermalCentrifuge=1000

    # pollution rate in gibbl/s for the Cryogenic freezer [range: -2147483648 ~ 2147483647, default: 500]
    I:pollutionPerSecondMultiIndustrialVacuumFreezer=500

    # pollution rate in gibbl/s for the Ore washing plant in chemical bath mode [range: -2147483648 ~ 2147483647, default: 400]
    I:pollutionPerSecondMultiIndustrialWashPlant_ModeChemBath=400

    # pollution rate in gibbl/s for the Ore washing plant in ore washer mode [range: -2147483648 ~ 2147483647, default: 100]
    I:pollutionPerSecondMultiIndustrialWashPlant_ModeWasher=100

    # pollution rate in gibbl/s for the Wire factory [range: -2147483648 ~ 2147483647, default: 100]
    I:pollutionPerSecondMultiIndustrialWireMill=100

    # pollution rate in gibbl/s for the IsaMill grinding machine [range: -2147483648 ~ 2147483647, default: 1280]
    I:pollutionPerSecondMultiIsaMill=1280

    # pollution rate in gibbl/s for the Large semifluid burner [range: -2147483648 ~ 2147483647, default: 1280]
    I:pollutionPerSecondMultiLargeSemiFluidGenerator=1280

    # pollution rate in gibbl/s for the Matter fabrication CPU [range: -2147483648 ~ 2147483647, default: 40]
    I:pollutionPerSecondMultiMassFabricator=40

    # pollution rate in gibbl/s for the Multiblock Molecular Transformer [range: -2147483648 ~ 2147483647, default: 1000]
    I:pollutionPerSecondMultiMolecularTransformer=1000

    # pollution rate in gibbl/s for the Amazon warehousing depot [range: -2147483648 ~ 2147483647, default: 40]
    I:pollutionPerSecondMultiPackager=40

    # pollution rate in gibbl/s for the Reactor fuel processing plant [range: -2147483648 ~ 2147483647, default: 4000]
    I:pollutionPerSecondMultiRefinery=4000

    # pollution rate in gibbl/s for the Thermal boiler [range: -2147483648 ~ 2147483647, default: 700]
    I:pollutionPerSecondMultiThermalBoiler=700

    # pollution rate in gibbl/s for the Tree growth simulator [range: -2147483648 ~ 2147483647, default: 100]
    I:pollutionPerSecondMultiTreeFarm=100

    # pollution rate in gibbl/s for the Nuclear salt processing plant [range: -2147483648 ~ 2147483647, default: 500]
    I:pollutionPerSecondNuclearSaltProcessingPlant=500

    # Controls the threshold starting from which players get poison effect. [range: -2147483648 ~ 2147483647, default: 750000]
    I:pollutionPoisonLimit=750000

    # Controls the pollution released per second by the bricked blast furnace. [range: -2147483648 ~ 2147483647, default: 200]
    I:pollutionPrimitveBlastFurnacePerSecond=200

    # Controls the pollution released per second by the pyrolyse oven. [range: -2147483648 ~ 2147483647, default: 300]
    I:pollutionPyrolyseOvenPerSecond=300

    # Controls the pollution reduction obtained with each increment of the circuit when throttling large boilers. [range: 1.4E-45 ~ 3.4028235E38, default: 0.041666668]
    S:pollutionReleasedByThrottle=0.041666668

    # coefficient applied to the base rate of the single block boilers based on its tier (first is tier 0 aka ULV) [default: [0.0, 1.0, 1.43, 1.86]]
    D:pollutionReleasedByTierBoiler <
        0.0
        1.0
        1.43
        1.86
     >

    # coefficient applied to the base rate of the single block geothermal engines based on its tier (first is tier 0 aka ULV) [default: [0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0]]
    D:pollutionReleasedByTierGeothermalGenerator <
        0.0
        0.0
        0.0
        0.0
        1.0
        1.0
        1.0
     >

    # coefficient applied to the base rate of the single block rocket engines based on its tier (first is tier 0 aka ULV) [default: [0.0, 0.0, 0.0, 0.0, 1.0, 2.0, 3.0]]
    D:pollutionReleasedByTierRocketFuelGenerator <
        0.0
        0.0
        0.0
        0.0
        1.0
        2.0
        3.0
     >

    # coefficient applied to the base rate of the single block semi fluid generators based on its tier (first is tier 0 aka ULV) [default: [0.0, 2.0, 4.0, 8.0, 12.0, 16.0]]
    D:pollutionReleasedByTierSemiFluidGenerator <
        0.0
        2.0
        4.0
        8.0
        12.0
        16.0
     >

    # Controls the pollution released per second by the small coil boiler. [range: -2147483648 ~ 2147483647, default: 20]
    I:pollutionSmallCoalBoilerPerSecond=20

    # Controls the threshold starting from which you can see fog. [range: -2147483648 ~ 2147483647, default: 550000]
    I:pollutionSmogLimit=550000

    # Controls the threshold starting from which if it rains, will turn cobblestone into gravel and gravel into sand. [range: -2147483648 ~ 2147483647, default: 2000000]
    I:pollutionSourRainLimit=2000000

    # Controls the threshold starting from which vegetation starts to be killed. [range: -2147483648 ~ 2147483647, default: 1000000]
    I:pollutionVegetationLimit=1000000

    # Make Railcraft Pollute [default: true]
    B:railcraftPollutes=true

    # Double Plant Blocks - Recolor Block List [default: [net.minecraft.block.BlockDoublePlant:FLOWER]]
    S:renderBlockDoublePlant <
        net.minecraft.block.BlockDoublePlant:FLOWER
     >

    # Liquid Blocks - Recolor Block List [default: [net.minecraft.block.BlockLiquid:LIQUID]]
    S:renderBlockLiquid <
        net.minecraft.block.BlockLiquid:LIQUID
     >

    # Crossed Squares - Recolor Block List [default: [net.minecraft.block.BlockTallGrass:FLOWER], [net.minecraft.block.BlockFlower:FLOWER], [biomesoplenty.common.blocks.BlockBOPFlower:FLOWER], [biomesoplenty.common.blocks.BlockBOPFlower2:FLOWER], [biomesoplenty.common.blocks.BlockBOPFoliage:FLOWER]]
    S:renderCrossedSquares <
        net.minecraft.block.BlockTallGrass:FLOWER
        net.minecraft.block.BlockFlower:FLOWER
        biomesoplenty.common.blocks.BlockBOPFlower:FLOWER
        biomesoplenty.common.blocks.BlockBOPFlower2:FLOWER
        biomesoplenty.common.blocks.BlockBOPFoliage:FLOWER
     >

    # Standard Blocks - Recolor Block List [default: [net.minecraft.block.BlockGrass:GRASS], [net.minecraft.block.BlockLeavesBase:LEAVES], [biomesoplenty.common.blocks.BlockOriginGrass:GRASS], [biomesoplenty.common.blocks.BlockLongGrass:GRASS], [biomesoplenty.common.blocks.BlockNewGrass:GRASS], [tconstruct.blocks.slime.SlimeGrass:GRASS], [thaumcraft.common.blocks.BlockMagicalLeaves:LEAVES]]
    S:renderStandardBlock <
        net.minecraft.block.BlockGrass:GRASS
        net.minecraft.block.BlockLeavesBase:LEAVES
        biomesoplenty.common.blocks.BlockOriginGrass:GRASS
        biomesoplenty.common.blocks.BlockLongGrass:GRASS
        biomesoplenty.common.blocks.BlockNewGrass:GRASS
        tconstruct.blocks.slime.SlimeGrass:GRASS
        thaumcraft.common.blocks.BlockMagicalLeaves:LEAVES
     >

    # Block Vine - Recolor Block List [default: [net.minecraft.block.BlockVine:FLOWER]]
    S:renderblockVine <
        net.minecraft.block.BlockVine:FLOWER
     >

    # Pollution Amount for Rockets [range: -2147483648 ~ 2147483647, default: 10000]
    I:rocketPollutionAmount=10000

    # Make rockets Pollute [default: true]
    B:rocketsPollute=true

    # Pollution Amount for tunnel bore [range: -2147483648 ~ 2147483647, default: 2]
    I:tunnelBorePollutionAmount=2
}


