# Configuration file

end_asteroids {
    # The maximum size for the end asteroids. [range: -2147483648 ~ 2147483647, default: 200]
    I:EndAsteroidMaxSize=200

    # The minimum size for the end asteroids. [range: -2147483648 ~ 2147483647, default: 200]
    I:EndAsteroidMinSize=200

    # The probability weight to generate end asteroids. [range: -2147483648 ~ 2147483647, default: 300]
    I:EndAsteroidProbability=300

    # if true, enables end asteroids. [default: true]
    B:generateEndAsteroids=true
}


general {
    # If true, disables vanilla oregen. [default: true]
    B:disableVanillaOres=true

    # if true, enables basalt ore gen. [default: true]
    B:generateBasaltOres=true

    # if true, enables black granite ore gen. [default: true]
    B:generateBlackGraniteOres=true

    # if true, enables marble ore gen. [default: true]
    B:generateMarbleOres=true

    # if true, enables red granite ore gen. [default: true]
    B:generateRedGraniteOres=true

    # if true, enables underground dirt gen. Does nothing if the vanilla oregen is enabled! [default: true]
    B:generateUndergroundDirtGen=true

    # if true, enables underground gravel gen. Does nothing if the vanilla oregen is enabled! [default: true]
    B:generateUndergroundGravelGen=true
}


