# Configuration file

worldgen {

    general {
        # If true, disables vanilla oregen. [default: true]
        B:disableVanillaOres=true

        # if true, enables basalt ore gen. [default: true]
        B:generateBasaltOres=true

        # if true, enables black granite ore gen. [default: true]
        B:generateBlackGraniteOres=true

        # if true, enables marble ore gen. [default: true]
        B:generateMarbleOres=true

        # if true, enables red granite ore gen. [default: true]
        B:generateRedGraniteOres=true

        # if true, enables underground dirt gen. Does nothing if the vanilla oregen is enabled! [default: true]
        B:generateUndergroundDirtGen=true

        # if true, enables underground gravel gen. Does nothing if the vanilla oregen is enabled! [default: true]
        B:generateUndergroundGravelGen=true
    }

    endasteroids {
        # The maximum range for the end asteroids. [range: -2147483648 ~ 2147483647, default: 15]
        I:EndAsteroidMaxSize=15

        # The minimum range for the end asteroids. [range: -2147483648 ~ 2147483647, default: 5]
        I:EndAsteroidMinSize=5

        # The probability weight to generate end asteroids. [range: -2147483648 ~ 2147483647, default: 4]
        I:EndAsteroidProbability=4

        # if true, enables end asteroids. [default: true]
        B:generateEndAsteroids=true
    }

}


