# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General options for the Quest Book mod.
##########################################################################################################

general {
    # [NYI]Disable party notifications.  Default: false
    B:disablePartyNotifications=false

    # [NYI]Disable quest notifications.  Default: false
    B:disableQuestNotifications=false
    B:fullySyncQuests=false

    # Enable this option so new players will spawn with a Quest Book.  Default: false
    B:spawnWithBook=true

    # Quest rewards can only be claimed once per party.  Default: false
    B:syncQuestRewards=false
}


