# Configuration file

crops {
    # Lower values increase the speed at which crops attempt to breed themselves. actual chance is measured as 1 / value every growth tick. [range: 1 ~ 2147483647, default: 3]
    I:"Breeding Chance"=3

    # The highest bound of the stat variation while breeding. [range: -31 ~ 31, default: 4]
    I:"Breeding Range High"=4

    # The lowest bound of the stat variation while breeding. [range: -31 ~ 31, default: -2]
    I:"Breeding Range Low"=-2

    # Set to true if you prefer your crops without a side of existential screaming. [default: false]
    B:"Disable crop sounds"=false

    # If you are fine with the random screams but not with the EXTREME HOWL that comes with walking on them, turn this off. [default: true]
    B:"Goldfish screams when stepped on"=true

    # The noise used for goldfish screams [default: mob.ghast.scream]
    S:"Goldfish sound"=mob.ghast.scream

    # This is a global growth rate multiplier [range: 0.0 ~ 2.0, default: 1.0]
    S:"Growth rate multiplier"=1.0
}


cropsnh {
    # The number of crops you get per crafting operation [range: 1 ~ 4, default: 4]
    I:"Crops per craft"=4

    # Set to true to enable easter eggs. [default: true]
    B:"Enable easter eggs"=true

    # Set to true if you wish to enable debug mode [default: false]
    B:debug=false
}


migrations {
    # When migrating IC2 crops, always create a "migration" that cannot grow but always returns a seed when harvested. [default: false]
    B:"Always use migration crop when migrating"=false

    # Enable the automatic conversion of existing IC2 crops into CropsNH's equivalent crops. [default: true]
    B:"Enable Migrations"=true
}


rendering {
    # When rendering crops, the default (false) is that the plants will only be re-rendered whenever the chunk updates, this basically means that whenever a crop grows it causes the chunk containing the plant to re-rendered.
    # For small farms this is the suggested approach, however for large farms, it is possible that a crop grows almost every tick, resulting in  re-rendering the chunk every tick, possibly causing huge FPS drops.
    # When setting this to true, there will no longer be chunk updates when a crop grows, but the rendering will be different: The plant will be rendered every tick (the sticks itself will still be rendered the default way), for small farms this is a bad approach,for large farms as well, but it might result in better FPS compared to the default.
    # I recommend leaving this on false, if you have FPS problems, set this to true and see for yourself if it is an improvement or not.
    # This config setting must match on server and client, the server should know if it should cause block updates and the client has to know how to render the crops [default: false]
    B:"Crop rendering setting"=false
}


weeds {
    # set to false if you wish to disable weeds [default: true]
    B:"Enable weeds"=true

    # Lower values increase the speed at which weeds spawn in empty crop sticks. actual chance is measured as 1 / value every growth tick. [range: 1 ~ 2147483647, default: 100]
    I:"Weed Spawn Chance"=100

    # Lower values increase the speed at which crops spread weeds, actual chance is (rand(value)-growth) <= 2. [range: 2 ~ 2147483647, default: 50]
    I:"Weed Spread Chance"=50

    # Set to false if you don't want weeds to be able to overgrow other plants. [default: true]
    B:"Weeds can overtake plants"=true
}


