# Configuration file

##########################################################################################################
# create_node
#--------------------------------------------------------------------------------------------------------#
# /salisarcana-create-node | Create a node at specified coordinates, optionally with specified brightness, type, and aspects.
##########################################################################################################

create_node {
    # Secondary names that refer to this command. [default: [create-node]]
    S:aliases <
        create-node
     >

    # Enable or disable the command. [default: true]
    B:commandEnabled=true

    # The permission level required to execute the command. [range: 0 ~ 4, default: 2]
    I:permissionLevel=2
}


##########################################################################################################
# forget_aspect
#--------------------------------------------------------------------------------------------------------#
# /salisarcana-forget-aspect | Forget one or more aspects from a player's knowledge.
##########################################################################################################

forget_aspect {
    # Secondary names that refer to this command. [default: [forget-aspect]]
    S:aliases <
        forget-aspect
     >

    # Enable or disable the command. [default: true]
    B:commandEnabled=true

    # The permission level required to execute the command. [range: 0 ~ 4, default: 2]
    I:permissionLevel=2
}


##########################################################################################################
# forget_research
#--------------------------------------------------------------------------------------------------------#
# /salisarcana-forget-research | Remove one or more research item's from a player's knowledge.
##########################################################################################################

forget_research {
    # Secondary names that refer to this command. [default: [forget-research]]
    S:aliases <
        forget-research
     >

    # Enable or disable the command. [default: true]
    B:commandEnabled=true

    # The permission level required to execute the command. [range: 0 ~ 4, default: 2]
    I:permissionLevel=2
}


##########################################################################################################
# forget_scanned
#--------------------------------------------------------------------------------------------------------#
# /salisarcana-forget-scanned | Remove entries from a player's list of scanned things
##########################################################################################################

forget_scanned {
    # Secondary names that refer to this command. [default: [forget-scanned]]
    S:aliases <
        forget-scanned
     >

    # Enable or disable the command. [default: true]
    B:commandEnabled=true

    # The permission level required to execute the command. [range: 0 ~ 4, default: 2]
    I:permissionLevel=2
}


##########################################################################################################
# help
#--------------------------------------------------------------------------------------------------------#
# /salisarcana-help | Get help information about Salis Arcana's commands.
##########################################################################################################

help {
    # Secondary names that refer to this command. [default: [arcana-help]]
    S:aliases <
        arcana-help
     >

    # Enable or disable the command. [default: true]
    B:commandEnabled=true

    # The permission level required to execute the command. [range: 0 ~ 4, default: 0]
    I:permissionLevel=0
}


##########################################################################################################
# infusion_symmetry
#--------------------------------------------------------------------------------------------------------#
# /salisarcana-infusion-symmetry | Get the symmetry of the nearest runic matrix within 8 blocks, or at the specified coordinates.
##########################################################################################################

infusion_symmetry {
    # Secondary names that refer to this command. [default: [infusion-symmetry]]
    S:aliases <
        infusion-symmetry
     >

    # Enable or disable the command. [default: true]
    B:commandEnabled=true

    # The permission level required to execute the command. [range: 0 ~ 4, default: 0]
    I:permissionLevel=0
}


##########################################################################################################
# list_research
#--------------------------------------------------------------------------------------------------------#
# /salisarcana-list-research | List and filter through TC4's research.
##########################################################################################################

list_research {
    # Secondary names that refer to this command. [default: [list-research]]
    S:aliases <
        list-research
     >

    # Enable or disable the command. [default: true]
    B:commandEnabled=true

    # The permission level required to execute the command. [range: 0 ~ 4, default: 0]
    I:permissionLevel=0

    # The permission level required to list another player's research. [range: 0 ~ 4, default: 2]
    I:permissionLevel_ListOthersResearch=2
}


##########################################################################################################
# prereqs
#--------------------------------------------------------------------------------------------------------#
# /salisarcana-prereqs | Lists the prerequisites to unlock a specific research, or the research required to craft a specific item.
##########################################################################################################

prereqs {
    # Secondary names that refer to this command. [default: [prereqs]]
    S:aliases <
        prereqs
     >

    # Enable or disable the command. [default: true]
    B:commandEnabled=true

    # The permission level required to execute the command. [range: 0 ~ 4, default: 0]
    I:permissionLevel=0
}


##########################################################################################################
# update_node
#--------------------------------------------------------------------------------------------------------#
# /salisarcana-update-node | Update the properties of a node at the specified coordinates.
##########################################################################################################

update_node {
    # Secondary names that refer to this command. [default: [update-node]]
    S:aliases <
        update-node
     >

    # Enable or disable the command. [default: true]
    B:commandEnabled=true

    # The permission level required to execute the command. [range: 0 ~ 4, default: 2]
    I:permissionLevel=2
}


##########################################################################################################
# upgrade_focus
#--------------------------------------------------------------------------------------------------------#
# /salisarcana-upgrade-focus | 
##########################################################################################################

upgrade_focus {
    # Secondary names that refer to this command. [default: [upgrade-focus]]
    S:aliases <
        upgrade-focus
     >

    # Enable or disable the command. [default: true]
    B:commandEnabled=true

    # The permission level required to execute the command. [range: 0 ~ 4, default: 2]
    I:permissionLevel=2
}
