# Configuration file

focus_disenchanting {
    # Research to unlock Focus Disenchanting in the Focal Manipulator. [default: true]
    B:_enabledfocusDisenchantingResearch=true

    # Allow players to use the Focal Manipulator to remove focus enchantments and refund XP. [default: true]
    B:enableFocusDisenchanting=true

    # Percentage of XP points refunded upon removing an enchantment from a focus, calculated as levels from 0 XP. [range: 0 ~ 100, default: 75]
    I:focusDisenchantingRefundPercentage=75

    # The aspects required for the research entry [default: [auram:4], [praecantatio:6], [vacuos:8], [perditio:4]]
    S:focusDisenchantingResearchAspects <
        auram:4
        praecantatio:6
        vacuos:8
        perditio:4
     >

    # Whether the research should automatically unlock as soon as its parents are researched. [default: false]
    B:focusDisenchantingResearchAutoUnlock=false

    # The tab in the Thaumonomicon in which the research should appear [default: THAUMATURGY]
    S:focusDisenchantingResearchCategory=THAUMATURGY

    # The column in the given category at which the research should appear [range: -2147483648 ~ 2147483647, default: -2]
    I:focusDisenchantingResearchCol=-2

    # The research entry IDs of the parent research entries [default: [FOCALMANIPULATION]]
    S:focusDisenchantingResearchParents <
        FOCALMANIPULATION
     >

    # Whether the research should be purchasable with aspects instead of the normal minigame [default: false]
    B:focusDisenchantingResearchPurchasable=false

    # The row in the given category at which the research should appear [range: -2147483648 ~ 2147483647, default: -8]
    I:focusDisenchantingResearchRow=-8

    # How much warp is applied upon researching this research. [range: 0 ~ 100, default: 0]
    I:focusDisenchantingResearchWarp=0
}


general {
    # While viewing the Thaumonomicon, enables ctrl + scroll to quick switch tabs [default: true]
    B:"Enable Scrollwheel"=true

    # While viewing the Thaumonomicon, inverts the scrolling for tab switching [default: false]
    B:"Inverse Scrolling"=false

    # While viewing the Thaumonomicon, right clicking in a research will take you back to the previous research, or back to the Thaumonomicon. [default: true]
    B:"Right-Click Navigation"=true

    # When closing the Thaumonomicon, it will remember the page you are on when it is reopened. Requires Right-Click Navigation to be enabled. [default: true]
    B:"Save Thaumonomicon Page"=true

    # While viewing the Thaumonomicon, allows you to view the internal name of a research while hovering over it and holding control [default: true]
    B:"Show Research Key"=true

    # Allows wand pedestals to draw from centivis instead of just regular nodes [default: true]
    B:"Wand Pedestal CV Support"=true

    # Allow Creative players to use the Focal Manipulator without the necessary XP. [default: true]
    B:creativeNoXPManipulator=true

    # While in creative mode, ctrl + left click on a research in the Thaumonomicon to complete it. [default: true]
    B:creativeOpThaumonomicon=true

    # Prevent tainted goo and taint tendrils from decaying for players in creative mode. [default: true]
    B:disableCreativeTaintedItemDecay=true

    # Override how eldritch altars pick where to try spawning crimson knights and eldritch guardians. Valid values: [DEFAULT, EVEN_SPREAD, CENTER_WEIGHTED] [default: DEFAULT]
    S:eldritchAltarSpawningMethod=DEFAULT

    # The maximum stack size for Eldritch Objects (Primordial Pearl, Eldritch Eye, Crimson Rites, Eldritch Obelisk Placer, Runed Tablet). [range: 1 ~ 64, default: 16]
    I:eldritchObjectStackSize=16

    # Add look-a-like greatwood and silverwood planks that behave as normal planks, instead of the weirdness of TC4's planks. [default: true]
    B:enableLookalikePlanks=true

    # Enable nodeModifierWeights? [default: false]
    B:enableNodeModifierWeights=false

    # Enable nodeTypeWeights? [default: false]
    B:enableNodeTypeWeights=false

    # If an upgrade fails to complete or is cancelled, the XP spent will get returned to the player. [default: true]
    B:focalDisenchanterReturnXP=true

    # Allow wands to have infinite vis in creative mode. [default: true]
    B:infiniteCreativeVis=true

    # Fixes some general jankiness with levitators, however, non-player entities will no longer be able to be lowered. [default: true]
    B:levitatorShiftFix=true

    # The chance for a mana bean to grow when a mana pod is updated. Lower values are more likely to grow, with 0 growing every random tick. [range: 0 ~ 100, default: 30]
    I:manaBeanGrowthChance=30

    # Node Modifier Worldgen Weights (normal, bright, pale, fading)
    I:nodeModifierWeights <
        972222
        9259
        9259
        9259
     >

    # Node Type Worldgen Weights (normal, unstable, dark, pure, hungry)
    I:nodeTypeWeights <
        944444
        16666
        16666
        16666
        5555
     >

    # Displays a "missing research" message to the player when a crucible recipe fails for lack of research. [default: true]
    B:notifyMissingResearchCrucible=true

    # Displays a "missing research" message to the player when an infusion recipe fails for lack of research. [default: true]
    B:notifyMissingResearchInfusion=true

    # Displays a "missing research" message in the Arcane Workbench GUI when recipe fails for lack of research. [default: true]
    B:notifyMissingResearchWorkbench=true

    # Allows the primal crusher to 3x3 mine blocks registered as stone, cobblestone, or stoneBricks in the ore dictionary. [default: true]
    B:primalCrusherMinesOredictionaryStone=true

    # By default, pure nodes only change the biome around them if they are either in tainted lands or inside of a silverwood tree. This setting allows pure nodes to change the biome around them regardless of their location. [default: true]
    B:pureNodeAlwaysMagicalForest=true

    # Adds additional functionality to internal research data. Used for compatibility with other mods (e.g. Automagy, Thaumic Tinkerer). [default: true]
    B:researchItemExtensions=true

    # Causes staffters to use their own translation string rather than being called "Staff" in the tooltip. [default: true]
    B:staffterNameTooltip=true

    # Prevent eldritch eyes and phials of essentia from being consumed when used in creative mode. [default: true]
    B:stopCreativeModeItemConsumption=true

    # Prevent random warp events from firing for players in creative mode. [default: true]
    B:suppressWarpEventsInCreative=true

    # The probability each tick that tainted goo and taint tendrils will decay. Lower numbers are more probable, higher numbers are less probable. Set to -1 to disable decay entirely. [range: -1 ~ 2147483647, default: 4321]
    I:taintedItemDecayChance=4321

    # Enable tab completion for Thaumcraft commands. [default: true]
    B:thaumcraftCommandTabCompletion=true

    # Allow the use of `ALL` as an argument for the warp command. [default: true]
    B:thaumcraftCommandWarpArgAll=true

    # Enable the ability to scan items in inventories using the Thaumometer. Replaces the Thaumic Inventory Scanning mod. [default: true]
    B:thaumicInventoryScanning=true

    # The duration in ticks that the thaumometer takes to scan an object. [range: 1 ~ 2147483647, default: 20]
    I:thaumometerDuration=20
    S:thaumometerScanContainersResearch=salisarcana:CHESTSCAN
    B:thaumometerScanResearchEnabled=true

    # Enables support for mods that increase the number of baubles slots. [default: true]
    B:useAllBaublesSlots=true
}


harvestlevels {
    # Override the harvest level of the primal crusher. [range: 0 ~ 2147483647, default: 5]
    I:crusherHarvestLevel=5

    # Override the harvest level of elemental tools. [range: 0 ~ 2147483647, default: 3]
    I:elementalHarvestLevel=3

    # Override the harvest level of the equal trade focus. -1 ignores harvest levels (vanilla Thaumcraft behavior). [range: -1 ~ 2147483647, default: -1]
    I:equalTradeFocusHarvestLevel=-1

    # Override the harvest level of the excavation focus. -1 ignores harvest levels (vanilla Thaumcraft behavior). [range: -1 ~ 2147483647, default: -1]
    I:excavationFocusHarvestLevel=-1

    # If enabled, the potency level of an equal trade or excavation focus will modify its harvest level by one level per level of potency. [default: true]
    B:potencyModifiesHarvestLevel=true

    # Override the harvest level of thaumium tools. [range: 0 ~ 2147483647, default: 3]
    I:thaumiumHarvestLevel=3

    # Override the harvest level of void metal tools. [range: 0 ~ 2147483647, default: 4]
    I:voidHarvestLevel=4
}


infusion {
    # Requires useStabilizerRewrite=true.
    # Blocks specified here will be factored into an infusion altar's symmetry, even if they normally would not.
    # FORMAT: `modId:blockId` or `modId:blockId:metadata` or `modId:blockId:metadata:strength`.
    #   Metadata:
    #     * Defaults to 0 if not set.
    #     * If set to * or 32767, all metadata variants of the block will be included.
    #   Strength:
    #     * Defaults to `stabilizerStrength` if not set.
    #     * Range: -10000 ~ 10000.
    #  [default: ]
    S:stabilizerAdditions <
     >

    # Requires useStabilizerRewrite=true.
    # Blocks specified here will NOT be factored into an infusion altar's symmetry even if they normally would.
    # FORMAT: `modId:blockId` or `modId:blockId:metadata`.
    #   Metadata:
    #     * Defaults to 0 if not set.
    #     * If set to * or 32767, all metadata variants of the block will be included.
    #  [default: ]
    S:stabilizerExclusions <
     >

    # Requires useStabilizerRewrite=true.
    # The amount (in one-hundredths of a point) of symmetry each stabilizer block adds to an infusion altar.
    # If a stabilizer doesn't have a symmetrical opposite, an equivalent amount of symmetry will be subtracted instead.
    #  [range: -10000 ~ 10000, default: 10]
    I:stabilizerStrength=10

    # Rewrites the Runic Matrix's surroundings-check logic to be more flexible when checking for pedestals and stabilizers. [default: false]
    B:useStabilizerRewrite=false
}


recipes {
    # Add crafting recipes to convert crystal cluster blocks back into primal shards. Does not work for mixed crystal clusters. [default: true]
    B:crystalClusterUncrafting=false

    # Make the primal charm's crafting recipe less picky about the order in which primal shards are placed in the top and bottom rows. [default: true]
    B:friendlyPrimalCharm=false

    # Add rotated recipes for the fire, shock, frost, equal rade, excavation, and primal wand foci. [default: true]
    B:rotatedFoci=false

    # Add a rotated crafting recipe for the Thaumometer. [default: true]
    B:rotatedThaumometer=false

    # Add a crafting recipe to convert flesh blocks back into rotten flesh. [default: true]
    B:rottenFleshRecipe=false
}


thaumometer_container_scan {
    # Enable the thaumometer to scan the contents of inventories when right-clicking on them. [default: true]
    B:_enabledthaumometerScanContainersResearch=true

    # Allow the thaumometer to scan the contents of inventories when right-clicking on them. [default: true]
    B:thaumometerScanContainers=true

    # The aspects required for the research entry [default: [ordo:10], [perditio:10], [permutatio:10]]
    S:thaumometerScanContainersResearchAspects <
        ordo:10
        perditio:10
        permutatio:10
     >

    # Whether the research should automatically unlock as soon as its parents are researched. [default: false]
    B:thaumometerScanContainersResearchAutoUnlock=false

    # The tab in the Thaumonomicon in which the research should appear [default: BASICS]
    S:thaumometerScanContainersResearchCategory=BASICS

    # The column in the given category at which the research should appear [range: -2147483648 ~ 2147483647, default: 8]
    I:thaumometerScanContainersResearchCol=8

    # The research entry IDs of the parent research entries [default: [DECONSTRUCTOR]]
    S:thaumometerScanContainersResearchParents <
        DECONSTRUCTOR
     >

    # Whether the research should be purchasable with aspects instead of the normal minigame [default: false]
    B:thaumometerScanContainersResearchPurchasable=false

    # The row in the given category at which the research should appear [range: -2147483648 ~ 2147483647, default: 3]
    I:thaumometerScanContainersResearchRow=3

    # How much warp is applied upon researching this research. [range: 0 ~ 100, default: 0]
    I:thaumometerScanContainersResearchWarp=0
}


wand_component_swapping {
    # Enable a recipe to swap an existing existing wand, scepter, or staff's caps. [default: true]
    B:_enabledreplaceWandCapsResearch=true

    # Enable a recipe to swap an existing existing wand, scepter, or staff's core. [default: true]
    B:_enabledreplaceWandCoreResearch=true

    # If enabled, allows swapping a wand's components using vis from the wand being modified. [default: true]
    B:allowSingleWandReplacement=true

    # If enabled, prevents swapping a wand core with a staff core or a staff core with a wand core.
    # Disable to allow upgrading a wand to a staff and vice versa. [default: true]
    B:enforceWandCoreTypes=true

    # If enabled, vis will be preserved when a wand, staff, or stave's components are replaced. [default: true]
    B:preserveWandVis=true

    # The aspects required for the research entry [default: ]
    S:replaceWandCapsResearchAspects <
     >

    # Whether the research should automatically unlock as soon as its parents are researched. [default: true]
    B:replaceWandCapsResearchAutoUnlock=true

    # The tab in the Thaumonomicon in which the research should appear [default: THAUMATURGY]
    S:replaceWandCapsResearchCategory=THAUMATURGY

    # The column in the given category at which the research should appear [range: -2147483648 ~ 2147483647, default: 4]
    I:replaceWandCapsResearchCol=4
    S:replaceWandCapsResearchName=REPLACEWANDCAPS

    # The research entry IDs of the parent research entries [default: [CAP_gold]]
    S:replaceWandCapsResearchParents <
        CAP_gold
     >

    # Whether the research should be purchasable with aspects instead of the normal minigame [default: false]
    B:replaceWandCapsResearchPurchasable=false

    # The row in the given category at which the research should appear [range: -2147483648 ~ 2147483647, default: 2]
    I:replaceWandCapsResearchRow=2

    # How much warp is applied upon researching this research. [range: 0 ~ 100, default: 0]
    I:replaceWandCapsResearchWarp=0

    # The aspects required for the research entry [default: ]
    S:replaceWandCoreResearchAspects <
     >

    # Whether the research should automatically unlock as soon as its parents are researched. [default: true]
    B:replaceWandCoreResearchAutoUnlock=true

    # The tab in the Thaumonomicon in which the research should appear [default: THAUMATURGY]
    S:replaceWandCoreResearchCategory=THAUMATURGY

    # The column in the given category at which the research should appear [range: -2147483648 ~ 2147483647, default: -6]
    I:replaceWandCoreResearchCol=-6
    S:replaceWandCoreResearchName=REPLACEWANDCORE

    # The research entry IDs of the parent research entries [default: [ROD_greatwood]]
    S:replaceWandCoreResearchParents <
        ROD_greatwood
     >

    # Whether the research should be purchasable with aspects instead of the normal minigame [default: false]
    B:replaceWandCoreResearchPurchasable=false

    # The row in the given category at which the research should appear [range: -2147483648 ~ 2147483647, default: 2]
    I:replaceWandCoreResearchRow=2

    # How much warp is applied upon researching this research. [range: 0 ~ 100, default: 0]
    I:replaceWandCoreResearchWarp=0
}


