# Configuration file

general {
    # Enable compatibility with UndergroundBiomes. [default: true]
    B:UndergroundBiomes=true
}


tc4tweaks {
    # Whether or not scrolling should scroll to next page of tabs or loop to first tab of the page, in the event that there are too many tabs. [default: true]
    B:tc4tweakScrollPages=true
}


undergroundbiomes {
    # Allow the primal crusher to mine UBC slabs. [default: true]
    B:primalCrusherMinesSlabs=true
}


