# Configuration file

"baubles|expanded" {
    # Add a special bauble slot specifically for the Focus Pouch. [default: true]
    B:focusPouchSlot=true
}


general {
    # Enable compatibility with Baubles|Expanded. [default: true]
    B:"Baubles|Expanded"=true

    # Enable compatibility with UndergroundBiomes. [default: true]
    B:UndergroundBiomes=true

    # Enable compatibility with gtnhtcwands. [default: true]
    B:gtnhtcwands=true
}


gtnhtcwands {
    # Require screws and conductors to swap wand/staff cores. [default: true]
    B:coreSwapMaterials=true

    # Use the increased vis costs from GTNHTCWands. [default: true]
    B:cost=true
}


undergroundbiomes {
    # Allow the primal crusher to mine UBC slabs. [default: true]
    B:primalCrusherMinesSlabs=true
}
