# Configuration file

##########################################################################################################
# HarvestLevelNames
#--------------------------------------------------------------------------------------------------------#
# Use materialnames to set the name of a harvest level. The entrties have to either be identifiers for Tinker-Materials OR the registered names of items.
# For Example: 'Level0=wood' would change the first harvest level to wood from stone. Likewise 'Level5=minecraft:emerald' would change that level to Emerald.
##########################################################################################################

HarvestLevelNames {
}


