# Configuration file

##########################################################################################################
# HarvestLevelNames
#--------------------------------------------------------------------------------------------------------#
# Use materialnames to set the name of a harvest level. Check the MaterialDefaults file for the material names.
# For Example: 'Level0=wood' would change the first harvest level to wood from stone.
##########################################################################################################

HarvestLevelNames {
}


