# Configuration file

materials {

    wood {
        I:attack=1
        S:color=yellow
        I:durability=38
        D:handleModifier=1.0
        I:harvestLevel=0
        I:miningSpeed=150
        I:reinforced=0
        D:shoddy=0.0
    }

    stone {
        I:attack=1
        S:color=gray
        I:durability=75
        D:handleModifier=0.30000001192092896
        I:harvestLevel=0
        I:miningSpeed=150
        I:reinforced=0
        D:shoddy=1.0
    }

    iron {
        I:attack=3
        S:color=white
        I:durability=188
        D:handleModifier=1.2000000476837158
        I:harvestLevel=3
        I:miningSpeed=600
        I:reinforced=1
        D:shoddy=0.0
    }

    flint {
        I:attack=2
        S:color=dark_gray
        I:durability=113
        D:handleModifier=0.5
        I:harvestLevel=1
        I:miningSpeed=400
        I:reinforced=0
        D:shoddy=0.0
    }

    cactus {
        I:attack=3
        S:color=dark_green
        I:durability=83
        D:handleModifier=1.0
        I:harvestLevel=0
        I:miningSpeed=500
        I:reinforced=0
        D:shoddy=-1.0
    }

    bone {
        I:attack=2
        S:color=yellow
        I:durability=151
        D:handleModifier=1.0800000429153442
        I:harvestLevel=1
        I:miningSpeed=300
        I:reinforced=0
        D:shoddy=0.0
    }

    obsidian {
        I:attack=2
        S:color=light_purple
        I:durability=67
        D:handleModifier=0.800000011920929
        I:harvestLevel=6
        I:miningSpeed=650
        I:reinforced=3
        D:shoddy=0.0
    }

    netherrack {
        I:attack=1
        S:color=dark_red
        I:durability=92
        D:handleModifier=1.2000000476837158
        I:harvestLevel=0
        I:miningSpeed=456
        I:reinforced=0
        D:shoddy=1.0
    }

    slime {
        I:attack=1
        S:color=green
        I:durability=375
        D:handleModifier=2.0
        I:harvestLevel=0
        I:miningSpeed=100
        I:reinforced=0
        D:shoddy=0.0
    }

    paper {
        I:attack=1
        S:color=white
        I:durability=16
        D:handleModifier=0.30000001192092896
        I:harvestLevel=0
        I:miningSpeed=100
        I:reinforced=0
        D:shoddy=0.0
    }

    cobalt {
        I:attack=4
        S:color=dark_aqua
        I:durability=600
        D:handleModifier=1.75
        I:harvestLevel=8
        I:miningSpeed=1100
        I:reinforced=2
        D:shoddy=0.0
    }

    ardite {
        I:attack=4
        S:color=dark_red
        I:durability=455
        D:handleModifier=2.0999999046325684
        I:harvestLevel=7
        I:miningSpeed=800
        I:reinforced=0
        D:shoddy=2.0
    }

    manyullyn {
        I:attack=5
        S:color=dark_purple
        I:durability=900
        D:handleModifier=2.5
        I:harvestLevel=9
        I:miningSpeed=900
        I:reinforced=0
        D:shoddy=0.0
    }

    copper {
        I:attack=2
        S:color=red
        I:durability=135
        D:handleModifier=1.100000023841858
        I:harvestLevel=2
        I:miningSpeed=500
        I:reinforced=0
        D:shoddy=0.0
    }

    bronze {
        I:attack=3
        S:color=gold
        I:durability=285
        D:handleModifier=1.25
        I:harvestLevel=4
        I:miningSpeed=650
        I:reinforced=1
        D:shoddy=0.0
    }

    alumite {
        I:attack=4
        S:color=light_purple
        I:durability=413
        D:handleModifier=1.2999999523162842
        I:harvestLevel=6
        I:miningSpeed=790
        I:reinforced=2
        D:shoddy=0.0
    }

    steel {
        I:attack=3
        S:color=gray
        I:durability=300
        D:handleModifier=1.2999999523162842
        I:harvestLevel=5
        I:miningSpeed=700
        I:reinforced=2
        D:shoddy=0.0
    }

    blueslime {
        I:attack=1
        S:color=aqua
        I:durability=900
        D:handleModifier=1.5
        I:harvestLevel=0
        I:miningSpeed=150
        I:reinforced=0
        D:shoddy=0.0
    }

    pigiron {
        I:attack=3
        S:color=red
        I:durability=500
        D:handleModifier=1.350000023841858
        I:harvestLevel=5
        I:miningSpeed=780
        I:reinforced=1
        D:shoddy=0.0
    }

    thaumium {
        I:attack=3
        S:color=dark_purple
        I:durability=150
        D:handleModifier=1.1799999475479126
        I:harvestLevel=3
        I:miningSpeed=650
        I:reinforced=0
        D:shoddy=0.0
    }

    string {
        I:attack=0
        S:color=white
        I:durability=33
        D:handleModifier=0.009999999776482582
        I:harvestLevel=0
        I:miningSpeed=1
        I:reinforced=0
        D:shoddy=0.0
    }

}


