# Configuration file

##########################################################################################################
# toolparts
#--------------------------------------------------------------------------------------------------------#
# Restriction Module: Allows to blacklist certain ToolParts from being created with specific Materials!
# The allowed and restricted entries are (=should be) equal. They're just both there for visibility.
# Any material not listed in any category will stay untouched.
##########################################################################################################

toolparts {
    # This section is a negative of the above restricted section, and will be applied AFTER restricted parts.
    # That means only the parts listed here will be craftable, none of the other parts with this material.
    # If a Material does not show up here, it will be unmodified. Otherwise all other recipes for this material will be deleted.
    # ATTENTION: THIS DOES NOT ALLOW YOU TO ADD NEW RECIPES. ONLY EXISTING ONES WORK. This exists purely for convenience.(materialnames and partnames are the same as restricted parts) [default: [Wood:rod], [Wood:crossbar], [Wood:binding], [Wood:sign], [Wood:bowlimb], [Wood:crossbowlimb], [Wood:crossbowbody], [Flint:pickaxe], [Flint:shovel], [Flint:axe], [Flint:knifeblade], [Flint:arrowhead], [Flint:shuriken], [Bone:rod], [Bone:shovel], [Bone:axe], [Bone:crossbar], [Bone:knifeblade], [Bone:arrowhead], [Bone:bowlimb], [Bone:crossbowlimb], [Bone:crossbowbody], [Cactus:rod], [Cactus:binding], [Cactus:knifeblade], [Cactus:shuriken], [Paper:rod], [Paper:binding], [Slime:rod], [Slime:sign], [Slime:binding], [Slime:bowlimb], [Slime:crossbowlimb], [Slime:crossbowbody], [BlueSlime:rod], [BlueSlime:binding], [BlueSlime:bowlimb], [BlueSlime:crossbowlimb], [BlueSlime:crossbowbody], [Netherrack:rod], [Netherrack:pickaxe], [Netherrack:shovel], [Netherrack:axe], [Netherrack:largeguard], [Netherrack:mediumguard], [Netherrack:crossbar], [Netherrack:binding], [Netherrack:sign], [Netherrack:largerod], [Netherrack:toughbinding], [Netherrack:largeplate], [Netherrack:broadaxe], [Netherrack:scythe], [Netherrack:excavator], [Netherrack:fullguard], [Netherrack:arrowhead], [Netherrack:crossbowbody], [Obsidian:rod], [Obsidian:pickaxe], [Obsidian:shovel], [Obsidian:axe], [Obsidian:largeguard], [Obsidian:mediumguard], [Obsidian:crossbar], [Obsidian:binding], [Obsidian:sign], [Obsidian:largerod], [Obsidian:toughbinding], [Obsidian:largeplate], [Obsidian:broadaxe], [Obsidian:scythe], [Obsidian:excavator], [Obsidian:hammerhead], [Obsidian:fullguard], [Obsidian:arrowhead], [Obsidian:crossbowbody], [Obsidian:shuriken]]
    S:allowed <
        Wood:rod
        Wood:crossbar
        Wood:binding
        Wood:sign
        Wood:bowlimb
        Wood:crossbowlimb
        Wood:crossbowbody
        Flint:pickaxe
        Flint:shovel
        Flint:axe
        Flint:knifeblade
        Flint:arrowhead
        Flint:shuriken
        Bone:rod
        Bone:shovel
        Bone:axe
        Bone:crossbar
        Bone:knifeblade
        Bone:arrowhead
        Bone:bowlimb
        Bone:crossbowlimb
        Bone:crossbowbody
        Cactus:rod
        Cactus:binding
        Cactus:knifeblade
        Cactus:shuriken
        Paper:rod
        Paper:binding
        Slime:rod
        Slime:sign
        Slime:binding
        Slime:bowlimb
        Slime:crossbowlimb
        Slime:crossbowbody
        BlueSlime:rod
        BlueSlime:binding
        BlueSlime:bowlimb
        BlueSlime:crossbowlimb
        BlueSlime:crossbowbody
        Netherrack:rod
        Netherrack:pickaxe
        Netherrack:shovel
        Netherrack:axe
        Netherrack:largeguard
        Netherrack:mediumguard
        Netherrack:crossbar
        Netherrack:binding
        Netherrack:sign
        Netherrack:largerod
        Netherrack:toughbinding
        Netherrack:largeplate
        Netherrack:broadaxe
        Netherrack:scythe
        Netherrack:excavator
        Netherrack:fullguard
        Netherrack:arrowhead
        Netherrack:crossbowbody
        Obsidian:rod
        Obsidian:pickaxe
        Obsidian:shovel
        Obsidian:axe
        Obsidian:largeguard
        Obsidian:mediumguard
        Obsidian:crossbar
        Obsidian:binding
        Obsidian:sign
        Obsidian:largerod
        Obsidian:toughbinding
        Obsidian:largeplate
        Obsidian:broadaxe
        Obsidian:scythe
        Obsidian:excavator
        Obsidian:hammerhead
        Obsidian:fullguard
        Obsidian:arrowhead
        Obsidian:crossbowbody
        Obsidian:shuriken
     >

    # Prevents the creation of listed Material-Tool combinations.
    # The format is <materialname>:<partname>
    # materialnames are: Wood, Stone, Iron, Flint, Cactus, Bone, Obsidian, Netherrack, SteelMagnetic, Slime, NeodymiumMagnetic, Paper, Cobalt, GraniteRed, Ardite, IronMagnetic, Manyullyn, Copper, Bronze, Alumite, BlueSlime, Steel, PigIron, Thaumium, Amethyst, Blaze, ShadowIron, ShadowSteel, Steeleaf, Knightmetal, SterlingSilver, RoseGold, TinAlloy, Topaz, Ultimet, Bedrockium, String, unstableIngot, WroughtIron, WoodSealed, IronWood, MagicWood, Olivine, Opal, Mithril, Midasium, GarnetRed, CobaltBrass, Thaumium, GarnetYellow, GraniteBlack, Vinteum, BismuthBronze, BlackBronze, RedSteel, BlackSteel, DamascusSteel, BlueSteel, AstralSilver, TungstenSteel, BlueTopaz, Brass, Osmiridium, Sunnarium, Galgadorian, Reinforced, Vyroxeres, EnhancedGalgadorian, Tritanium, Vulcanite, Oureclase, Prometheum, NetherStar, Orichalcum, Naquadria, NetherQuartz, Tanzanite, StainlessSteel, Sapphire, Ruby, Rubber, Plastic, Nichrome, Magnalium, Kanthal, Invar, GreenSapphire, Emerald, Electrum, Diamond, DeepIron, Cupronickel, Force, Graphite, Graphene, Haderoth, EnderiumBase, Eximite, FierySteel, Firestone, Desh, Duranium, ElectrumFlux, Enderium, Carmot, Celenegil, CertusQuartz, DarkIron, Naquadah, MeteoricSteel, NaquadahEnriched, NaquadahAlloy, InfusedOrder, InfusedEntropy, MeteoricIron, Inolashite, InfusedFire, InfusedAir, InfusedWater, InfusedEarth, HSLA, Hepatizon, InfusedGold, Infuscolium, Bismuth, Carbon, Aluminium, Beryllium, RedstoneAlloy, Soularium, DarkSteel, ConductiveIron, Titanium, Tungsten, Uranium, Uranium235, Adamantium, Amber, Angmallen, Atlarus, ElectricalSteel, EnergeticAlloy, VibrantAlloy, PulsatingIron, Molybdenum, Manganese, Neutronium, Neodymium, Gold, Chrome, Lead, Iridium, Plutonium241, Plutonium, Thorium, Silver, Osmium, Nickel, Platinum, Palladium
    # partnames are: frypan, swordblade, chisel, knifeblade, toughbinding, pickaxe, scythe, mediumguard, crossbowbody, largeplate, axe, largeblade, bowlimb, fullguard, largeguard, crossbowlimb, sign, crossbar, rod, shuriken, excavator, hammerhead, shovel, broadaxe, binding, arrowhead, largerod, 
    #  [default: ]
    S:restricted <
     >
}


