# Configuration file

##########################################################################################################
#  info
#--------------------------------------------------------------------------------------------------------#
# Copy the desired tools you want to change from the defaults file into this file and adapt the stats.
# 
# Mining Levels:
# 	0 - §7Stone
# 	1 - §6Copper
# 	2 - §8Iron
# 	3 - §fTin
# 	4 - §cRedstone
# 	5 - §dObsidian
# 	6 - §4Ardite
# 	7 - §3Cobalt
# 	8 - §5Manyullyn
# 	9 - §5Manyullyn§d+
# 
##########################################################################################################

" info" {
    # Fills this file with the default values, not altering changed values.
    B:fillWithDefault=false

    # Removes all entries that correspond to the default values.
    B:removeDefaultValues=false
}


