# Configuration file

##########################################################################################################
#  info
#--------------------------------------------------------------------------------------------------------#
# Copy the desired tools you want to change from the defaults file into this file and adapt the stats.
# 
# Mining Levels:
# 	0 - §700-Stone
# 	1 - §601-Copper
# 	2 - §802-Iron
# 	3 - §f03-Tin
# 	4 - §c04-Redstone
# 	5 - §d05-Obsidian
# 	6 - §406-Ardite
# 	7 - §307-Cobalt
# 	8 - §508-Manyullyn
# 	9 - §508-Manyullyn§d+
# 	10 - 10
# 
##########################################################################################################

" info" {
    # Fills this file with the default values, not altering changed values.
    B:fillWithDefault=false

    # Removes all entries that correspond to the default values.
    B:removeDefaultValues=false
}


emt {

    chainsawstream {
        I:axe=9
    }

    diamondchainsaw {
        I:axe=5
    }

    thaumiumomnitool {
        I:pickaxe=9
    }

    drillrockbreaker {
        I:pickaxe=9
    }

    thaumiumdrill {
        I:pickaxe=7
    }

    omnitool {
        I:pickaxe=5
    }

    "diamond omnitool" {
        I:pickaxe=7
    }

    thaumiumchainsaw {
        I:axe=7
    }

}


extrautilities {

    destructionpickaxe {
        I:pickaxe=8
    }

    defoliageaxe {
        I:axe=8
    }

    erosionshovel {
        I:shovel=8
    }

}


galacticraftcore {

    item_steel_shovel {
        I:shovel=8
    }

    item_steel_pickaxe {
        I:pickaxe=8
    }

    item_steel_axe {
        I:axe=8
    }

}


galacticraftmars {

    item_deshspade {
        I:shovel=9
    }

    item_titanium_shovel {
        I:shovel=8
    }

    item_deshpickslime {
        I:pickaxe=9
    }

    item_deshpick {
        I:pickaxe=6
    }

    item_titanium_pickaxe {
        I:pickaxe=8
    }

    item_deshaxe {
        I:axe=9
    }

    item_titanium_axe {
        I:axe=8
    }

}


galaxyspace {

    item_lead_axe {
        I:axe=6
    }

    item_quant_spade {
        I:shovel=9
    }

    item_quant_pick {
        I:pickaxe=9
    }

    item_laser_axe {
        I:axe=9
    }

    item_quant_axe {
        I:axe=9
    }

    item_lead_pick {
        I:pickaxe=6
    }

    item_lead_spade {
        I:shovel=6
    }

    item_laser_pick {
        I:pickaxe=9
    }

    item_plasmashovel {
        I:shovel=9
    }

    item_plasmaaxe {
        I:axe=9
    }

    item_plasmapickaxe {
        I:pickaxe=9
    }

}


gravisuite {

    advchainsaw {
        I:axe=9
    }

    advddrill {
        I:pickaxe=9
        I:shovel=9
    }

}


taintedmagic {

    shadowspade {
        I:shovel=9
    }

    shadowpick {
        I:pickaxe=9
    }

    shadowaxe {
        I:axe=9
    }

    itemshadowmetalspade {
        I:shovel=9
    }

    itemshadowmetalaxe {
        I:axe=9
    }

    itemshadowmetalpick {
        I:pickaxe=9
    }

}


thaumcraft {

    itemshovelthaumium {
        I:shovel=5
    }

    itempickthaumium {
        I:pickaxe=5
    }

    itempickvoid {
        I:pickaxe=7
    }

    itemshovelvoid {
        I:shovel=7
    }

    itemaxethaumium {
        I:axe=5
    }

    itemprimalcrusher {
        I:pickaxe=-1
        I:shovel=-1
    }

    itemshovelelemental {
        I:shovel=7
    }

    itemaxevoid {
        I:axe=6
    }

    itempickaxeelemental {
        I:pickaxe=7
    }

    itemaxeelemental {
        I:axe=7
    }

}


thaumicbases {

    thauminiteshovel {
        I:shovel=8
    }

    thauminitesword {
        I:sword=8
    }

    thauminiteaxe {
        I:axe=8
    }

    thauminitepickaxe {
        I:pickaxe=8
    }

    thauminitehoe {
        I:hoe=8
    }

    thauminiteshears {
        I:shears=8
    }

}


thaumictinkerer {

    ichorshovelgem {
        I:shovel=9
    }

    ichorpickgem {
        I:pickaxe=9
    }

    ichorpick {
        I:pickaxe=8
    }

    ichoraxegem {
        I:axe=9
    }

    ichorshovel {
        I:shovel=8
    }

    ichoraxe {
        I:axe=8
    }

}


twilightforest {

    item_fierypick {
        I:pickaxe=7
    }

    item_ironwoodshovel {
        I:shovel=7
    }

    item_knightlypick {
        I:pickaxe=7
    }

    item_steeleafpick {
        I:pickaxe=8
    }

    item_steeleafshovel {
        I:shovel=8
    }

    item_mazebreakerpick {
        I:pickaxe=9
    }

    item_giantpick {
        I:pickaxe=0
    }

    item_ironwoodpick {
        I:pickaxe=7
    }

    item_ironwoodaxe {
        I:axe=7
    }

    item_minotauraxe {
        I:axe=9
    }

    item_steeleafaxe {
        I:axe=8
    }

    item_knightlyaxe {
        I:axe=7
    }

}


witchery {

    kobolditepickaxe {
        I:pickaxe=9
    }

}


